$separator:20px;
.action-list-item {
    border-left: 1px solid #cfd5dc;
    margin-left: 1*$separator !important;
  }

.new-child-item {
    margin-left: 2*$separator !important;
  }

.anticon{
    vertical-align: .1em!important;
}

.activeItem{
    background-color: #fafafa;
    color: #00263a;
    font-weight: bold;
}

.clsCollapse{
    cursor:pointer;
}
