<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="75%"
  nzVisible="true"
  nzTitle="Apoyos"
  (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">
  <ng-container *nzModalContent>
    <article [formGroup]="formData">
      <nz-collapse>
        <ng-container *ngFor="let apoyo of formDataArray.controls; let i = index">
          <nz-collapse-panel formArrayName="apoyos"
            [nzHeader]="getPanelTitle(apoyo)">
            <section [formGroupName]="i">
              <!-- BUTTONS -->
              <ng-container
                *ngTemplateOutlet="isInProgram(apoyo.get('clave')?.value) ? OriginalButtons : NewButtons; context: {apoyo: apoyo, index: i}">
              </ng-container>

              <!-- Clave -->
              <section class="modal-modalidad-section">
                <nz-form-label nzRequired>
                  <h4>Clave</h4>
                </nz-form-label>
                <nz-form-item class="form-group my-3">
                  <nz-form-control nzErrorTip="Por favor, ingrese una clave válida">
                    <nz-input-group nzPrefixIcon="edit">
                      <input type="text"
                        nz-input
                        placeholder="Clave de la modalidad"
                        formControlName="clave"
                        readonly />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </section>
              <!-- Title -->
              <section class="modal-modalidad-section">
                <nz-form-label nzRequired>
                  <h4>Nombre</h4>
                </nz-form-label>
                <nz-form-item class="form-group my-3">
                  <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
                    <nz-input-group nzPrefixIcon="edit">
                      <input type="text"
                        nz-input
                        placeholder="Nombre de la modalidad"
                        formControlName="nombre" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </section>
              <!-- Tipo -->
              <section class="modal-modalidad-section bg-contraste-blanco">
                <nz-form-label nzRequired>
                  <h4>Tipo de modalidad</h4>
                </nz-form-label>
                <nz-radio-group nzSize="large"
                  class="form-group my-3 d-flex"
                  formControlName="tipo">
                  <label nzValue="VIM"
                    nz-radio-button> VIM </label>
                  <label nzValue="PEU"
                    nz-radio-button> PEU </label>
                  <label nzValue="PEUESPECIAL"
                    nz-radio-button> PEU con solicitud </label>
                </nz-radio-group>
              </section>

              <!-- Datos adicionales -->
               <section class="modal-modalidad-section">
                <h4>Campos adicionales</h4>
                <button type="button"
                class="btn btn-custom-secondary mt-2"
                nzTooltipTitle="Editar campos adicionales"
                (click)="onShowAdditionalDataModal(i)">
                <em nz-icon
                  nzType="edit"
                  nzTheme="outline"></em>
                  Editar campos adicionales
              </button>
              </section>
              

              


              <!------------ GUARDAR --------------->
              <section class="text-end mt-3">
                <button class=" btn btn-custom-success ms-5 me-2 w-btn"
                  (click)="onSave(i)">Guardar</button>
              </section>
            </section>
          </nz-collapse-panel>
        </ng-container>
      </nz-collapse>

      <button type="button"
        class="btn-custom-radio-big-success my-3 mx-auto w-btn"
        (click)="onAdd()">
        <span nz-icon
          nzType="plus"
          nzTheme="outline"></span>
      </button>

    </article>
  </ng-container>
</nz-modal>

<app-additional-data-modal *ngIf="showAdditionalDataModal"
  [program]="program"
  [formDataApoyo]="formDataArray"
  (onCloseModal)="onShowAdditionalDataModal()"
  (arrayFormAdditionalModalHijo)="arrayFormAdditionalModalPadre($event)"
  [modalidadIndex]="modalidadIndex"
  [apoyoIndex]="apoyoIndex"></app-additional-data-modal>

<app-yes-no-modal *ngIf="showConfirmModal"
  [title]="confirmModalTitle"
  [content]="confirmModalMsg"
  (isAccept)="onModalAccept($event)"></app-yes-no-modal>

<ng-template #EnableButton
  let-apoyo="apoyo"
  let-index="index">
  <button type="button"
    class="btn-custom-radio-big-success x-3 w-btn"
    nzTooltipTitle="Habilitar apoyo"
    nz-tooltip
    (click)="onPause(index)">
    <span nz-icon
      nzType="caret-right"
      nzTheme="outline"></span>
  </button>
</ng-template>
<ng-template #DisableButton
  let-apoyo="apoyo"
  let-index="index">

  <button type="button"
    class="btn-custom-radio-big-secondary mx-3 w-btn"
    nzTooltipTitle="Pausar apoyo"
    nz-tooltip
    (click)="onPause(index)">
    <span nz-icon
      nzType="pause"
      nzTheme="outline"></span>
  </button>
</ng-template>

<ng-template #NewButtons
  let-apoyo="apoyo"
  let-index="index">
  <section class="text-end">
    <button type="button"
      class="btn-custom-radio-big-danger mx-3 w-btn"
      nzTooltipTitle="Cancelar nuevo apoyo"
      nz-tooltip
      (click)="onDelete(index, true)">
      <span nz-icon
        nzType="close"
        nzTheme="outline"></span>
    </button>
  </section>
</ng-template>

<ng-template #OriginalButtons
  let-apoyo="apoyo"
  let-index="index">
  <section class="text-end">
    <ng-container
      *ngTemplateOutlet="apoyo.get('habilitado')?.value == false ? EnableButton : DisableButton; context: {apoyo: apoyo, index: index}">
    </ng-container>

    <button type="button"
      class="btn-custom-radio-big-danger mx-3 w-btn"
      nzTooltipTitle="Eliminar apoyo"
      nz-tooltip
      (click)="onDelete(index)">
      <span nz-icon
        nzType="delete"
        nzTheme="outline"></span>
    </button>
  </section>
</ng-template>