@import '../../../../../assets/styles/functions.scss';

.card-q{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgb(0 0 0 / 40%);

    width: 20rem;
    height: 12rem;
    margin: 1.5rem 1.5rem;
    padding: 1rem 1rem;
    border-radius: 0.6rem;

    &-header{
        &-modality{
            position: absolute;
            top: 0pt;
            left: 0pt;
            color: getColor('azul-principal') !important;
            padding: 0.5rem 0.5rem;
            border-top-right-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
            color: getColorTexto('blanco');
            cursor: pointer;
        }

        &-q{
            position: absolute;
            top: 0pt;
            right: 0pt;
            background: getBgColor('azul-principal');
            padding: 0.5rem 0.5rem;
            border-top-right-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
            color: getColorTexto('blanco');
        }

    }

    &-title{
        font-size: 1rem;
        color: #646369;
        text-align: center;
        margin-top: 1rem;
    }

    &-actions{
        font-size: 2rem;

    }

    &-footer{
        position: absolute;
        bottom: -1pt;
        left: 0pt;
        background: getBgColor('info');
        border: 0.1rem getBgColor('info');
        width: 100%;
        height: 0.3rem;
    }
}