<div class="card-q">
    <div class="card-q-header d-flex justify-content-around">
        <div class="card-q-header-modality" nz-tooltip nzTooltipTitle="{{q_data.nombre}}">
            {{q_data.clave}}
        </div>
        <div class="card-q-header-q">
            {{q_data.apoyo.clave}}
        </div>
    </div>
    <div class="card-q-title">
        {{q_data.apoyo.nombre}}
    </div>
    <div class="card-q-actions d-flex justify-content-center">
        <button class="btn-custom-primary" (click)="showDetail(q_data)">
            <p class="txt-blanco">Ver detalle</p>
        </button>
    </div>
</div>