<div class="pt-5 pb-5">
  <ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

  <section>
    <div class="row mt-5">
      <div class="col-sm-12 col-md-8">
        <h1>Solicitudes canceladas</h1>
        <h5>{{ token.dependencyName }} {{ token.programName ? ': ' + token.programName : ''}}</h5>
        <app-apoyos-select (emitSelected)="updateSelectedApoyo($event)" [specialSelection]="false"></app-apoyos-select>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
  </section>

  <section class="row mt-2">
    <div class="col-md-2 col-sm-4" *ngFor="let kpi of kpiList | keyvalue:onCompare">
      <app-mini-kpi [kpiData]="kpi.value" (typeOutput)="onKpiSelect($event)"></app-mini-kpi>
    </div>
  </section>

  <section class="pt-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Filtrar Palabras Clave</h5>
        <div class="d-flex">
          <nz-input-group nzPrefixIcon="search" id="search-request-input">
            <input nz-input type="text" name="filterWord" [(ngModel)]="filterWord" placeholder="Palabras clave" />
          </nz-input-group>
          <button class="btn btn-custom-primary" (click)="onSolicitudFilter()"
            [disabled]="filterWord.length === 0">Buscar</button>
          <button *ngIf="isFiltered" class="btn btn-custom-info" (click)="onClearFilter()">Limpiar</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <section *ngIf="notData">
      <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="d-flex justify-content-center">
              <img class="no-data-icon" src="../../../../../assets/images/iconos/no-data.png" alt="no_data_found">
            </div>
            <h3 class="text-center">No se encontró información</h3>
          </div>
        </div>
      </div>
    </section>
    <ng-container *ngIf="!notData">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mt-4" *ngFor="let card of cardList">
          <app-applicant-card [cardData]="card" (detailsButtonClickEvent)="onApplicantCardClick($event)"
            (ActionsOnFolioEvent)="actionsOnFolioEvent($event)"></app-applicant-card>
        </div>
      </div>
    </ng-container>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-4 pt-2">
        <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
          [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords">
        </nz-pagination>
      </div>
    </div>
  </section>
</div>

<!-- Detail modal -->
<modal-delivered-applicant *ngIf="observationModal" 
[modalData]="modalData"
(closeModalEvent)="colseDeliverredModal()">
</modal-delivered-applicant>
