<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="75%" [(nzVisible)]="showModal" nzTitle="Agregar detalle" (nzOnCancel)="onCloseModal()" (nzOnOk)="onCloseModal()">
  <ng-container *nzModalContent>
    <div class="contenido-modal">
      <div class="row mt-3">
        <div class="col-md-6 d-flex justify-content-center">
          <h1> {{modality_data.apoyo.clave}}</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <h2>{{modality_data.nombre}}</h2>
        </div>
      </div>
      <form nz-form [formGroup]="form_detail_peu" [nzLayout]="'vertical'">
        <div class="row">
          <!-- div descripcion -->
          <div class="col-md-4">
            <nz-form-item class="form-group my-3">
              <nz-form-label nzRequired>Descripción</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, ingrese la descripción">
                <nz-input-group nzPrefixIcon="edit">
                  <input nz-input formControlName="description" placeholder="Descripción"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- div fecha  -->
          <div class="col-md-4">
            <nz-form-item class="form-group my-3">
              <nz-form-label nzRequired>Fecha</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, ingresa la fecha de entrega">
                  <nz-date-picker formControlName="date" (ngModelChange)="onChangeDatePicker($event)"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!-- div monto  -->
          <div class="col-md-4">
            <nz-form-item class="form-group my-3">
              <nz-form-label nzRequired>Monto</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, ingrese el monto">
                <nz-input-group nzPrefixIcon="dollar">
                  <input nz-input formControlName="monto" placeholder="Monto"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <!-- div cp  -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired>CP</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese una CP válido">
                  <nz-input-group nzPrefixIcon="edit">
                    <nz-spin *ngIf="loading_cp_data" nzSimple></nz-spin>
                    <input nz-input formControlName="cp" placeholder="CP" maxlength="5" (input)="getCpData($event)" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
          <!-- div colonia -->
          <div class="col-md-4 mt-3">
            <div>
              <nz-form-item class="">
                <nz-form-label nzRequired>Colonia</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, selecciona una colonia">
                  <nz-select nzTooltipTrigger="focus" nzShowSearch nzAllowClear nzPlaceHolder="Colonias" formControlName="neighborhood">
                    <nz-option *ngFor="let m of list_neighborhoods" nzValue="{{m}}" nzLabel="{{m}}">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <!-- div exterior  -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired># Exterior</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
                  <nz-input-group nzPrefixIcon="tag">
                    <input nz-input formControlName="extNumber" placeholder="Exterior" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
        </div>
        <div class="row">
          <!-- div estado -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired>Estado</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese un estado válido">
                  <nz-input-group nzPrefixIcon="environment">
                    <input nz-input formControlName="state" placeholder="Estado" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
          <!-- div localidad -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired>Localidad</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese una localidad válida">
                  <nz-input-group nzPrefixIcon="environment">
                    <input nz-input formControlName="location" placeholder="Localidad" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
          <!-- div interior -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label># Interior</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese una número de interior">
                  <nz-input-group nzPrefixIcon="tag">
                    <input nz-input formControlName="intNumber" placeholder="Interior" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
        </div>
        <div class="row">
          <!-- div municipio  -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired>Municipio</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese un municipio">
                  <nz-input-group nzPrefixIcon="environment">
                    <input nz-input formControlName="municipality" placeholder="Municipio" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
          <!-- div calle  -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label nzRequired>Calle</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese la calle">
                  <nz-input-group nzPrefixIcon="environment">
                    <input nz-input formControlName="street" placeholder="Calle" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
          <!-- div referencias  -->
          <div class="col-md-4">
              <nz-form-item class="form-group my-3">
                <nz-form-label>Referencias</nz-form-label>
                <nz-form-control nzErrorTip="Por favor, ingrese las referencias">
                  <nz-input-group nzPrefixIcon="tags">
                    <input nz-input formControlName="references" placeholder="Referencias" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
          </div>
        </div>
      </form>

      <section id="peu-kpi-card-container" class="row mb-4 mt-4">
        <div class="col-md-3"></div>
        <!-- kpi women  -->
        <div class="col-sm-12 col-md-6 col-lg-3 my-2">
          <div class="card peu-kpi-card kpi-card-color-pink">
              <div class="card-content">
                  <div class="media d-flex">
                  <div class="col-5 text-center p-2 image-container">
                      <img src="../../../../../assets/images/iconos/peu/woman.png" alt="woman.png"/>
                  </div>
                  <div class="col-7 text-center kpi-data-container">
                      <h4><strong>{{ actual_curp_woman | number : '2.0-0' : 'en-US'}}</strong></h4>
                      Mujeres Apoyadas
                  </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- kpi men  -->
        <div class="col-sm-12 col-md-6 col-lg-3 my-2">
        <div class="card peu-kpi-card kpi-card-color-blue">
            <div class="card-content">
                <div class="media d-flex">
                <div class="col-5 text-center p-2 image-container">
                    <img src="../../../../../assets/images/iconos/peu/man.png" alt="man.png"/>
                </div>
                <div class="col-7 text-center kpi-data-container">
                    <h4><strong>{{ actual_curp_men | number : '2.0-0' : 'en-US'}}</strong></h4>
                    Hombres Apoyados
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-3"></div>
      </section>
      
      <!-- CURP write section -->
      <div class="row mt-3">
        <p class="mb-2"><span class="red">*</span> CURP's de beneficiarios</p>
        <div class="col-md-12 d-flex justify-content-center ">
          <nz-select 
          [nzSize]="'large'" 
          class="select-curps"
          nzMode="tags" 
          [(ngModel)]="tagValue" 
          [nzPlaceHolder]="title_tag"
          [nzShowSearch]="true"
          [nzSuffixIcon]="'file-text'"
          (ngModelChange)="EventInputCurps($event)">
          <nz-option *ngFor="let option of list_tag_folios" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter>
    <button class="btn btn-custom-warning mx-3" (click)="onCloseModal()">Cancelar</button>
    <button class="btn btn-custom-success mx-3" (click)="addDetailData()" [disabled]="form_detail_peu.invalid">Agregar</button>
  </div>
</nz-modal>
