.select-curps {
  width: 100%;
  height: 9rem;
  overflow: scroll;
}


$bg-colors: (
  'pink': #f6e2f2,
  'dark-pink': #f3a4e3,
  'blue': #bcd6ee,
  'dark-blue': #81b8eb,
  'yellow': #fcb467,
  'dark-yellow': #f8a042,
  'green': #bbe0ad,
  'dark-green': #71c751);

$types: ('pink',
  'blue',
  'yellow',
  'green'
);

@mixin card-color($type) {
  background-color: map-get($bg-colors, $type) !important;
  h4 {
    color: map-get($bg-colors, 'dark-' + $type);
  }
  &:hover {
    background-color: map-get($bg-colors, 'dark-' + $type) !important;
    color: white;
    h4 {
      color: white;
    }
  }
}

#peu-kpi-card-container {
  @each $type in $types {
    .kpi-card-color-#{$type} {
      @include card-color($type)
    }
  }
  .peu-kpi-card {
    border: none;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 15%);
    cursor: pointer;

    

    &:hover {
      .kpi-data-container {
        background: none !important;
      }
    }

    .image-container img {
      height: 55pt;
    }

    .kpi-data-container {
      border-radius: 0rem 0.6rem 0.6rem 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

    }
  }
}


nz-date-picker {
  margin: 0 8px 12px 0;
}



.red{
  color: #f75858;
  font-size: 1.5rem;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #contact-data-container .custom-x-padding {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #contact-data-container .custom-x-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #contact-data-container .custom-x-padding {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #contact-data-container .custom-x-padding {
    padding-right: 15rem;
    padding-left: 15rem;
  }
}


.cur-section{
  height: 30rem;
}