<form nz-form [formGroup]="formData" class="mb-5">
  <h5>
    En su vida diaria, ¿Usted o algún integrante del hogar tiene dificultad al realizar las siguientes actividades?
  </h5>
  <section>
    <div class="row my-5 px-5" *ngFor="let question of healthIssuesQuestionList">
      <strong>{{question.name}}</strong>
      <nz-slider [nzMarks]="sliderMarks" [nzMin]="1" [nzMax]="4" formControlName="{{question.key}}"></nz-slider>
    </div>
  </section>

  <div class="my-4 text-end">
    <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
  </div>
</form>
