.contador{
    display: flex;
    align-items: center;
    &-boton{
        cursor: pointer;
        display: inline-flex;
        background: #259cbf;
        color: #FFFFFF !important;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        border-radius: 0.6rem;
        width: 2rem;
        height: 1.2rem;
        margin: 0 0.5rem;
        align-items: center;
        justify-content: center;
    }
    &-dark-input{
        border: solid #f3f3f3;
        border-radius: 0.6rem;
        width: 3rem;
        text-align: center;
    }
    &-white-input{
        border: solid #FFFFFF;
        background: transparent;
        border-radius: 0.6rem;
        width: 3rem;
        text-align: center;
    }
    &-input:focus{
        outline: none;
    }
    &-input:disabled {
        background: transparent;
      }
}

p{
    color: #FFFFFF !important;
}