<article>
  <form nz-form
    [formGroup]="formData">
    <section class="m-3"
      *ngFor="let section of datosComplementariosList">
      <h3 class="text-center">{{ section.titulo }}</h3>
      <section *ngFor="let question of section.campos; let i = index;"
        class="row m-0 p-3  {{ i % 2 ? '': 'bg-contraste-blanco' }}">
        <div class="col-sm-12 col-md-6">
          <h5>{{ question.title }}</h5>
        </div>
        <div class="col-sm-12 col-md-6 counter-form-container">
          <ng-container #QuestionContainer
            [ngTemplateOutlet]="question.type"
            [ngTemplateOutletContext]="{question: question, form: formData}">
          </ng-container>
        </div>
      </section>
    </section>

    <section class="my-4 text-end">
      <button type="button"
        class="btn-custom-warning ms-2"
        (click)="onPreviousStepClick()">Regresar un paso</button>
      <button type="button"
        class="btn-custom-success ms-2"
        (click)="onNextStepClick()">Continuar</button>
    </section>
  </form>
</article>

<ng-template #Text
  let-item="question"
  let-form="form">
  <div [formGroup]="form">
    <nz-form-item class="form-group my-3">
      <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
        <nz-input-group nzPrefixIcon="edit">
          <input type="text"
            nz-input
            placeholder="{{ item.title }}"
            formControlName="{{ item.key }}" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-template>

<ng-template #Number
  let-item="question"
  let-form="form">
  <div [formGroup]="form">
    <p *ngIf="!getNumberInLimits(item)"
      class="text-danger">
      Ingrese un número válido
    </p>
    <div class="counter-form-container">
      <div class="d-flex align-items-center">
        <app-contador-numero [inputValue]="getControlValue(item.key)"
          (ContadorEvento)="onUpdateCount($event, item.key)">
        </app-contador-numero>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #Switch
  let-item="question"
  let-form="form">
  <div [formGroup]="form">
    <nz-form-item class="form-group my-3">
      <div class="d-flex align-items-center">
        <label class="mx-3 tiny-text">{{item.labels[0]}}</label>
        <nz-switch nzSize="default"
          [formControlName]="item.key"></nz-switch>
        <label class="mx-3 tiny-text">{{item.labels[1]}}</label>
      </div>
    </nz-form-item>
  </div>
</ng-template>

<ng-template #Select
  let-item="question"
  let-form="form">
  <div [formGroup]="form"
    class="multiline-radio-button-container">
    <nz-form-control *ngIf="item.options.length < 5"
      nzErrorTip="Por favor, seleccione una opción">
      <!-- <nz-radio-group [formControlName]="item.key" nzSize="large" class="form-group my-3 d-flex" [compareWith]="compareFn">
        <label *ngFor="let label of item.options" class="FormFunctions.getSelectClassItemLength(item.options)"
          nz-radio-button [nzValue]="label"> {{ label.descripcion }} </label>
      </nz-radio-group> -->
      <nz-radio-group nzSize="large"
        class="form-group my-3 d-flex"
        [(ngModel)]="selectAuxiliar[item.key]"
        (ngModelChange)="updateSelectAuxiliar($event, item)"
        [ngModelOptions]="{standalone: true}">
        <label *ngFor="let label of item.options"
          class="FormFunctions.getSelectClassItemLength(item.options)"
          [nzValue]="label.codigo"
          nz-radio-button> {{ label.descripcion }} </label>
      </nz-radio-group>
    </nz-form-control>
    <!--  -->
    <nz-form-control *ngIf="item.options.length > 5">
      <nz-select class="w-75"
        [formControlName]="item.key"
        nzPlaceHolder="Ninguno"
        [compareWith]="compareFn"
        nzShowSearch
        nzAllowClear>
        <nz-option *ngFor="let label of item.options"
          [nzLabel]="label.descripcion"
          [nzValue]="label"></nz-option>
      </nz-select>
    </nz-form-control>
  </div>
</ng-template>

<ng-template #MultiSelect
  let-item="question"
  let-form="form">
  <div [formGroup]="form">
    <!--  -->
    <nz-select class="w-75"
      nzMode="multiple"
      [nzMaxTagCount]="item.maxOptionsSelected"
      [formControlName]="item.key"
      [nzPlaceHolder]="item.placeholder"
      [nzPlaceHolder]="item.placeholder">
      <nz-option *ngFor="let itemMulti of item.options"
        [nzLabel]="itemMulti.descripcion"
        [nzValue]="itemMulti.codigo">
      </nz-option>
    </nz-select>
  </div>
</ng-template>

<ng-template #MultiInput
  let-item="question"
  let-form="form">
  {{ item.formControlName }}
  <div [formGroup]="form">
    <ng-container *ngFor="let control of getMultiInputArray(item.key).controls; let i = index">
      <section class="row mt-2 custom-x-padding"
        [formArrayName]="item.key">
        <ng-container [formGroupName]="i">
          <div class="col-sm-12 col-md-1 py-5">
            <h3 style="cursor: pointer">
              <i nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="onRemoveMultiInput(item.key, i, $event)"></i>
            </h3>
          </div>
          <div class="col-sm-12 col-md-5">
            <nz-form-label nzRequired>
              {{ item.title }}
            </nz-form-label>
            <nz-form-item class="form-group">
              <nz-form-control nzErrorTip="Por favor, ingrese un valor válido">
                <nz-input-group nzPrefixIcon="edit">
                  <input type="text"
                    nz-input
                    formControlName="descripcion"
                    [placeholder]="item.title" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!--  -->
          <div class="col-sm-12 col-md-5">
            <nz-form-label nzRequired>Tipo de {{item.title}}</nz-form-label>
            <nz-form-item>
              <nz-form-control nzErrorTip="Por favor, selecciona una opción">
              <nz-select nzShowSearch
                nzAllowClear
                nzPlaceHolder="Tipo de {{item.title}}"
                formControlName="tipo">
                <nz-option *ngFor="let label of item.options"
                  [nzValue]="label.descripcion"
                  [nzLabel]="label.descripcion">
                </nz-option>
              </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-sm-12 col-md-1 py-5"></div>
        </ng-container>
      </section>
    </ng-container>
  </div>
  <div class="row text-center">
    <button class="btn-custom-secondary w-50 m-auto"
      (click)="onAddMultiInputOption(item.key)">
      Agregar
    </button>
  </div>
</ng-template>