<nz-modal [nzStyle]="{top: '5rem'}" nzWidth="75%" [nzVisible]="true" nzTitle="Confirmar domicilio" [nzClosable]="false">
  <ng-container *nzModalContent class="ant-modal-body">
    <div class="d-flex justify-content-center mb-5">
      <p class="main-text">* Por favor de clic en la ubicación correcta dentro del mapa</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex">
          <p class="text-title">Domicilio ingresado</p>
          <img class="img-description" src="../../../../../assets/images/iconos/maps/location.svg" alt="">
        </div>
        <p>{{calle}} {{colonia}} {{cp}} {{exterior}} {{interior}} {{estado}} {{municipio}} </p>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <p class="text-title">Domicilio seleccionado</p>
          <img class="img-description" src="../../../../../assets/images/iconos/maps/locationBlue.svg" alt="">
        </div>
        <p>{{newLocationSelected}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-6 div-mapa">
        <div id="map" class="map"></div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter class="">
    <button class="btn btn-custom-success ms-3" (click)="confirmAdress()" [disabled]="!isConfirmedAdress">Confirmar domicilio</button>
  </div>
</nz-modal>
