@import '../../../../../assets/styles/functions.scss';

.ant-modal-body{
  padding: 0 !important;
}

#map{
  width: 100%;
  height: 30rem;
}

.div-mapa{
  height: 32rem;
}


.text-title{
  font-size: 2rem;
}
.img-description{
  width: 2rem;
}

.main-text{
  font-size: 2rem;

}