<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="68%" nzVisible="true" nzTitle="Seleccionar Oficina"
  (nzOnCancel)="onClose()">
  <article *nzModalContent class="px-3">
    <!--  CP -->
    <section class="row mx-auto">
      <nz-form-item class="form-group my-3 w-50 mx-auto">
        <nz-form-label nzRequired>CP</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese una CP válido">
          <nz-input-group nzPrefixIcon="edit">
            <nz-spin *ngIf="isLoadingCpData" nzSimple></nz-spin>
            <input nz-input [(ngModel)]="cp" placeholder="CP" maxlength="5" (input)="onGetCpData($event)" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </section>

    <section class="row">
      <section class="col-md-12 mt-3">
        <nz-table class="tabla-registro" #nzTable [nzFrontPagination]="false" nzTableLayout="fixed"
          [nzScroll]="{ x: '800px' }" [nzData]="list">
          <thead>
            <tr>
              <th nzWidth="30%"></th>
              <th nzWidth="25%"></th>
              <th nzWidth="30%"></th>
              <th nzWidth="15%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of list" style="height: 150px;">
              <td>
                <section class="row">
                  <div class="col">
                    <h6>{{ data.descripcion }}</h6>
                  </div>
                </section>
              </td>

              <td>{{ data.domicilio.municipio }}</td>

              <td>{{ data.domicilio.completo }}</td>

              <td>
                <!-- Agregar -->
                <button *ngIf="data.habilitado" class="btn btn-custom-info"
                  nzTooltipTitle="Agregar ventanilla en esta ubicación " nz-tooltip (click)="onAddVentanilla(data._id)">
                  <em nz-icon nzType="plus-circle" nzTheme="outline"></em>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <div class="col-md-12 d-flex justify-content-center my-5">
          <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
            [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords">
          </nz-pagination>
        </div>
      </section>
    </section>

    <section *ngIf="isValidCp" class="row">
      <button class="btn btn-custom-secondary" nzTooltipTitle="Agregar nueva oficina"
        nz-tooltip (click)="onAddOficina()">
        No aparece la oficina que busco
      </button>
    </section>
  </article>

  <div *nzModalFooter class="text-end">
    <button class="btn btn-custom-secondary me-3" (click)="onClose()">Cerrar</button>
  </div>
</nz-modal>
