<ng-container *ngFor="let documentType of documentsType">
  <ng-container *ngFor="let item of getDocumentListByType(documentType); let documentIndex = index">
    <ng-container *ngIf="showDocument(documentType, item.nombre)">
      <h2 class="text-center">{{ item.nombre }}</h2>

      <div *ngIf="isUpdate"
        class="alert alert-primary mt-3"
        role="alert"
        style="overflow: auto; height: 160px;">
        <ul>
          <ol class="my-1">
            <span class="mb-0">
              <strong>{{ getDocumentComments(documentType,
                item.nombre)[activeCommentIndex[documentType][documentIndex]].fecha | date:'medium' : 'GMT' }}</strong>:
              {{ getDocumentComments(documentType,
              item.nombre)[activeCommentIndex[documentType][documentIndex]].comentario }}
            </span>
            <footer>
              <em><strong>{{ getDocumentComments(documentType,
                  item.nombre)[activeCommentIndex[documentType][documentIndex]].usuario }}</strong></em>
            </footer>
          </ol>
        </ul>

        <nav>
          <ul class="pagination pagination-sm justify-content-center mb-0">
            <li *ngFor="let comment of getDocumentComments(documentType, item.nombre); let i = index"
              class="page-item {{ i === activeCommentIndex[documentType][documentIndex] ? 'active' : '' }}"
              (click)="activeCommentIndex[documentType][documentIndex] = i">
              <span class="pointer page-link">{{ i + 1 }}</span>
            </li>
          </ul>
        </nav>
      </div>

      <article class="row row-cols-sm-1 row-cols-md-2 my-5">
        <section *ngIf="fileExists(documentType, item.nombre)"
          class="col selection-box">
          <button *ngIf="!isUpdate"
            class="btn btn-custom-info btn-sm mb-3"
            (click)="onBoxSelect($event, documentType, item.nombre, true)">
            Seleccionar este documento
          </button>
          <iframe *ngIf="getFileUrl(documentType, item.nombre)"
            [src]="getFileUrl(documentType, item.nombre) | safe: 'resourceUrl'"
            frameBorder="0"
            scrolling="auto"
            height="{{ isUpdate ? '100%' : '80%' }}"
            width="100%">
          </iframe>
        </section>

        <section class="col selection-box selected">
          <button *ngIf="fileExists(documentType, item.nombre)"
            class="btn btn-custom-info btn-sm mb-3"
            (click)="onBoxSelect($event, documentType, item.nombre, false)">
            Subir un documento
          </button>
          <ngx-dropzone (change)="onSelect($event, documentType, item.nombre)"
            accept="image/jpeg, image/jpg,image/png, application/pdf"
            [disabled]="isUploadSelected(documentType, item.nombre)">
            <ngx-dropzone-label>
              <label class="upload-drag-icon">
                <em nz-icon
                  nzType="inbox"></em>
              </label>
              <br> Da click o arrastra tu archivo 
            </ngx-dropzone-label>
            <ngx-dropzone-preview *ngIf="files[documentType][item.nombre]"
              [removable]="true"
              (removed)="onRemove(documentType, item.nombre)">
              <ngx-dropzone-label>{{ files[documentType][item.nombre] | notEmptyText: 'file' : 'name' }}</ngx-dropzone-label>
            </ngx-dropzone-preview>
          </ngx-dropzone>
          

          <div *ngIf="files[documentType][item.nombre]"
            class="row row-cols-1 px-5">
            <nz-form-label nzRequired><strong class="mt-3"> Fecha de Vencimiento</strong></nz-form-label>
            <nz-date-picker nzMode="month"
              [(ngModel)]="files[documentType][item.nombre].fechaVigencia"
              nzValue="small"
              [nzDisabledDate]="disabledDate">
            </nz-date-picker>
          </div>
        </section>
      </article>
      <hr>
    </ng-container>
  </ng-container>
</ng-container>

<div class="row mt-4">
  <div class="col-md-12 text-end">
    <button *ngIf="!isUpdate"
      type="button"
      class="btn-custom-warning ms-2"
      (click)="onPreviousStepClick()">Regresar un paso</button>
    <button type="button"
      class="btn-custom-success ms-2 me-2"
      (click)="nextStep()">
      {{ isUpdate ? 'Actualizar Documentos' : 'Guardar Solicitud' }}</button>
  </div>
</div>



<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="50%"
  [nzVisible]="showFileMOdal"
  nzTitle="Archivos mayores de 2 MB"
  (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">

  <ng-container *nzModalContent
    class="px-5">
    <div class="row">
      <div class="col-md-12">
        <div *ngFor="let m of largeFiles">
          <p>{{m.name}}</p>
        </div>
      </div>
    </div>
  </ng-container>
  <div *nzModalFooter
    class="">
    <button class="btn btn-vim-outline"
      (click)="onClose()">Cerrar modal</button>
  </div>
</nz-modal>