.selection-box {
  text-align: center;
  height: 400px;
  padding: 1rem;
  cursor: pointer !important;

  &.selected {
    border: dotted #40a9ff;
    border-radius: 0.6rem;
  }
}

ngx-dropzone {
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;

  ngx-dropzone-label {
    label em {
      color: #40a9ff;
      font-size: 48px;
    }
  }
}

.ant-picker {
  height: 2rem;
}

.ant-form-item-label {
  width: 100% !important;
}
