<div class="container div-padre">
  <div class="row mt-4 mb-5">

    <div class="div-steps-scroll">
      <nz-steps [nzCurrent]="currentStep">
        <nz-step *ngFor="let e of stepperStep"></nz-step>
      </nz-steps>
    </div>

    <ng-template #householdData>
      <app-step-household-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)" (goBackEvent)="changeStepEvent($event)">
      </app-step-household-data>
    </ng-template>

    <ng-template #healthServiceData>
      <app-step-health-service-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-health-service-data>
    </ng-template>

    <ng-template #healthIssues>
      <app-step-health-issues-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-health-issues-data>
    </ng-template>

    <ng-template #educationData>
      <app-step-education-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-education-data>
    </ng-template>

    <ng-template #incomeData>
      <app-step-income-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-income-data>
    </ng-template>

    <ng-template #expensesData>
      <app-step-expenses-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-expenses-data>
    </ng-template>

    <ng-template #foodData>
      <app-step-food-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-food-data>
    </ng-template>

    <ng-template #housingData>
      <app-step-housing-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-housing-data>
    </ng-template>

    <ng-template #houseAppliances>
      <app-step-house-appliances-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-house-appliances-data>
    </ng-template>

    <ng-template #perceptionData>
      <app-step-perception-data [cedulaData]="cedulaData" (changeContent)="onChangeContent($event)">
      </app-step-perception-data>
    </ng-template>

    <ng-template #uploadStepper>
      <app-upload-stepper (emitSuccess)="onApplicationCreate($event)" (changeContent)="onChangeContent($event)"></app-upload-stepper>
    </ng-template>

    <ng-template #successRegister>
      <div class="row mb-5">
        <div class="col-md-12">
          <h2>Solicitud en trámite</h2>
          <h4>El folio de su solicitud es: {{ folio }}</h4>
        </div>
      </div>
    </ng-template>

    <div class="steps-content">
      <div class="row">
        <div class="col-md-12">
          <h1>{{ templateStepList[currentStep]?.title }}</h1>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="templateStepList[currentStep].template"></ng-container>
    </div>
  </div>
</div>
