.title-modal-txt{
    font-size: 1.3rem;
}

.p-modal-txt{
    font-size: 1.3rem;
}

.span-modal-txt{
    font-weight: bold;
    font-size: 1.3rem;
}

.dropzone{
    padding: 1rem 0rem;
}

// .txt-type{
//     font-size: 1rem;
// }