<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<!-- Main modal -->
<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="80%" [nzVisible]="true" [nzTitle]="modal_title" (nzOnCancel)="onHideModalClick()" (nzOnOk)="onHideModalClick()">
  <ng-container *nzModalContent>
    <div class="row modal-container" id="dictamine-modal">
      <!-- Personal data  -->
      <div class="row" *ngIf="viewConfigForYear.detailSection">
        <div class="col-md-12 d-flex justify-content-center">
          <p class="title-modal-txt"><span>{{modalData.programa.q}} </span>{{modalData.programa | showModalityName}}</p>
        </div>
        <div class="col-md-4 personal-data">
          <p class="p-modal-txt"><span class="span-modal-txt">CURP: </span>{{modalData.ciudadano.curp}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Genero: </span>{{modalData.ciudadano.genero}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Estado civil: </span>{{modalData.ciudadano.estadoCivil}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Comunidad indigena: </span>{{modalData.ciudadano.comunidadIndigena.descripcion}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Migrante: </span>{{modalData.ciudadano.migrante.descripcion}}</p>
        </div>
        <div class="col-md-4 personal-data">
          <p class="p-modal-txt"><span class="span-modal-txt">Nombre: </span>{{modalData.ciudadano.nombreCompleto}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Nacionalidad: </span>{{modalData.ciudadano.nacionalidad}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Teléfono: </span>{{modalData.ciudadano.datosContacto.telefonos[0].descripcion}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Dialecto: </span>{{modalData.ciudadano.hablaDialecto.descripcion}}</p>
        </div>
        <div class="col-md-4 personal-data">
          <p class="p-modal-txt"><span class="span-modal-txt">Nacimiento: </span>{{modalData.ciudadano.fechaNacimientoTexto}}</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Edad: </span>{{modalData.ciudadano.edad}} Años</p>
          <p class="p-modal-txt"><span class="span-modal-txt">Parentesco con el jefa(e) del hogar: </span>{{modalData.ciudadano.parentescoJefeHogar.descripcion}}</p>
          <p class="p-modal-txt" *ngIf="modalData.ciudadano.afroMexicano === true"><span class="span-modal-txt">Afromexicano: </span> <i nz-icon nzType="check" nzTheme="outline" class="text-success"></i></p>
          <p class="p-modal-txt" *ngIf="modalData.ciudadano.afroMexicano === false"><span class="span-modal-txt">Afromexicano: </span> <i nz-icon nzType="close" nzTheme="outline" class="text-danger"></i></p>
        </div>
      </div>
      <!-- history  -->
      <div *ngIf="viewConfigForYear.rowsDetail">
        <div class="row mt-4">
          <div class="col-md-12">
            <nz-table #basicTable [nzData]="historical_data" [nzFrontPagination]="false">
              <thead>
                <tr>
                  <th class="tiny-text text-center">Descripcion</th>
                  <th class="tiny-text text-center">Fecha</th>
                  <th class="tiny-text text-center">Usuario que capturo</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tiny-text" *ngFor="let data of status_log_list.slice(startSlice, endSlice)">
                  <td class="text-center"><span [outerHTML]="data.descripcion | statusBadge"></span></td>
                  <!-- <td class="text-center">{{data.fecha | convertIsoToStringDate}}</td> -->
                  <td class="text-center">{{data.fecha | date: 'fullDate'}}</td>
                  <td>{{data.usuarioCaptura.nombre}} <br> {{data.usuarioCaptura.email}}</td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
        <!-- pagination  -->
        <div class="row mt-4">
          <div class="col-md-12 d-flex justify-content-center">
            <nz-pagination (nzPageIndexChange)='Paginate($event)' [nzPageSize]=5 [nzPageIndex]="1" nzTotal={{status_log_list.length}}>
            </nz-pagination>
          </div>
        </div>
      </div>
    </div>

    <!-- FIle section  -->
    <div class="row mt-4 bg-contraste-blanco" *ngIf="viewConfigForYear.complementaryData">
      
      <div class="col-md-6">
        <form nz-form [formGroup]="formData">
          <!-- Costo operativo  -->
          <section class="row m-0 p-3">
            <div class="col-sm-12 col-md-6">
              <h5>Costo operativo del apoyo</h5>
            </div>
            <div class="col-sm-12 col-md-6 counter-form-container">
              <nz-form-item class="form-group my-3">
                <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
                  <nz-input-group nzPrefixIcon="dollar">
                    <input formControlName="operativeCost" nz-input placeholder="Costo operativo" type="text">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </section>
          <!-- Costo del apoyo o monto otorgado  -->
          <section class="row m-0 p-3">
            <div class="col-sm-12 col-md-6">
              <h5>Costo o monto otorgado del apoyo</h5>
            </div>
            <div class="col-sm-12 col-md-6 counter-form-container">
              <nz-form-item class="form-group my-3">
                <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
                  <nz-input-group nzPrefixIcon="dollar">
                    <input formControlName="amountGranted" nz-input placeholder="Monto otorgado" type="text">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </section>
          <!-- deliver type  -->
          <section class="row m-0 p-3">
            <div class="col-sm-12 col-md-6">
              <h5>Tipo de entrega</h5>
            </div>
            <div class="col-sm-12 col-md-6 ">
           
              <nz-radio-group [(ngModel)]="selectedOptionValue" nzButtonStyle="solid" class="form-group my-3 d-flex">
                <label nz-radio-button nzValue="file" class="multiline-5-radio-button"
                  (click)="onSelectType('Completa')">Completa</label>
                <label nz-radio-button nzValue="false" class="multiline-5-radio-button"
                  (click)="onSelectType('Parcial')">Parcial</label>
              </nz-radio-group>
            </div>
          </section>
        </form>
      </div>
      <div class="col-md-6 mb-3">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <nz-radio-group [(ngModel)]="selectedOptionValue" nzButtonStyle="solid" class="form-group my-3 d-flex">
              <label nz-radio-button nzValue="file" class="multiline-5-radio-button"
                (click)="onSelectOption('archivo')">Cargar archivo</label>
              <label nz-radio-button nzValue="false" class="multiline-5-radio-button"
                (click)="onSelectOption('url')">Pegar URL del archivo</label>
            </nz-radio-group>
          </div>
        </div>
        <div class="row" *ngIf="controlOptionValue">
          <div class="dropzone">
            <ngx-dropzone class="text-center" (change)="onSelect($event)" accept="image/jpeg, image/jpg,image/png, application/pdf">
              <ngx-dropzone-label>
                <label class="upload-drag-icon">
                  <i nz-icon nzType="inbox"></i>
                </label>
                <br> Da click o arrastra tu archivo
              </ngx-dropzone-label>
              <ngx-dropzone-preview *ngIf="test" [removable]="true" (removed)="onRemove(test.name)">
                <ngx-dropzone-label>{{ test.name }}</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </div>
        <div class="row" *ngIf="!controlOptionValue">
          <div class="col-md-12 mt-3 d-flex justify-content-center">
            <textarea [(ngModel)]="fileUrl" nz-input placeholder="URL del archivo" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          </div>
        </div>
        <div class="col-md-12 mt-3 d-flex justify-content-center">
          <textarea [(ngModel)]="comments" nz-input placeholder="Comentarios" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </div>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter class="">
    <!-- Start flow config -->
    <button class="btn btn-custom-primary ms-3" (click)="changeActualApplicationStatus()" *ngIf="nextStepsConfig.dictamination && session.permissionsList.n6_enviarDictaminacion_31dadbeb59b9">Dictaminar solicitud</button>
    <button class="btn btn-custom-primary ms-3" (click)="deliverApplication()" *ngIf="nextStepsConfig.entered && session.permissionsList.n6_entregarBtn_bc9e4c810f51">Entregar solicitud</button>
    <!-- End flow config -->
    <button class="btn btn-custom-warning me-3" (click)="interactCancelModal()" *ngIf="session.permissionsList.n6_cancelarBtn_564964fdd0">Cancelar</button>
    <button class="btn btn-custom-danger me-3" (click)="interactRejectModal()" *ngIf="session.permissionsList.n6_rechazarBtn_e7a1441390f0">Rechazar</button>
    <button class="btn btn-vim-outline me-3" (click)="onHideModalClick()">Cerrar modal</button>
  </div>

</nz-modal>

<!-- Modal for rejecting application -->
<modal-reject-request [isOpenModal]="show_reject_modal" [modalData]="modalData" (closeModalEvent)="onApplicationUpdate($event)"></modal-reject-request>
<!-- Modal for cancel application -->
<modal-cancel-request [isOpenModal]="showCancelModal" [modalData]="modalData" (closeModalEvent)="onApplicationUpdate($event)"></modal-cancel-request>