<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" nzVisible="true" nzTitle="Solicitud de Usuario"
  (nzOnCancel)="onClose()" (nzOnOk)="onClose()">

  <ng-container *nzModalContent class="px-5">
    <!-- <h4 class="mx-auto">{{ user.fullName }}</h4> -->

    <div class="my-3 mx-3">
      <div class="card-body">
        <h5 class="card-title"> Dependencia </h5>
        <nz-select nzShowSearch nzPlaceHolder="Dependencia de Usuario" nzSize="small" [(ngModel)]="dependencia"
          (ngModelChange)="onChangeDependencia()" class="w-100">
          <nz-option *ngFor="let item of dependencyList" nzLabel="{{ item.nombre }}" nzValue="{{item._id}}">
          </nz-option>
        </nz-select>
      </div>
    </div>

    <hr>

    <div class="my-3 mx-3">
      <div class="card-body">
        <h5 class="card-title"> Oficina </h5>
        <nz-select nzShowSearch class="w-100" [(ngModel)]="oficina" nzPlaceHolder="Oficina de Usuario" nzSize="small">
          <nz-option *ngFor="let item of officeList; let i = index" nzLabel="{{ item.nombre }}" nzValue="{{ i }}">
          </nz-option>
        </nz-select>
      </div>
    </div>

  </ng-container>

  <div *nzModalFooter class="">
    <button class="btn btn-custom-warning me-3" (click)="onClose()">Cancelar</button>
    <button class="btn btn-custom-success ms-3" (click)="onSaveUser()" [disabled]="isSaveDisabled()">Solicitar
      Registro</button>
  </div>

</nz-modal>
