<article>
  <section class="row m-0 p-3">
    <div class="col-12">
      <h5>En los últimos tres meses, por falta de dinero o recursos ¿Alguna vez usted o algún integrante de su hogar…?
      </h5>
    </div>
  </section>

  <form nz-form [formGroup]="formData">
    <section *ngFor="let question of feedingQuestionList; let i = index"
      class="row m-0 p-3 {{ i % 2 ? '' : 'bg-contraste-blanco'}}">
      <div class="col-sm-12 col-md-6">
        <h5>{{question.title}}</h5>
      </div>
      <div class="col-sm-12 col-md-6 counter-form-container">
        <label class="me-2">No</label>
        <nz-switch formControlName="{{question.formControlName}}"></nz-switch>
        <label class="ms-2">Sí</label>
      </div>
    </section>

    <section class="my-4 text-end">
      <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
      <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()" [disabled]="!formData.valid">Continuar</button>
    </section>
  </form>
</article>
