<div class="row">
  <div class="col-md-12 mt-5 mb-5">

    <nz-table class="tabla-registro" #nzTable [nzFrontPagination]="false" [nzData]="video_list">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Video</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of video_list">
          <td>
            {{data.snippet.title}}
          </td>
          <td>
            <a class="btn-custom-primary" href="https://www.youtube.com/watch?v={{data.id.videoId}}" target="_blank" rel="noopener noreferrer">Ver video</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>