.map-container{
    height: 100%;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
}



.custom-select{
    border: solid 1px #d0d8c0 !important;
    border-radius: 0.6rem;
    padding: 0.6rem 0.8rem;
    background: #FFF;
  }
  

.div-blue{
    border: solid 1px #3BACAD !important;
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem;
    background: #C5DFDA;
    width: 4rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
}
.div-red{
    border: solid 1px #D8A18F !important;
    border-radius: 0.3rem;
    padding: 0.6rem 0.8rem;
    background: #CEC3B8;
    width: 4rem;
    height: 1.5rem;
    margin: 0.5rem 0.5rem;
}