<section class="mt-5 mb-5">
  <ngx-spinner bdColor="rgba(0,0,0,0.80)" size="large" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
  </ngx-spinner>

  <div class="row">
    <div class="col-md-12">
      <app-apoyos-select (emitSelected)="updateSelectedApoyo($event)"></app-apoyos-select>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6" id="peu-kpi-card-container">
      <div *ngFor="let card of kpi_card_list" class="col-sm-12 col-md-12 col-lg-12 mt-4 mb-4">
        <div class="card peu-kpi-card kpi-card-color-{{card.color}}" (click)="searchData(card.filter)">
          <div class="card-content">
            <div class="media d-flex">
              <div class="col-5 text-center p-2 image-container">
                <img src="../../../../../assets/images/iconos/peu/{{card.imageUrl}}" alt="{{card.imageUrl}}" />
              </div>
              <div class="col-7 text-center kpi-data-container">
                <h4>
                  <strong>{{ card.isMoney ? (card.count | moneyMillion) : (card.count | number : '2.0-0' :
                    'en-US')}}</strong>
                </h4>
                {{card.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 d-flex">
          <div class="d-flex align-items-center">
            <div class="div-blue"></div>
            <p>Estado: Guanajuato</p>
          </div>
          <div class="d-flex align-items-center">
            <div class="div-red"></div>
            <p>Zonas impulso</p>
          </div>
        </div>
      </div>
      <div class="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 mt-5 div-table">
      <nz-table #basicTable [nzData]="special_data" [nzFrontPagination]="false">
        <thead>
          <tr>
            <th class="tiny-text">Folio</th>
            <th class="tiny-text">Q</th>
            <th class="tiny-text">Programa</th>
            <th class="tiny-text">Modalidad</th>
            <th class="tiny-text">CURP</th>
            <th class="tiny-text">Edad</th>
            <th class="tiny-text">Zona</th>
            <th class="tiny-text">Descargar</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tiny-text" *ngFor="let data of special_data">
            <td>{{data.folio}}</td>
            <td>{{data.programa.q}}</td>
            <td>{{data.programa.nombre}}</td>
            <td>{{data.programa.modalidad.nombre}}</td>
            <td>{{data.ciudadano.curp}}</td>
            <td>{{data.ciudadano.edad}}</td>
            <td>{{data.ciudadano.domicilio.zonaImpulso.nombre | validateImpulseZone}}</td>
            <td>
              <button class="btn btn-custom-secondary" (click)="exportData(data)"><i nz-icon nzType="file-excel"
                  nzTheme="outline"></i></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12 d-flex justify-content-end">
      <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
        [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
    </div>
  </div> -->
</section>