<a id="show-sidebar" class="btn btn-sm btn-custom-sidebar" (click)="onShowHideSidebar(true)">
  <h3 style="color: white"><i nz-icon nzType="menu-unfold" nzTheme="outline"></i></h3>
</a>
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <img class="profile-photo" [src]="userPhoto">
        <div id="close-sidebar" (click)="onShowHideSidebar(false)">
          <h3 style="color: white"><i nz-icon nzType="menu-fold" nzTheme="outline"></i></h3>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-info text-center">
          <strong class="user-name">{{token.username}}</strong> 
          <br>
           <small>{{token.email}}</small> 
          <br>
          <select id="activeRoleSelect" [(ngModel)]="selectedRole" (ngModelChange)="onChangeRole($event)">
            <option *ngFor="let role of roleList"  [ngValue]="role.key">{{role.name}}</option>
          </select>
          <span>{{token.dependencyAcronym}}</span>
        </div>
      </div>
      
      <div class="sidebar-menu">
        <ul>
          <app-menu-option *ngFor="let opt of menuOptionsList; let i = index" 
            [title]="opt.title"
            [icon]="opt.icon"
            [href]="opt.href"
            [options]="opt.options"
            [id]="opt.id"></app-menu-option>
        </ul>
      </div>
    </div>

    <p class="sidebar-app-version">Ver. {{appVersion}}</p>
    <div class="sidebar-footer d-flex justify-content-center align-items-center pt-2 pb-2">
      <a class="mt-1" (click)="showModal = true" data-toggle="modal" data-target="#exampleModal">
        Cerrar Sesión <i class="ms-2 me-2" nz-icon nzType="logout" nzTheme="outline"></i>
      </a>
    </div>
    
</nav>

<app-yes-no-modal
  *ngIf="showModal"
  [title]="'Cerrar sesión'"
  [content]="'¿Seguro que quiere cerrar sesión?'"
  (isAccept)="onLogOutClick($event)"></app-yes-no-modal>
