<article>
  <section class="row m-0 p-3">
    <div class="col-12">
      <h5>Regularmente ¿Cuánto gastan y cada cuánto en su hogar en...?</h5>
    </div>
  </section>

  <form nz-form [formGroup]="formData">
    <section *ngFor="let question of expensesQuestionList; let i = index;"
      class="row m-0 p-3 {{ i % 2 ? '': 'bg-contraste-blanco' }}">
      <div class="col-12">
        <h5>{{ question.title }}</h5>
      </div>

      <div class="row" formGroupName="{{ question.formControlName }}">
        <div class="col-sm-12 col-md-2 counter-form-container">
          <nz-form-item class="form-group my-3">
            <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
              <nz-input-group nzPrefixIcon="dollar">
                <input formControlName="gasto" nz-input placeholder="Gasto" type="text">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div formGroupName="periodo" class="col-sm-12 col-md-10 text-center multiline-radio-button-container">
          <nz-form-control nzErrorTip="Por favor, seleccione una opción">
          <nz-radio-group formControlName="codigo" nzButtonStyle="solid" class="form-group my-3 d-flex">
            <label *ngFor="let opt of frequencyOptionsList; let i = index" nz-radio-button [nzValue]="opt.codigo"
              class="multiline-6-radio-button">{{ opt.descripcion }}</label>
          </nz-radio-group>
          </nz-form-control>
        </div>
      </div>

    </section>

    <section class="my-4 text-end">
      <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
      <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
    </section>
  </form>
</article>
