<article>
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center col-lg-3 mt-2" *ngFor="let kpi of kpiList | mapkeyvalue ">
      <!-- <app-mini-kpi [kpiData]="kpi.value" (typeOutput)="onKpiSelect($event)"></app-mini-kpi> -->
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 d-flex justify-content-start mx-2">
      <nz-input-group nzPrefixIcon="search">
        <input nz-input type="text" name="term" [(ngModel)]="term" placeholder="Filtrar solicitudes por campo" />
      </nz-input-group>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 mt-4"
      *ngFor="let data_card of applicationList.slice(pagination.startIndex, pagination.startIndex + pagination.pageSize) | filter: term ">
      <!-- <app-applicant-card [cardData]="data_card" (detailsButtonClickEvent)="onApplicantCardClick($event)">
      </app-applicant-card> -->
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3 mb-5">
    <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [nzPageSize]=10 [nzPageIndex]="1"
      nzTotal={{applicationList.length}}></nz-pagination>
  </div>

</article>