<ngx-spinner bdColor="rgba(0,0,0,0.80)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="font-size: 2rem; color: white !important; margin-top: 1rem">
    Procesando...
  </p>
</ngx-spinner>

<article class="mt-5"
  id="contact-data-container">
  <form nz-form
    [formGroup]="formData"
    [nzLayout]="'vertical'">

    <div class="alert alert-light text-center mb-5"
      role="alert">
      <h4>{{ 'CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES' | titlecase }} </h4>
      Manifiesto que he leído y acepto el aviso de privacidad, el cual tuve a la vista y continuará a mi
      disposición en la página institucional en Internet , por lo que otorgo mi consentimiento para el
      tratamiento de mis datos personales y para recibir información de Gobierno del Estado

      <div class="col-md-12 d-flex justify-content-center mt-3">
        <label class="mx-3 tiny-text">No</label>
        <nz-switch nzSize="default"
          formControlName="consentimiento">
        </nz-switch>
        <label class="mx-3 tiny-text">Sí</label>
      </div>
    </div>


    <nz-form-item *ngIf="vigencia === 2023"
      class="text-center row mb-5">
      <div class="col-md-12">
        <h3>Ocupación</h3>
        <nz-form-control formGroupName="ocupacion">
          <nz-select class="w-75"
            formControlName="codigo"
            nzPlaceHolder="Ninguno">
            <nz-option *ngFor="let item of listOcupacion"
              [nzLabel]="item.descripcion"
              [nzValue]="item.codigo"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </nz-form-item>

    <section *ngIf="vigencia === 2023"
      class="text-center row">
      <div class="col-md-12">
        <h3>Por su situación actual, usted se considera...</h3>
        <nz-select class="w-75"
          nzMode="multiple"
          nzPlaceHolder="Ninguno"
          formControlName="poblacionVulnerable">
          <nz-option *ngFor="let item of listOfOption"
            [nzLabel]="item.descripcion"
            [nzValue]="item.codigo"></nz-option>
        </nz-select>
      </div>
    </section>

    <!-- [(ngModel)]="listOfSelectedValue"
          [ngModelOptions]="{standalone: true}" -->

    <section *ngIf="!hasTarjetaImpulso">
      <div *ngIf="vigencia !== 2023"
        class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h3>¿Usted está interesada(o) en obtener la Tarjeta Impulso?</h3>
        </div>
      </div>
      <div *ngIf="vigencia !== 2023"
        class="row mb-5">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="d-flex align-items-center">
            <label class="mx-3 tiny-text">No</label>
            <nz-switch nzSize="default"
              formControlName="solicitudImpulso"></nz-switch>
            <label class="mx-3 tiny-text">Sí</label>
          </div>
        </div>
      </div>
      <div *ngIf="tarjetaImpulso && vigencia !== 2023"
        class="row my-5">
        <h3>
          ¿Usted autoriza que un servidor(a) público(a) le contacte para
          tramitar la Tarjeta Impulso?
        </h3>
        <div class="col-md-12 d-flex justify-content-center">
          <label class="mx-3 tiny-text">No</label>
          <nz-switch nzSize="default"
            formControlName="autorizaContacto"></nz-switch>
          <label class="mx-3 tiny-text">Sí</label>
        </div>
      </div>
    </section>

    <div class="row mt-5 mb-2 text-center">
      <h1>Datos de Contacto</h1>
    </div>

    <ng-container *ngFor="let control of telefono.controls; let i = index">
      <section class="row mt-2 custom-x-padding"
        formArrayName="telefonos">
        <ng-container [formGroupName]="i">
          <div class="col-sm-12 col-md-1 py-5">
            <h3 *ngIf="telefono.length !== 1"
              style="cursor: pointer">
              <i nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="onRemovePhone(i, $event)"></i>
            </h3>
          </div>
          <div class="col-sm-12 col-md-5">
            <nz-form-item class="form-group my-3">
              <nz-form-label nzRequired>Teléfono</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, ingrese un número de teléfono válido">
                <nz-input-group nzPrefixIcon="phone">
                  <input type="tel"
                    nz-input
                    formControlName="descripcion"
                    placeholder="Número de Contacto"
                    maxlength="10" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="col-sm-12 col-md-5 mt-3">
            <nz-form-item>
              <nz-form-label nzRequired>Tipo de teléfono</nz-form-label>
              <nz-form-control nzErrorTip="Por favor, selecciona una opción">
                <nz-select nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Tipo de teléfono"
                  formControlName="tipo">
                  <nz-option *ngFor="let element of contactNumberTypeList"
                    nzValue="{{ element }}"
                    nzLabel="{{ element }}">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-sm-12 col-md-1 py-5"></div>
        </ng-container>
      </section>
    </ng-container>

    <div class="row text-center">
      <button class="btn-custom-secondary w-50 m-auto"
        (click)="onAddPhone($event)"
        [disabled]="telefono.length >= 3">
        Agregar teléfono
      </button>
    </div>
    <section class="row mt-5 custom-x-padding"
      [formGroup]="formEmail">
      <nz-input-group>
        <nz-form-label class="ms-3">Correo Electrónico</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese una dirección de correo válida">
          <nz-input-group nzPrefixIcon="mail"
            style="border-radius: 0.6rem 0 0 0.6rem !important"
            [nzAddOnAfter]="addOnAfterTemplate">
            <input nz-input
              formControlName="user"
              placeholder="Correo Electrónico" />
          </nz-input-group>
        </nz-form-control>
      </nz-input-group>
      <ng-template #addOnAfterTemplate>
        <label><strong>@</strong></label>
        <nz-select [nzDropdownRender]="renderTemplate"
          style="width: 15em"
          formControlName="domain">
          <nz-option *ngFor="let item of emailProvider"
            nzValue="{{ item }}"
            nzLabel="{{ item }}"></nz-option>
        </nz-select>
      </ng-template>
    </section>

    <ng-template #renderTemplate>
      <div class="container">
        <input type="text"
          nz-input
          #inputElement />
        <a class="add-item"
          (click)="onAddProvider(inputElement)">
          <i nz-icon
            nzType="plus"></i>
          Agregar dominio
        </a>
      </div>
    </ng-template>

    <!-- ------------DOMICILIO---------------- -->

    <div class="row mt-5 mb-2 text-center">
      <h1>Datos de Domicilio</h1>
    </div>

    <!-- Coordenadas -->
    <section *ngIf="stepConfig.show.isAddressByCoordinates"
      class="row my-5">
      <div class="col-sm-12 col-md-4 mx-auto">
        <h3>Ingresar domicilio por...</h3>
        <div class="col-md-12 d-flex justify-content-center">
          <label class="mx-3 tiny-text">Código Postal</label>
          <nz-switch nzSize="default"
            [(ngModel)]="isAddressByCoordinates"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onAddressChange()">
          </nz-switch>
          <label class="mx-3 tiny-text">Coordenadas</label>
        </div>
      </div>
    </section>

    <ng-container *ngIf="isAddressByCoordinates; then coordinatesForm; else addressForm">
    </ng-container>

    <ng-template #addressForm>
      <!-- Codigo Postal -->
      <section class="row">
        <div class="col-sm-12 col-md-4 mx-auto">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>CP</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese una CP válido">
              <nz-input-group nzPrefixIcon="edit">
                <nz-spin *ngIf="isLoadingCpData"
                  nzSimple></nz-spin>
                <input nz-input
                  formControlName="cp"
                  placeholder="CP"
                  maxlength="5"
                  (input)="onGetCpData($event)" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </section>

      <section class="row">
        <!-- Estado -->
        <div class="col-sm-12 col-md-6">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Estado</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un estado válido">
              <nz-select *ngIf="showEstadoSelect"
                nzShowSearch
                nzAllowClear
                class="w-100"
                formControlName="entidadFederativa"
                nzPlaceHolder="Estado"
                nzSize="small">
                <nz-option *ngFor="let item of estadoList"
                  nzValue="{{ item.toUpperCase() }}"
                  nzLabel="{{ item }}">
                </nz-option>
              </nz-select>
              <!--  -->
              <nz-input-group *ngIf="!showEstadoSelect"
                nzPrefixIcon="environment">
                <input nz-input
                  formControlName="entidadFederativa"
                  placeholder="Estado"
                  readonly />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Municipio -->
        <div class="col-sm-12 col-md-6">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Municipio</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un municipio">
              <nz-select *ngIf="showEstadoSelect"
                nzShowSearch
                nzAllowClear
                class="w-100"
                formControlName="municipio"
                nzPlaceHolder="Municipio"
                nzSize="small">
                <nz-option *ngFor="let item of municipioList"
                  nzValue="{{ item.nombre_municipio.toUpperCase() }}"
                  nzLabel="{{ item.nombre_municipio }}"></nz-option>
              </nz-select>
              <!--  -->
              <nz-input-group *ngIf="!showEstadoSelect"
                nzPrefixIcon="environment">
                <input nz-input
                  formControlName="municipio"
                  placeholder="Municipio"
                  readonly />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </section>

      <div class="row row-cols-sm-1 row-cols-md-2">
        <!-- Asentamiento (Colonia) -->
        <div class="col mt-3">
          <nz-form-item class="">
            <nz-form-label nzRequired>Colonia</nz-form-label>
            <nz-form-control formGroupName="asentamiento"
              nzErrorTip="Por favor, selecciona una colonia">
              <nz-input-group *ngIf="showEstadoSelect"
                nzPrefixIcon="environment">
                <input nz-input
                  formControlName="nombre"
                  placeholder="Colonias" />
              </nz-input-group>

              <label *ngIf="!showEstadoSelect && formData.get('asentamiento.tipo')?.value == ''"
                class="text-danger">Por favor, selecciona una colonia</label>
              <nz-select *ngIf="!showEstadoSelect"
                nzTooltipTrigger="focus"
                nzShowSearch
                nzAllowClear
                nzPlaceHolder="Colonias"
                formControlName="nombre">
                <nz-option *ngFor="let item of neighborhoodsList"
                  [nzValue]="item.nombre"
                  nzLabel="{{ item.tipo + ' ' + item.nombre }}">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- LOCALIDAD -->
        <div *ngIf="stepConfig.show.localidadInput"
          class="col mt-3">
          <nz-form-item class="">
            <nz-form-label nzRequired>Localidad</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingresa una localidad">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  placeholder="Localidad"
                  formControlName="localidad" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <!-- Calle -->
        <div class="col-sm-12 col-md-6">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Calle o vialidad</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese la calle">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  formControlName="calle"
                  placeholder="Calle" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- No exterior -->
        <div class="col-sm-12 col-md-3">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>No. exterior</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
              <nz-input-group nzPrefixIcon="tag">
                <input nz-input
                  formControlName="numeroExt"
                  placeholder="Exterior" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- No interior -->
        <div class="col-sm-12 col-md-3">
          <nz-form-item class="form-group my-3">
            <nz-form-label>No. interior</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese una número de interior">
              <nz-input-group nzPrefixIcon="tag">
                <input nz-input
                  formControlName="numeroInt"
                  placeholder="Interior" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <!-- Referencias -->
        <div class="col-12">
          <nz-form-item class="form-group my-3">
            <nz-form-label>Referencias</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese las referencias">
              <nz-input-group nzPrefixIcon="tags">
                <input nz-input
                  formControlName="referencias"
                  placeholder="Referencias" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </ng-template>

    <ng-template #coordinatesForm>
      <section class="row"
        formArrayName="coordenadas">
        <!-- Latitud -->
        <div class="col-sm-12 col-md-6">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Latitud</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese una coordenada válida">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  [formControlName]="0"
                  placeholder="Latitud"
                  type="number" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Longitud -->
        <div class="col-sm-12 col-md-6">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Longitud</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un municipio">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  [formControlName]="1"
                  placeholder="Longitud"
                  type="number" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </section>

      <section class="row"
        [formGroup]="formData">
        <!-- Estado -->
        <div class="col-sm-12 col-md-4">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Estado</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese una coordenada válida">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  formControlName="entidadFederativa"
                  value="Guanajuato" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Calle -->
        <div class="col-sm-12 col-md-4">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Calle o vialidad</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese la calle">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input
                  formControlName="calle"
                  placeholder="Calle" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- No exterior -->
        <div class="col-sm-12 col-md-4">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>No. exterior</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
              <nz-input-group nzPrefixIcon="tag">
                <input nz-input
                  formControlName="numeroExt"
                  placeholder="Exterior" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </section>
    </ng-template>

    <app-modal-confirm-adress *ngIf="confirmAddress"
      [dataResponse]="dataResponse"
      [formData]="formData"
      (changeStep)="changeStepEvent($event)"
      (closeModalEvent)="closeModalEvent($event)">
    </app-modal-confirm-adress>

    <div class="my-4">
      <button type="button"
        class="btn-custom-warning me-2 ms-2"
        (click)="onPreviousStepClick()">
        Regresar un paso
      </button>
      <button type="button"
        class="btn-custom-success me-2 ms-2"
        (click)="onNextStepClick()">
        Continuar
      </button>
    </div>
  </form>
</article>