
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  #contact-data-container .custom-x-padding {
    padding-right: 0rem;
    padding-left: 0rem;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #contact-data-container .custom-x-padding {
    padding-right: 2rem;
    padding-left: 2rem;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  #contact-data-container .custom-x-padding {
    padding-right: 5rem;
    padding-left: 5rem;
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  #contact-data-container .custom-x-padding {
    padding-right: 15rem;
    padding-left: 15rem;
  }
 }



#map{
  width: 100%;
  height: 25rem;
}

.div-mapa{
  height: 25rem;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
}
