<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>
<!-- Main modal -->
<nz-modal id="request-modal" [nzStyle]="{top: '1rem'}" nzWidth="80%" [nzVisible]="true" [nzTitle]="modal_title" (nzOnCancel)="onHideModalClick()" (nzOnOk)="onHideModalClick()">

  <ng-container *nzModalContent>

    <div class="row modal-container">
        <!-- history  -->
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-12">
          <nz-table #basicTable [nzData]="historical_data" [nzFrontPagination]="false">
            <thead>
              <tr>
                <th class="tiny-text text-center">Descripción</th>
                <th class="tiny-text text-center">Fecha</th>
                <th class="tiny-text text-center">Usuario que capturó</th>
                <th class="tiny-text text-center">Razón de rechazo</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tiny-text" *ngFor="let data of status_log_list">
                <td class="text-center"><span [outerHTML]="data.descripcion | statusBadge"></span></td>
                <td class="text-center">{{data.fecha | date: 'mediumDate'}}</td>
                <td>{{data.usuarioCaptura.nombre}} <br> {{data.usuarioCaptura.email}}</td>
                <td><p [outerHTML]="data.observaciones | validateRejectStatus"></p></td>
            </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter class="">
    <button class="btn btn-vim-outline me-3" (click)="onHideModalClick()">Cerrar modal</button>
  </div>

</nz-modal>