input:disabled {
  color: #000 !important;
}

select:disabled {
  color: #000 !important;
}

// Add in style.scss as we are overriding css of global mat-select class which is part of other module.
.mat-select-disabled .mat-select-value {
  color: #000 !important;
}
