<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<article [formGroup]="formData">
  <div formGroupName="datosGenerales">
    <section class="row py-5 bg-contraste-blanco">
      <div class="col-sm-12 col-md-6">
        <nz-form-item class="w-75 mx-auto">
          <nz-form-label class="text-start" nzRequired>CURP</nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese una CURP válida">
            <nz-input-group nzPrefixIcon="idcard">
              <input type="text" nz-input formControlName="curp" placeholder="CURP"
                [value]="formData.get('datosGenerales.curp')?.value.toUpperCase()" (input)="onCurpChange()">
              <span *ngIf="!isAdult" class="text-danger">
                El tutor debe ser mayor de edad
              </span>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div class="col-sm-12 col-md-6">
        <nz-form-item class="w-75 mx-auto">
          <nz-form-label nzRequired>Parentesco con la persona solicitante</nz-form-label>
          <nz-form-control formGroupName="parentesco" nzErrorTip="Por favor, selecciona una opción">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tutor" formControlName="codigo">
              <nz-option *ngFor="let item of relationshipCatalog" [nzValue]="item.codigo"
                nzLabel="{{ item.descripcion }}">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </section>

    <section class="row row-cols-sm-1 row-cols-md-3 py-5">
      <nz-form-item class="">
        <nz-form-label>Nombre(s)</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="nombre" placeholder="Nombre(s)" />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Primer Apellido</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="primerApellido" placeholder="Primer Apellido" />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Segundo Apellido</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="segundoApellido" placeholder="Segundo Apellido" />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Fecha de nacimiento</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="fechaNacimientoTexto" placeholder="Fecha de Nacimiento" />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item class="">
        <nz-form-label>Sexo</nz-form-label>
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="genero" placeholder="Sexo" />
        </nz-input-group>
      </nz-form-item>

      <nz-form-item class="">
        <nz-form-label class="w-100">Entidad de nacimiento</nz-form-label>
        <nz-input-group nzPrefixIcon="skin">
          <input type="text" nz-input formControlName="entidadNacimiento" placeholder="Entidad de Nacimiento" />
        </nz-input-group>
      </nz-form-item>
    </section>

    <section formGroupName="telefono" class="row row-cols-sm-1 row-cols-md-2 px-5">
      <nz-form-item class="form-group">
        <nz-form-label nzRequired>Teléfono</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese un número de teléfono válido">
          <nz-input-group nzPrefixIcon="phone">
            <input type="tel" nz-input formControlName="descripcion" placeholder="Teléfono" maxlength="10"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="">
        <nz-form-label nzRequired>Tipo de teléfono</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, selecciona una opción">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Tipo de teléfono" formControlName="tipo">
            <nz-option *ngFor="let element of contactNumberTypeList" nzValue="{{element}}" nzLabel="{{element}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </section>

    <section class="row my-3" [formGroup]="formEmail">
      <div class="col-2"></div>
      <nz-input-group class="col-6 form-group my-3">
        <nz-form-label class="ms-3">Correo Electrónico</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese una dirección de correo válida">
          <nz-input-group nzPrefixIcon="mail" style="border-radius: 0.6rem 0 0 0.6rem !important;"
            [nzAddOnAfter]="addOnAfterTemplate">
            <input nz-input formControlName="user" placeholder="Correo Electrónico" />
          </nz-input-group>
        </nz-form-control>
      </nz-input-group>
      <ng-template #addOnAfterTemplate>
        <label><strong>@</strong></label>
        <nz-select [nzDropdownRender]="renderTemplate" style="width: 15em;" formControlName="domain">
          <nz-option *ngFor="let item of emailProvider" nzValue="{{ item }}" nzLabel="{{ item }}"></nz-option>
        </nz-select>
      </ng-template>
      <div class="col-2"></div>
    </section>

    <ng-template #renderTemplate>
      <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="onAddProvider(inputElement)">
          <i nz-icon nzType="plus"></i>
          Agregar dominio
        </a>
      </div>
    </ng-template>

  </div>
</article>
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn-custom-warning ms-2 me-2" (click)="previousStep()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2 me-2" (click)="nextStep()">Continuar</button>
  </div>
</div>
