<form [formGroup]="formData">
  <section class="row m-0 p-3 bg-contraste-blanco">
    <div class="col-sm-12 col-md-4">
      <h5>
        ¿En qué institución está usted afiliado o inscrito o tiene acceso a atención médica?
        <em nz-tooltip nzTooltipTitle="Puede seleccionar varias opciones" nz-icon nzType="info-circle"
          nzTheme="outline"></em>
      </h5>
    </div>
    <div class="col-sm-12 col-md-8 custom-colums-2" formArrayName="servicioMedico">
      <div *ngFor="let element of servicioMedico.controls; let i = index;">
        <div class="my-3 d-flex" [formGroupName]="i">
          <nz-switch formControlName="respuesta"></nz-switch>
          <label class="ms-3 text-start">{{ formData.get('servicioMedico')?.value[i].descripcion }}</label>
        </div>
      </div>
    </div>
  </section>

  <section class="row m-0 p-3">
    <div class="col-sm-12 col-md-4">
      <h5>
        ¿A usted o algún integrante de su hogar le ha sido diagnosticada alguna de las siguientes enfermedades por
        un médico?
        <em nz-tooltip nzTooltipTitle="Puede seleccionar varias opciones" nz-icon nzType="info-circle"
          nzTheme="outline"></em>
      </h5>
    </div>
    <div class="col-sm-12 col-md-8 custom-colums-2" formArrayName="enfermedadCronica">
      <div *ngFor="let element of enfermedadCronica.controls; let i = index;">
        <div class="my-3 d-flex" [formGroupName]="i">
          <nz-switch formControlName="respuesta"></nz-switch>
          <label class="ms-3 text-start">{{ formData.get('enfermedadCronica')?.value[i].descripcion }}</label>
        </div>
      </div>
    </div>
  </section>

  <section class="row m-0 p-3 bg-contraste-blanco">
    <div class="col-sm-12 col-md-6">
      <h5>¿Usted o algún integrante del hogar tiene alguna limitación mental?</h5>
    </div>
    <div class="col-sm-12 col-md-6 counter-form-container">
      <label class="me-2">No</label>
      <nz-switch formControlName="limitacionMental"></nz-switch>
      <label class="ms-2">Sí</label>
    </div>
  </section>

  <section class="my-4 text-end">
    <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
  </section>
</form>
