<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="75%" nzVisible="true" nzTitle="Editar campos dinámicos" 
(nzOnCancel)="onClose()" (nzOnOk)="onClose()">
      <ng-container *nzModalContent>
        <form [formGroup]="formData">
          <ng-container formArrayName="arrayForm">
            <section *ngFor="let control of arrayForm.controls; let i = index" 
            class="container border rounded mb-3 mt-3 p-3 bg-contraste-blanco">
              <div class="form-group" [formGroupName]="i">
                <div class="row">
                  <div class="col-md-4">
                    <h5>Título</h5>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="TextoErrorTpl">
                        <input type="text" nz-input formControlName="title" (change)="onChangeKey(i)" class="form-control"/>
                      </nz-form-control>
                      <nz-form-control>
                        <input type="hidden" nz-input formControlName="key" class="form-control"/>
                        <input type="hidden" formControlName="isFormArray" class="form-control"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-4">
                    <h5>Tipo de Input</h5>
                    <nz-form-item formGroupName="type">
                      <nz-form-control nzErrorTip="*El campo es requerido">
                        <nz-select nzPlaceHolder="Seleccionar" formControlName="value" nzSize="small">
                          <nz-option [nzLabel]="'Text'" [nzValue]="'Text'"></nz-option>
                          <nz-option [nzLabel]="'Number'" [nzValue]="'Number'"></nz-option>
                          <nz-option [nzLabel]="'Switch'" [nzValue]="'Switch'"></nz-option>
                          <nz-option [nzLabel]="'Select'" [nzValue]="'Select'"></nz-option>
                          <nz-option [nzLabel]="'MultiSelect'" [nzValue]="'MultiSelect'"></nz-option>
                          <nz-option [nzLabel]="'MultiInput'" [nzValue]="'MultiInput'"></nz-option>
                        </nz-select>                    
                      </nz-form-control>
                      <nz-form-control>
                        <input type="hidden" nz-input formControlName="index" class="form-control"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-4">
                    <h5>Valor por defecto</h5>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="TextoErrorTpl">
                        <input type="text" nz-input formControlName="defaultValue" class="form-control"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" *ngIf="changeType(i, 'placeholder')">
                    <h5>Placeholder</h5>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="TextoNoRequiredErrorTpl">
                        <input type="text" nz-input formControlName="placeholder" class="form-control"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-4" *ngIf="changeType(i, 'maxOptionsSelected')">
                    <h5>maxOptionsSelected</h5>
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Por favor, ingrese un valor válido">
                        <input type="number" nz-input formControlName="maxOptionsSelected" class="form-control"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                  <div class="col-md-4" *ngIf="changeType(i, 'labels')">
                    <h5>Opciones (labels)</h5>
                    <nz-form-item>
                      <nz-form-control [nzErrorTip]="TextoNoRequiredErrorTpl">
                        <input type="text" nz-input formControlName="labels" class="form-control" placeholder="labels"/>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6" *ngIf="changeType(i, 'options')">
                    <h5>Opciones</h5>
                     <ng-container formArrayName="options">
                      <section *ngFor="let controll of getArrayOptions(i).controls; let j = index"> 
                        <div [formGroupName]="j">
                          <nz-form-item>
                            <table>
                              <tr>
                                <td style="width: 100%;">
                                  <nz-input-group>
                                    <div nz-row>
                                      <div nz-col nzSpan="12">
                                        <nz-form-control [nzErrorTip]="TextoErrorTpl">
                                          <input type="text" nz-input formControlName="descripcion" placeholder="descripcion" [required]="changeOptions(i,j)"/>
                                        </nz-form-control>                                          
                                      </div>
                                      <div nz-col nzSpan="12">
                                        <nz-form-control [nzErrorTip]="TextoErrorTpl">
                                          <input type="text" nz-input formControlName="codigo" placeholder="codigo" [required]="changeOptions(i,j)"/>
                                        </nz-form-control>                                          
                                      </div>
                                    </div>
                                  </nz-input-group>
                                </td>
                                <td style="width: 10%;">
                                  <button type="button" class="btn btn-danger w-btn" *ngIf="j > 0"
                                    nzTooltipTitle="Eliminar Opción" nz-tooltip
                                    (click)="deleteOptions(i,j)">
                                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                                  </button>
                                </td>
                              </tr>
                            </table>
                          </nz-form-item>
                        </div>
                      </section>
                      <div align="center">
                        <button type="button"
                        (click)="onAddOptions(i)" class="btn btn-outline-success m-2">Agregar +</button>
                      </div>        
                    </ng-container> 
                  </div>
                  <div class="col-md-6">
                    <h5>Validaciones</h5>
                     <ng-container formArrayName="validators">
                      <section *ngFor="let controll of getArrayValidators(i).controls; let j = index"> 
                        <div [formGroupName]="j">
                          <nz-form-item>
                                <td style="width: 100%;">
                                  <nz-form-control nzErrorTip="Por favor, ingrese un valor válido">
                              <table>
                                <tr>
                                <td style="width: 17%;">
                                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplateValidator" nzCompact>
                                      <ng-template #addOnBeforeTemplateValidator>
                                        <nz-select nzPlaceHolder="Seleccionar" formControlName="type" style="width: 130px;">
                                          <nz-option [nzLabel]="'required'" [nzValue]="'required'"></nz-option>
                                          <nz-option [nzLabel]="'minLength'" [nzValue]="'minLength'"></nz-option>
                                          <nz-option [nzLabel]="'maxLength'" [nzValue]="'maxLength'"></nz-option>
                                          <nz-option [nzLabel]="'min'" [nzValue]="'min'"></nz-option>
                                          <nz-option [nzLabel]="'max'" [nzValue]="'max'"></nz-option>
                                          <nz-option [nzLabel]="'pattern'" [nzValue]="'pattern'"></nz-option>
                                        </nz-select>
                                      </ng-template>
                                      <input type="text" nz-input formControlName="value" [required]="changeValidators(i,j)" placeHolder="descripcion"/>
                                    </nz-input-group>
                                  </td>
                                  <td style="width: 10%;">
                                    <button type="button" class="btn btn-danger w-btn" *ngIf="j > 0"
                                      nzTooltipTitle="Eliminar apoyo" nz-tooltip
                                      (click)="deleteValidators(i,j)">
                                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                                    </button>
                                  </td>
                                </tr>
                              </table>             
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                      </section>
                      <div align="center">
                        <button type="button"
                        (click)="onAddValidators(i)" class="btn btn-outline-success m-2">Agregar +</button>
                      </div>                      
                    </ng-container> 
                  </div>
                </div>
                <ng-template #TextoErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('maxlength')">*El campo debe tener un máximo de 50 caracteres<br></ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">*El campo no debe contener caracteres especiales<br></ng-container>
                  <ng-container *ngIf="control.hasError('required')">*El campo es requerido<br></ng-container>
                </ng-template>
                <ng-template #TextoNoRequiredErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('maxlength')">*El campo debe tener un máximo de 50 caracteres<br></ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">*El campo no debe contener caracteres especiales<br></ng-container>
                </ng-template>
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                <button type="button" *ngIf="(i !== 0 && i <= this.arrayForm.length-1) || (i == 0 && this.arrayForm.length-1 > 0)" 
                  (click)="deleteLesson(i)" class="btn btn-outline-danger m-2">Eliminar</button>
                <button type="button" *ngIf="i == this.arrayForm.length-1" 
                  (click)="onAdd()" class="btn btn-outline-success m-2">Agregar +</button>
              </div>
            </section>
            <div class="d-flex justify-content-center"></div>
          </ng-container>
        </form>
      </ng-container>
      <div *nzModalFooter>
        <button type="button" class="btn btn-outline-success" (click)="onSaveDataDynamics()">Guardar</button>
        <button class="btn btn-vim-outline me-3" (click)="onClose()">Cerrar</button>
      </div>
    </nz-modal>