@import '../../../../../assets/styles/functions.scss';

.data-label {
  font-weight: bolder;
  color: getColor('primary');
  font-size: 1.1rem;
}

.download-row {
  &,
  * {
    cursor: pointer;
    height: 3rem !important;
  }

  &:hover {
    font-size: 1.1rem;
    color: getColorTexto('info');
    background-color: getColorTexto('contraste-blanco');
    transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    .icon-download-action {
      color: getColorTexto('dark-info');
      transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
  }

  .icon-download-action {
    margin: 0.3rem 0.3rem;
    color: getColorTexto('info');

  }
}

.no-data-icon {
  width: 5rem;
}

.div-section-minipki {
  display: flex;
  overflow-x: scroll;
}