<section class=" mt-5 mb-5">
  <div class="col-sm-12 col-md-8">
    <h1>Visualizar documentos por solicitud</h1>
    <app-apoyos-select (emitSelected)="updateSelectedApoyo($event)"
      [specialSelection]="false"></app-apoyos-select>
  </div>
</section>

<section class="row">
  <div class="col-md-12">
    <hr />
  </div>
</section>

<div class="div-section-minipki">
  <app-mini-kpi *ngFor="let kpi of kpiList | keyvalue:onCompare"
    [kpiData]="kpi.value"
    (typeOutput)="onKpiSelect($event)"></app-mini-kpi>
</div>


<section class="pt-5">
  <div class="row">
    <div class="col-md-4">
      <h5>Filtrar Palabras Clave</h5>
      <div class="d-flex">
        <nz-input-group nzPrefixIcon="search"
          id="search-request-input">
          <input nz-input
            type="text"
            name="filterWord"
            [(ngModel)]="filterWord"
            placeholder="Palabras clave" />
        </nz-input-group>
        <button class="btn btn-custom-primary"
          (click)="onSolicitudFilter()"
          [disabled]="filterWord.length === 0">Buscar</button>
        <button *ngIf="isFiltered"
          class="btn btn-custom-info"
          (click)="onClearFilter()">Limpiar</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row">
    <section *ngIf="notData">
      <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="d-flex justify-content-center">
              <img class="no-data-icon"
                src="../../../../../assets/images/iconos/no-data.png"
                alt="no_data_found">
            </div>
            <h3 class="text-center">No se encontró información</h3>
          </div>
        </div>
      </div>
    </section>
    <ng-container *ngIf="!notData">
      <div class="col-sm-12 col-md-6 col-lg-4 mt-4"
        *ngFor="let card of cardList">
        <document-viewer-card [cardData]="card"
          (detailsButtonClickEvent)="onApplicantCardClick($event)"
          (ActionsOnFolioEvent)="actionsOnFolioEvent($event)"></document-viewer-card>
      </div>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-4 pt-2">
      <nz-pagination (nzPageIndexChange)="onIndexChange($event)"
        [nzPageSize]="paginator.pagination.pageSize"
        [nzPageIndex]="paginator.pagination.pageIndex"
        [nzTotal]="paginator.pagination.totalRecords">
      </nz-pagination>
    </div>
  </div>
</section>

<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="85%"
  [nzVisible]="controlShowDocumentModal"
  [nzTitle]="nzTitle"
  (nzOnCancel)="onHideModalClick()"
  (nzOnOk)="onHideModalClick()">
  <ng-container *nzModalContent
    class="ant-modal-body">
    <div class="row px-5 modal-container">
      <div class="col-sm-12 col-md-6 div-personal-data">
        <p><strong class="data-label">Nombre: </strong>{{data.nombreCompleto}}</p>
        <p><strong class="data-label">CURP: </strong>{{data.curp}}</p>
        <p><strong class="data-label">Genero: </strong>{{data.genero}}</p>
        <p><strong class="data-label">Nacionalidad: </strong>{{data.nacionalidad}}</p>
        <p><strong class="data-label">Edad: </strong>{{data.edad}} años</p>
        <p><strong class="data-label">Estado civil: </strong>{{data.estadoCivil}}</p>
        <p><strong class="data-label">Municipio: </strong>{{data.domicilio.municipio.nombre}}</p>
        <p><strong class="data-label">Zona impulso: </strong>{{data.domicilio.zonaImpulso.codigo}}</p>
        <p><strong class="data-label">Tiene hijos: </strong>
          {{(data.tieneHijos.respuesta == true) ? ('Si tiene') : ('No tiene') }}
        </p>
        <p>
          <strong class="data-label">Comunidad indigena: </strong>
          {{(data.comunidadIndigena.respuesta == true)? ('Si pertenece') : ('No pertenece')}}
        </p>
        <p>
          <strong class="data-label">Habla dialecto: </strong>
          {{(data.hablaDialecto.respuesta == true) ? ('Si habla dialecto') : ('No habla dialecto')}}
        </p>
        <p>
          <strong class="data-label">Afromexicano: </strong>
          {{(data.afroMexicano == true) ? ('Es afromexicano') : ('No es afromexicano')}}
        </p>
        <p>
          <strong class="data-label">Migrante: </strong>
          {{(data.migrante.respuesta == true) ? ('Es migrante') : ('No es migrante')}}
        </p>
      </div>

      <div class="col-sm-12 col-md-6 div-data">
        <p class="download-row"
          (click)="showPdf(false)"> <i nz-icon
            nzType="cloud-download"
            class="icon-download-action"
            nzTheme="outline"></i> <span></span>Solicitud Impulso Autogenerada</p>

        <p *ngIf="vigencia == 2022"
          class="download-row"
          (click)="showPdf()"> <i nz-icon
            nzType="cloud-download"
            class="icon-download-action"
            nzTheme="outline"></i> <span></span>Cédula Impulso</p>

        <hr class="mb-5">

        <p *ngFor="let document of allDocuments"
          class="download-row"
          (click)="downloadFile(document)">
          <span class="text-info bw-text">
            <i nz-icon
              nzType="cloud-download"
              class="icon-download-action"
              nzTheme="outline"></i>
          </span>
          {{document.nombre}}
        </p>
      </div>

    </div>
  </ng-container>
  <div *nzModalFooter
    class="">
    <button class="btn btn-vim-outline me-3"
      (click)="onHideModalClick()">Cerrar modal</button>
  </div>
</nz-modal>