<nz-modal [nzStyle]="{top: '5rem'}" nzWidth="50%" [nzVisible]="isOpenModal" nzTitle="Rechazar solicitud"
  (nzOnCancel)="interactRejectModal()" (nzOnOk)="interactRejectModal()">

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
      <div class="row">
        <div class="col-md-12">
          <nz-form-item class="">
            <nz-form-label nzRequired>Razón de rechazo</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, seleccione una razón">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Selecciona una razón de rechazo"
                formControlName="select_reason">
                <nz-option *ngFor="let value of reject_list" nzLabel="{{value.descripcionCorta}}"
                  nzValue="{{value.descripcionCorta}}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item class="">
            <nz-form-label nzRequired>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, escriba una observación">
              <textarea rows="4" nz-input formControlName="text_reason" nzPlaceHolder="Observación..." (ngModelChange)="validateLength($event)"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>

  <div *nzModalFooter class="">
    <button class="btn btn-vim-outline me-3" (click)="interactRejectModal()">Cerrar modal</button>
    <button class="btn btn-custom-danger ms-3" (click)="rejectApplication()" [disabled]="!reject">Rechazar solicitud</button>
  </div>

</nz-modal>