.auth-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .auth-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
  }

  .logo {
    // QUITADO POR VEDA
    // height: 130px;
    // position: relative;
    // z-index: 1;
    // top: 37pt;
    height: 70px;
    position: relative;
    z-index: 1;
    top: 7pt;
  }

  .card {
    background-color: #7e9aac78;
  }
}