<section class="my-5">
  <app-sections-header [title]="'Administrar Ventanillas'"></app-sections-header>

  <hr>

  <section class="my-5">
    <app-debounce-filter-input
      [title]="'Filtrar Ventanilla'"
      (onFilterChange)="onUserFilter($event)">
    </app-debounce-filter-input>
  </section>

  <section class="row my-3">
    <div class="col-md-12 text-end">
      <button class="btn btn-custom-extra m-0" (click)="onCreateVentanilla()" style="height: 3rem;">Agregar Ventanilla</button>
    </div>
  </section>

  <section class="row my-3">
    <nz-table #rowSelectionTable [nzData]="ventanillaList" [nzLoading]="isLoading" [nzLoadingDelay]="2" [nzFrontPagination]="false" [nzScroll]="{ x: '800px' }">
      <thead>
        <tr>
          <th nzWidth="30%"></th>
          <th nzWidth="10%"></th>
          <th nzWidth="10%"></th>
          <th nzWidth="30%"></th>
          <th nzWidth="20%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data" style="height: 150px;">
          <td style="width: 20%;">
            <section class="row">
              <div class="col">
                <h6><strong>{{ data.clave }}: </strong> {{ data.descripcion }}</h6>
                <label class="text-secondary">{{ data.dependencia?.siglas }}</label>
              </div>
            </section>
          </td>
          <!-- Status Badge -->
          <td style="width: 5%;"><span [outerHTML]="getOfficeStatus(data.habilitado) | statusBadge"></span></td>

          <td style="width: 15%;">{{ data.domicilio.municipio }}</td>

          <td style="width: 30%;"><a (click)="onOpenMap(data)">{{ data.domicilio.completo }}</a></td>

          <td style="width: 20%;">
            <!-- Editar -->
            <button *ngIf="data.habilitado" class="btn btn-custom-info" nzTooltipTitle="Editar Oficina" nz-tooltip
              (click)="onEdit(data)">
              <em nz-icon nzType="edit" nzTheme="outline"></em>
            </button>
            <!-- Delete -->
            <button class="btn btn-custom-danger" nzTooltipTitle="Eliminar Oficina"
              (click)="onDelete(data)" nz-tooltip>
              <em nz-icon nzType="close-circle" nzTheme="outline"></em>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="col-md-12 d-flex justify-content-center my-5">
      <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
        [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
    </div>
  </section>
</section>

<app-office-map-modal *ngIf="showMapModal" [office]="selectedVentanilla" (onCloseModal)="onCloseModal($event)"></app-office-map-modal>

<app-ventanilla-modal *ngIf="showVentanillaModal" 
  [ventanilla]="selectedVentanilla"
  (onCloseModal)="onCloseModal($event)">
</app-ventanilla-modal>

<app-yes-no-modal *ngIf="showDeleteModal" [title]="'Desvincular Oficina'"
  [content]="'¿Seguro que quiere desvincular la oficina de la dependencia?'" (isAccept)="onModalAccept($event)">
</app-yes-no-modal>
