@import '../../../../../assets/styles/functions.scss';

.btn-regresar{
    display: flex;
    align-items: center;
    border: solid 0.1rem getColor('azul-principal');
    color: getColor('blanco');
    background: getColor('azul-principal');
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 10rem;
    border-radius: 0.6rem;
}

.btn-siguiente-paso{
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 0.1rem getColor('azul-principal');
    color: getColor('blanco');
    background: getColor('azul-principal');
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    width: 10rem;
    border-radius: 0.6rem;
}

.div-opcion{
    border: solid 0.1rem getColor('azul-secundario');
    border-radius: 0.6rem;
    height: 5rem;
    width: 100%;
    cursor: pointer;
    background: getColor('blanco');
    color: getColor('azul-principal');
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
}

  span{
    font-weight: bold;
  }

  .div-padre{
    padding-top: 4rem;
  }

  // ESTILOS PARA EL INDICADOR DE LA FICHA EN EL MODAL 
.div-padre-ficha{
  width: 100%;
  height: 30rem;
  position: relative;
  overflow-y: scroll;
  
  &-header-seccion{
    z-index: 10;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}


.div-steps-scroll{
  overflow-x: scroll !important;
  overflow-y: hidden !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.ant-steps-item{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}