<ngx-spinner bdColor="rgba(0,0,0,0.80)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<div class="container div-padre">
  <div *ngIf="currentStep == 0"
    class="row mb-5">
    <div class="col-md-3">
      <button class="btn btn-custom-primary br-06"
        (click)="onBackToProgramList()"
        nzSize="large"> Regresar </button>
    </div>
  </div>

  <div class="row my-4">
    <div class="div-steps-scroll">
      <nz-steps [nzCurrent]="currentStep">
        <nz-step *ngFor="let e of [].constructor(templateStepList.length - 1)"></nz-step>
      </nz-steps>
    </div>
    <ng-template #curpInput>
      <app-curp-input (changeContent)="onChangeContent($event)">
      </app-curp-input>
    </ng-template>

    <ng-template #validateCurpData>
      <validate-curp-data [inputData]="solicitudData"
        [programData]="programData"
        (changeContent)="onValidateCurpData($event)">
      </validate-curp-data>
    </ng-template>

    <ng-template #tutorData>
      <tutor-data-form (changeContent)="onChangeContent($event)">
      </tutor-data-form>
    </ng-template>

    <ng-template #curpSecondData>
      <app-curp-second-group-data-form [inputData]="solicitudData"
        (changeContent)="onChangeContent($event)">
      </app-curp-second-group-data-form>
    </ng-template>

    <ng-template #contactData>
      <app-contact-data-form [inputData]="solicitudData"
        [programData]="programData"
        (changeContent)="onChangeContent($event)">
      </app-contact-data-form>
    </ng-template>

    <ng-template #additionalData>
      <app-additional-data [programData]="programData"
        (changeContent)="onChangeContent($event)">
      </app-additional-data>
    </ng-template>

    <ng-template #cedula>
      <app-shared-cedula [isInternal]="true"
        [needCedula]="needCedula"
        [lastStepOfSharedCedula]="lastStepOfSharedCedula"
        (emitData)="onCedulaData()"
        (goBack)="onChangeContent($event)"></app-shared-cedula>
    </ng-template>

    <ng-template #uploadStepper>
      <app-upload-stepper [editFolio]="editFolio"
        (emitSuccess)="onApplicationCreate($event)"
        (changeContent)="onChangeContentBack($event)">
      </app-upload-stepper>
    </ng-template>

    <ng-template #successRegister>
      <div class="row mb-5">
        <div class="col-md-12">
          <h2 *ngIf="solicitudData.origen === 'I'">Solicitud exitosa</h2>
          <h2 *ngIf="solicitudData.origen === 'S'">Solicitud en Trámite</h2>
          <h4 *ngIf="solicitudData.origen === 'S'">El folio de su solicitud es: {{ folio }}</h4>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
          <button class="btn-custom-success"
            (click)="onBackToProgramList()">Regresar a la lista de programas</button>
        </div>
      </div>
    </ng-template>

    <div class="{{ isCedulaStep ? '' : 'steps-content' }}">
      <div class="row text-center">
        <div class="col-md-12">
          <h1>{{ templateStepList[currentStep].title }}</h1>
        </div>
      </div>
      <ng-container [ngTemplateOutlet]="templateStepList[currentStep].template"></ng-container>
    </div>
  </div>
</div>