<ngx-spinner bdColor="rgba(0,0,0,0.80)" size="large" color="#fff" type="ball-clip-rotate-multiple" [fullScreen]="true">
  <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<div id="curp-input-container">
  <div class="row my-5 px-5">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center mb-3">
      <button class="btn-custom-primary w-75" (click)="onEnterCurp()">
        <em nz-icon nzType="edit" nzTheme="outline"></em>
        <br>
        Ingresar CURP
      </button>
    </div>

    <div class="col-sm-12 col-md-6 d-flex justify-content-center">
      <button class="btn-custom-primary w-75" (click)="onEnterTarjetaImpulso()">
        <em nz-icon nzType="edit" nzTheme="outline"></em>
        <br>
        Ingresar Tarjeta Impulso
      </button>
    </div>
  </div>
</div>

<hr *ngIf="vigencia !== 2023">

<div *ngIf="vigencia !== 2023" id="curp-input-container">
  <div class="row mt-5 px-5">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn-custom-secondary w-50" (click)="onPreFolio()">
        <label>
          <em nz-icon nzType="edit" nzTheme="outline"></em>
          <br>
          Registrar con Prefolio
        </label>
      </button>
    </div>
  </div>
</div>

<!-- Modal prefolio  -->
<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" [(nzVisible)]="showCurpInputModal" [nzTitle]="curpInputModalTitle"
  (nzOnCancel)="onCloseModal()" (nzOnOk)="onCloseModal()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formData">
      <!-- FOLIO -->
      <section *ngIf="showFolioInput">
        <section class="row m-0 p-3">
          <div class="col-sm-12 col-md-6">
            <h5>Longitud del folio</h5>
          </div>
          <div class="col-sm-12 col-md-6 counter-form-container">
            <label class="me-2">18</label>
            <nz-switch [(ngModel)]="is16Folio" [ngModelOptions]="{standalone: true}"></nz-switch>
            <label class="ms-2">16</label>
          </div>
        </section>
        <nz-form-item class="form-group my-3">
          <nz-form-control nzErrorTip="Por favor, ingrese un folio válido">
            <nz-input-group nzPrefixIcon="audit">
              <input nz-input formControlName="folio" placeholder="Ingrese su Folio" minlength="16" maxlength="18"
                [value]="formData.get('folio')?.value.toUpperCase()" (input)="onChangeFolio($event)" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </section>

      <!-- CURP  -->
      <nz-form-item *ngIf="showCurpInput" class="form-group my-3">
        <nz-form-control nzErrorTip="Por favor, ingrese un CURP válido">
          <nz-input-group nzPrefixIcon="idcard">
            <input nz-input formControlName="curp" placeholder="Ingrese su CURP" maxlength=18
              [value]="formData.get('curp')?.value.toUpperCase()" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div *ngIf="showFolioInput" class="text-muted px-5">
        Para ingresar un prefolio asegúrese que este comience con la letra F , seguido por 17 caracteres.<br>
        <ol>
          <li>Solo podrá ingresar pre folios generados desde la plataforma</li>
          <li>Los pre folios deben coincidir con programas que pertenezca a su dependencia.</li>
          <li>Su usuario debe estar habilitado para capturar solicitudes del programa en cuestión.</li>
        </ol>
      </div>
    </form>
  </ng-container>
  <section *nzModalFooter>
    <button type="button" class="btn-custom-success" (click)="onSubmitCurp()"
      [disabled]="!formData.valid">Aceptar</button>
  </section>
</nz-modal>

<!-- Modal tarjeta impulso  -->
<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" [(nzVisible)]="showImpulsoModal" nzTitle="Ingresa la Tarjeta Impulso"
  (nzOnCancel)="onCloseModal()" (nzOnOk)="onCloseModal()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formData">
      <nz-form-item class="form-group my-3">
        <nz-form-control nzErrorTip="Por favor, ingrese una tarjeta impulso válida">
          <nz-input-group nzPrefixIcon="idcard">
            <input nz-input formControlName="impulso" placeholder="Ingrese su Tarjeta Impulso" maxlength=10
              [value]="formatImpulsoValue" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
    <p class="text-muted px-5">
      Para ingresar un folio de tarjeta impulso asegúrese que la longitud sea de 9 caracteres en el siguiente formato:
      <br>
      3 números, seguidos de un guión medio, y por último 6 caracteres (pueden ser números o letras)
    </p>
  </ng-container>
  <section *nzModalFooter>
    <button type="button" class="btn-custom-success" [disabled]="!formData.valid"
      (click)="onSubmitImpulso()">Aceptar</button>
  </section>
</nz-modal>