<section class="row" [formGroup]="formData">
    <article class="col-sm-12 col-md-8">
        <h5>{{ title }}</h5>
        <nz-input-group nzPrefixIcon="search" id="search-request-input">
            <input class="w-100" nz-input placeholder="Buscar" formControlName="filterWord" />
        </nz-input-group>
    </article>
    <article *ngIf="isFiltered" class="col-sm-12 col-md-4">
        <h5 class="mx-3">Limpiar</h5>
        <button class="btn btn-custom-info" (click)="onClearFilter()" style="height: 3rem;">Limpiar</button>
    </article>
</section>
