<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="70%" nzVisible="true" nzTitle="Nuevo Rol" (nzOnCancel)="onCloseEmiter()"
  (nzOnOk)="onCloseEmiter()">
  <section *nzModalContent class="px-5" >
    <form nz-form [formGroup]="formData" autocomplete="off">
      <div class="row">
        <div class=" col-lg-8 col-12">
          <nz-form-item>
            <nz-form-label [nzXl]="6" [nzLg]="8" [nzXs]="24" nzRequired nzFor="name">Nombre</nz-form-label>
            <nz-form-control [nzXl]="18" [nzXs]="24" nzErrorTip="El Nombre no es válido">
              <input nz-input formControlName="name" id="name" placeholder=""/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class=" col-lg-4 col-12">
          <nz-form-item>
            <nz-form-label [nzXl]="12" [nzLg]="8" [nzXs]="24" nzRequired nzFor="name">Nivel Jerárquico</nz-form-label>
            <nz-form-control [nzXl]="12" [nzXs]="24" nzErrorTip="El Nivel no es válido">
              <input nz-input formControlName="hierarchyLevel" id="hierarchyLevel" type="number" min="1" max="99"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-8 col-12">
          <nz-form-item>
            <nz-form-label [nzXl]="6" [nzLg]="8" [nzXs]="24" nzRequired nzFor="mainRoute">Ruta principal</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, selecciona una ruta válida">
              <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="mainRoute"
                nzPlaceHolder="Ruta de sistema" nzSize="small">
                <nz-option *ngFor="let item of routeList" nzValue="{{ item }}"
                  nzLabel=" {{ item }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-lg-4 col-12">
          <nz-form-item>
            <nz-form-label [nzLg]="9" [nzXs]="24" nzRequired nzFor="key">Clave</nz-form-label>
            <nz-form-control [nzLg]="15" [nzXs]="24" nzErrorTip="La clave no es válida">
              <input nz-input formControlName="key" id="key" placeholder=""/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <nz-table [nzTitle]="TitleTemplate" class="requirementTable"  nzSize="small" nzBordered nzNoResult=" ">
        <thead >
          <tr>
            <th >Nombre</th>
            <th >Descripción</th>
            <th nzAlign="center">Multiple</th>
            <th > </th>
          </tr>
        </thead>
        <tbody formArrayName="requirements" >
            <tr *ngFor="let requirement of getRequirements.controls; index as i">
              <ng-container [formGroupName]="i">
                <td> <nz-form-control nzErrorTip="Por favor, selecciona una requisito válida">
                  <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="name" [id]="'name'+i" nzSize="small"
                    nzPlaceHolder="Requisito de rol" nzSize="small">
                    <nz-option *ngFor="let item of roleRequirementList" nzValue="{{ item?.name }}"
                      nzLabel=" {{ item?.name }}"></nz-option>
                  </nz-select>
                </nz-form-control></td>
                <td><input nz-input formControlName="description" [id]="'description'+i" placeholder=""nzSize="small"/></td>
                <td nzAlign="center">
                  <nz-form-item>
                    <nz-form-control >
                      <label nz-checkbox formControlName="isMultiple" >
                      </label>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              <td nzAlign="center"><span class='iconAction' nz-icon nzType="delete" nzTheme="outline" (click)="removeRequirementControl(i)"></span></td>
            </ng-container>
            </tr>
        </tbody>
      </nz-table>
    </form>  
  </section>

  <div *nzModalFooter class="text-end">
    <button type="button" class="btn btn-custom-success w-25" (click)="onSaveData()" [disabled]="disableGuardarButton || !formData.valid">Guardar</button>
    <button class="btn btn-custom-secondary me-3" (click)="onCloseEmiter()">Cerrar</button>
  </div>

</nz-modal>

<ng-template #TitleTemplate>
  <div class="pb-4">
    <div class="d-inline  justify-content-md-start">Requerimientos</div>
    
    <div class="d-grid gap-2 d-md-flex float-end">
      <button class="btn btn-sm btn-primary" (click)="addRequirementControl()">Agregar</button>
    </div>
  </div>
</ng-template>