<article class="pt-5 pb-5 container">
  <ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

  <app-sections-header [title]="'Actualizar Documentos'"></app-sections-header>

  <section class="pt-5">
    <div class="row">
      <div class="col-md-4">
        <h5>Filtrar Palabras Clave</h5>
        <div class="d-flex">
          <nz-input-group nzPrefixIcon="search" id="search-request-input">
            <input nz-input type="text" name="term" [(ngModel)]="term" placeholder="Palabras clave" />
          </nz-input-group>
          <button class="btn btn-custom-primary" (click)="onSolicitudFilter()"
            [disabled]="term.length === 0">Buscar</button>
          <button *ngIf="isFiltered" class="btn btn-custom-info" (click)="onClearFilter()">Limpiar</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mt-4">
      <ng-container *ngFor="let card of cardList">
        <app-applicant-card class="mt-4" [cardData]="card" (detailsButtonClickEvent)="onCardClick($event)">
        </app-applicant-card>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-4 pt-2">
        <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
          [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords">
        </nz-pagination>
      </div>
    </div>
  </section>
</article>

<app-documents-update-modal *ngIf="showModal" [cardData]="selectedCard" (onCloseModal)="onCloseModal($event)">
</app-documents-update-modal>