<nz-modal [nzStyle]="{top: '1rem'}"  [nzFooter]="null" nzWidth="90%" nzVisible="true" [nzTitle]="title" (nzOnCancel)="onCloseEmiter()" (nzOnOk)="onCloseEmiter()">  
  <section *nzModalContent class="px-5" >
    <nz-card  nzSize="small" [nzExtra]="extraTemplate" [nzBordered]="false" [nzBodyStyle]="{padding:'0'}">
      <div *ngIf="newChild" class="action-list-item"> 
        <nz-list nzBordered nzSize="small">
          <li  nz-list-item  nzNoFlex>         
            <form nz-form [formGroup]="formData" [nzLayout]="'inline'" (ngSubmit)="null"  autocomplete="off">
              <nz-form-item>
                <nz-form-control nzErrorTip="La clave debe estar integrada unicamente por valores alfanuméricos." [nzValidateStatus]="formData.controls['nameId']">
                  <nz-form-control nzErrorTip="El id Hex debe ser de 12 caracteres alfanuméricos." [nzValidateStatus]="formData.controls['hexId']">
                    <nz-input-group nzCompact nzSearch [nzAddOnAfter]="suffixIconButton">
                      <input nz-input type="text" formControlName="nLevel" id="nlevel" nzSize="small" style="width:10%;"/>
                      <input nz-input type="text" formControlName="nameId" id="nameId" nzSize="small" placeholder="clave_del_id"style="width:60%;" />
                      <input nz-input type="text" formControlName="hexId"  id="hexId"  nzSize="small" placeholder="_id hex unico" style="width:30%;" />
                    </nz-input-group> 
                    <ng-template #suffixIconButton>
                      <span nz-icon nzType="number" class="d-inline btn btn-custom-extra" (click)="setUniqueHex()"></span>
                    </ng-template>                
                  </nz-form-control>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Escriba un nombre válido">
                  <nz-input-group >
                    <input nz-input type="test" formControlName="name"  placeholder="Nombre" nzSize="small" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button  type="button" class="btn btn-custom-extra" (click)="onSaveAction()" [disabled]="formData.invalid">Registrar</button>
                </nz-form-control>
              </nz-form-item>
            </form>
          </li>
        </nz-list>
      </div>
      <div *ngIf="actionList">
        <app-action-list-item [actionList]="actionList" [editMode]="true" (onUpdatedActionList)="onCloseEmiter($event)" (onNewChild)="removeChild()"></app-action-list-item>
      </div>
    </nz-card>
  </section>
</nz-modal>

<ng-template #extraTemplate>
  <div class="btn-group">
    <button class="btn btn-sm btn-outline-primary" (click)="collapseAll(false)">
      Expandir
    </button>
    <button class="btn btn-sm btn-outline-primary" (click)="collapseAll(true)">
      Contraer
    </button>
    <button nz-icon nzType="plus-square" class="d-inline btn btn-sm btn-outline-success" (click)="addChild()"></button>
  </div>
</ng-template>
