<ngx-spinner bdColor="rgba(0,0,0,0.80)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>
<!-- Main modal -->
<nz-modal id="request-modal"
  [nzStyle]="{top: '1rem'}"
  nzWidth="80%"
  [nzVisible]="true"
  [nzTitle]="modal_title"
  (nzOnCancel)="onHideModalClick()"
  (nzOnOk)="onHideModalClick()">

  <ng-container *nzModalContent>

    <div class="row">
      <!-- Data content  -->
      <div class="col-md-6"
        *ngIf="viewConfigForYear.detailSection">
        <p class=""><span>{{modalData.programa.q}} </span> {{modalData.programa | showModalityName}}</p>
        <p><span>CURP: </span>{{modalData.ciudadano.curp}}</p>
        <p><span>Nombre: </span>{{modalData.ciudadano.nombreCompleto}}</p>
        <p><span>Nacimiento: </span>{{modalData.ciudadano.fechaNacimientoTexto}}</p>
        <p><span>Nacionalidad: </span>{{modalData.ciudadano.nacionalidad}}</p>
        <p><span>Edad: </span>{{modalData.ciudadano.edad}} Años</p>
        <p><span>Estado civil: </span>{{modalData.ciudadano.estadoCivil}}</p>
        <p><span>Jefa(e) del hogar: </span>{{modalData.ciudadano.parentescoJefeHogar.descripcion}}</p>
        <p><span>Comunidad: </span>{{modalData.ciudadano.comunidadIndigena.descripcion}}</p>
        <p><span>Dialecto: </span>{{modalData.ciudadano.hablaDialecto.descripcion}}</p>
        <p *ngIf="modalData.ciudadano.afroMexicano === true"><span>Afromexicano: </span> <i nz-icon
            nzType="check"
            nzTheme="outline"
            class="text-success"></i></p>
        <p *ngIf="modalData.ciudadano.afroMexicano === false"><span>Afromexicano: </span> <i nz-icon
            nzType="close"
            nzTheme="outline"
            class="text-danger"></i></p>
        <p class=""><span>Migrante: </span>{{modalData.ciudadano.migrante.descripcion}}</p>
        <p *ngIf="modalData.ciudadano.tutor.respuesta === true"><span>Tutor: </span> <i nz-icon
            nzType="check"
            nzTheme="outline"
            class="text-success"></i></p>
        <p *ngIf="modalData.ciudadano.tutor.respuesta === false"><span>Tutor: </span> <i nz-icon
            nzType="close"
            nzTheme="outline"
            class="text-danger"></i></p>
      </div>
      <!-- File upload content -->
      <div class="col-md-6">
        <h2 class="text-center">Subir archivo de evidencia</h2>

        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <nz-radio-group [(ngModel)]="selectedOptionValue"
              nzButtonStyle="solid"
              class="form-group my-3 d-flex">
              <label nz-radio-button
                nzValue="file"
                class="multiline-5-radio-button"
                (click)="onSelectOption('archivo')">Cargar archivo</label>
              <label nz-radio-button
                nzValue="false"
                class="multiline-5-radio-button"
                (click)="onSelectOption('url')">Pegar URL del archivo</label>
            </nz-radio-group>
          </div>
        </div>
        <div class="row"
          *ngIf="controlOptionValue">
          <div class="col-md-12">
            <div class="dropzone">
              <ngx-dropzone class="text-center"
                (change)="onSelect($event)"
                accept="image/jpeg, image/jpg,image/png, application/pdf">
                <ngx-dropzone-label>
                  <label class="upload-drag-icon">
                    <i nz-icon
                      nzType="inbox"></i>
                  </label>
                  <br> Da click o arrastra tu archivo
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngIf="test"
                  [removable]="true"
                  (removed)="onRemove(test.name)">
                  <ngx-dropzone-label>{{ test.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </div>
        </div>
        <div class="row"
          *ngIf="!controlOptionValue">
          <div class="col-md-12 mt-3 d-flex justify-content-center">
            <textarea [(ngModel)]="fileUrl"
              nz-input
              placeholder="URL del archivo"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3 d-flex justify-content-center">
            <textarea [(ngModel)]="comments"
              nz-input
              placeholder="Comentarios"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          </div>
        </div>
        <div *ngIf="modalData.programa.q === 'QC3807'" class="row row-cols-1 px-5 mt-4 text-center borde-centenido bg-contraste-blanco">
          <nz-form-label class="text-center"
            nzRequired>
            <h5 class="text-center">Fecha de Entrega del Apoyo</h5>
          </nz-form-label>
          <nz-date-picker class="w-50 mx-auto my-3"
            [(ngModel)]="userDate"
            nzValue="small"></nz-date-picker>
        </div>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter
    class="">
    <!-- QC3807 btn -->
    <button *ngIf="modalData.programa.q=='QC3807'"
      class="btn btn-custom-primary ms-3"
      (click)="downloadAnexo3()">Descargar Anexo 3</button>
    <!-- Start flow config -->
    <button class="btn btn-custom-primary ms-3"
      (click)="dictamineApplication()"
      *ngIf="nextStepsConfig.dictamination && session.permissionsList.n6_enviarDictaminacion_31dadbeb59b9">Dictaminar
      solicitud</button>
    <button class="btn btn-custom-primary ms-3"
      (click)="changeActualApplicationStatus()"
      *ngIf="nextStepsConfig.aproved && session.permissionsList.n6_aprobarBtn_5ab904d575e0">Aprobar solicitud</button>
    <button class="btn btn-custom-primary ms-3"
      (click)="changeActualApplicationStatus()"
      *ngIf="nextStepsConfig.entered && session.permissionsList.n6_entregarBtn_ec8ac0f9e9f3">Entregar solicitud</button>
    <!-- End flow config -->
    <button class="btn btn-custom-warning me-3"
      (click)="interactCancelModal()"
      *ngIf="session.permissionsList.n6_cancelarBtn_2f56f3f5ff">Cancelar</button>
    <button class="btn btn-custom-danger me-3"
      (click)="interactRejectModal()"
      *ngIf="session.permissionsList.n6_rechazarBtn_112ddc02ef96">Rechazar</button>
    <button class="btn btn-vim-outline me-3"
      (click)="onHideModalClick()">Cerrar modal</button>
  </div>

</nz-modal>

<!-- Modal for rejecting application -->
<modal-reject-request [isOpenModal]="show_reject_modal"
  [modalData]="modalData"
  (closeModalEvent)="onApplicationUpdate($event)"></modal-reject-request>
<!-- Modal for cancel application -->
<modal-cancel-request [isOpenModal]="showCancelModal"
  [modalData]="modalData"
  (closeModalEvent)="onApplicationUpdate($event)"></modal-cancel-request>