<article>
  <section id="program-list-header"
    class="row text-center my-5">
    <h1>Lista de Programas Sociales</h1>
  </section>

  <div class="row">
    <div class="col-md-6">
      <h5>Filtrar Palabras Clave</h5>
      <div class="d-flex">
        <nz-input-group nzPrefixIcon="search"
          id="search-request-input">
          <input class="w-100"
            nz-input
            placeholder="Buscar Programa"
            [(ngModel)]="filterWord" />
        </nz-input-group>
        <button class="btn btn-custom-primary"
          (click)="onProgramFilter()"
          [disabled]="filterWord.length === 0">Buscar</button>
        <button *ngIf="isFiltered"
          class="btn btn-custom-info"
          (click)="onClearFilter()">Limpiar</button>
      </div>

    </div>
  </div>
  <section class="col-md-12 mt-3">
    <nz-table class="tabla-registro"
      #nzTable
      nzBordered
      [nzFrontPagination]="false"
      nzTableLayout="fixed"
      [nzScroll]="{ x: '800px' }"
      [nzData]="programList">
      <thead>
        <tr>
          <th id="request-program-list-table-header-01"
            class="text-center"
            nz-th
            [nzWidth]="'10%'">Q</th>
          <th id="request-program-list-table-header-01"
            class="text-center"
            nz-th
            [nzWidth]="'20%'">Tipo de apoyo</th>
          <th id="request-program-list-table-header-02"
            class="text-center"
            nz-th
            [nzWidth]="'15%'">Dependencia</th>
          <th id="request-program-list-table-header-03"
            class="text-center"
            nz-th
            [nzWidth]="'35%'">Objetivo</th>
          <th id="request-program-list-table-header-04"
            class="text-center"
            nz-th
            [nzWidth]="'20%'">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of programList"
          style="height: 150px;">
          <td>{{ data.apoyo.clave }}</td>
          <td>{{ data.apoyo?.nombre }}</td>
          <td>{{ data | notEmptyText: 'dependencia' : 'siglas' }}</td>
          <td>{{ data.modalidad?.objetivoEspecifico }}</td>
          <td>
            <div class="d-flex justify-content-center">
              <button type="button"
                class="btn-custom-primary ms-2 me-2"
                (click)="onShowDetailsClick(data._id, data.modalidad?.clave, data.apoyo.clave, data.apoyo.tipo)">
                <p class="tiny-text txt-blanco">Solicitar Apoyo</p>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="col-md-12 d-flex justify-content-center mb-5">
      <nz-pagination (nzPageIndexChange)="onIndexChange($event)"
        [nzPageSize]="paginator.pagination.pageSize"
        [nzPageIndex]="paginator.pagination.pageIndex"
        [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
    </div>
  </section>
</article>

<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="75%"
  [(nzVisible)]="showProgramDetailsModal"
  nzTitle="Detalles del Programa"
  (nzOnCancel)="onCloseModal()"
  (nzOnOk)="onCloseModal()">
  <ng-container *nzModalContent>
    <!-- Headers -->
    <section class="row my-4 py-3">
      <div class="col-sm-12 col-md-6">
        <h4>Programa</h4>
        <span class="bw-text">{{selectedProgram.apoyo.clave}}: {{selectedProgram.apoyo.nombre}}</span>
      </div>
      <div class="col-sm-12 col-md-6">
        <h4>Dependencia</h4>
        <span class="bw-text">{{selectedProgram.dependencia.nombre}}</span>
      </div>
    </section>
    <article class="row my-4 py-3 bg-contraste-blanco">
      <!-- Criteria -->
      <div class="col-sm-12 col-md-6">
        <h4>Criterios de Elegibilidad</h4>
        <ul id="myUL"
          *ngFor="let item of selectedProgram.modalidad?.elegibilidad?.criterios">
          <li>
            <span>
              <i class="me-2 text-success"
                nz-icon
                nzType="check-circle"
                nzTheme="outline"></i>
              {{ item.requisito }}
            </span>
            <ul class="nested"
              *ngIf="item.condiciones.length > 0">
              <li *ngFor="let inciso of item.condiciones">
                <span>
                  <i class="me-2 text-success"
                    nz-icon
                    nzType="check"
                    nzTheme="outline"></i>
                  {{ inciso.descripcion }}
                </span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Requirements -->
      <section class="col-sm-12 col-md-6">
        <h4>Requisitos</h4>

        <!-- Icon Labels -->
        <div class="d-flex justify-content-center mt-2 mb-2 pt-2 pb-2">
          <label class="me-2">
            <i class="me-2 ms-2 text-warning"
              nz-icon
              nzType="file-done"
              nzTheme="outline"></i>
            Opcionales
          </label>
          <label>
            <i class="me-2 ms-2 text-success"
              nz-icon
              nzType="file-done"
              nzTheme="outline"></i>
            Obligatorios
          </label>
        </div>

        <nz-list>
          <nz-list-item *ngFor="let item of selectedProgramDocuments">
            <i class="me-2 ms-2 text-success"
              nz-icon
              nzType="file-done"
              nzTheme="outline"></i>
            {{ item.nombre }}
            <i *ngIf="getDocumentDescription(item.tiposDocumentos)"
              class="ms-3 text-secondary pointer"
              nz-icon
              nzType="question-circle"
              nzTheme="outline"
              nzTooltipTitle="{{ getDocumentDescription(item.tiposDocumentos) }}"
              nzTooltipPlacement="right"
              nz-tooltip></i>
          </nz-list-item>
        </nz-list>
      </section>
    </article>

    <!-- Button  -->
    <section class="col-md-12 d-flex justify-content-center">
      <button type="button"
        class="btn-custom-success ms-2 me-2 w-btn"
        (click)="onApply()">Solicitar</button>
    </section>
  </ng-container>
  <div *nzModalFooter>
  </div>
</nz-modal>