@import '../../../../../assets/styles/functions.scss';

.ant-list-item  {
  justify-content: flex-start;
}

.modal-container {
  padding: 0 7%;
}

.tabla-registro {
  margin: 25px 0 !important;
  font-size: 0.9em !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15) !important;
}
.tabla-registro thead tr {
  background-color: getColor('azul-principal') !important;
  color: #ffffff !important;
  text-align: left !important;
}
.tabla-registro th,
.tabla-registro td {
  padding: 12px 15px !important;
}
// lineas de cada registro
.tabla-registro tbody tr {
  border-bottom: 1px solid #dddddd !important;
}
// Filas obscuras
.tabla-registro tbody tr:nth-of-type(even) {
  background-color: #f3f3f3 !important;
  color: getColor('azul-principal') !important;
}
// Fin de la tabla linea 
.tabla-registro tbody tr:last-of-type {
  border-bottom: 2px solid getColor('azul-principal') !important;
  
}
// Clase activa
.tabla-registro tbody tr.active-row {
  font-weight: bold !important;
  color: getColor('azul-principal') !important;
}
tbody td {
  word-wrap: break-word !important;
  vertical-align: center !important;
  text-align: justify !important;
  max-height: 5rem !important;
  overflow-y: scroll !important;
}

.w-btn{
  width: 35% !important;
}
p{
  font-size: 1.15rem !important;
}
























 /* Remove default bullets */
 ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0.3rem 0.3rem;
  padding: 0.3rem 0.3rem;
}