<div class="mt-5 mb-3">

    <button class="btn-custom-primary" (click)="goBack()">
      <p class="txt-blanco">Regresar</p>
  </button>
  
    <section class="row mt-5 mb-3">
      <div class="col-sm-12 col-md-12">
        <h3 class="mb-2">Modalidad:  {{received_data.clave}} - {{received_data.nombre}}</h3>
        <h3>Tipo apoyo: {{received_data.apoyo.clave}} - {{received_data.apoyo.nombre}}</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
        </div>
      </div>
    </section>
    <!-- KPI SECTIONS  -->
    <section id="peu-kpi-card-container" class="row mb-3">
      <div *ngFor="let card of kpi_card_list" class="col-sm-12 col-md-6 col-lg-3 my-2">
        <div class="card peu-kpi-card kpi-card-color-{{card.color}}">
          <div class="card-content">
            <div class="media d-flex">
              <div class="col-5 text-center p-2 image-container">
                <img src="../../../../../assets/images/iconos/peu/{{card.imageUrl}}" alt="{{card.imageUrl}}"/>
              </div>
              <div class="col-7 text-center kpi-data-container">
                <h4><strong>{{ card.isMoney ? (card.count | moneyMillion) : (card.count | number : '2.0-0' : 'en-US')}}</strong></h4>
                {{card.title}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section id="peu-dashboard-table-filters" class="row mt-5">
      <div class="col-sm-12 col-md-4 mt-3">
        <h5>Filtrar por Fecha</h5>
        <nz-range-picker [(ngModel)]="filter_date" (ngModelChange)="onChange($event)"></nz-range-picker>
      </div>
      <div class="col-sm-12 col-md-4 mt-3">
        <h5>Filtrar Palabras Clave</h5>
        <nz-input-group nzPrefixIcon="search" id="search-request-input">
          <input class="w-100" nz-input placeholder="Filtrar Apoyos" [(ngModel)]="filterTerm" />
        </nz-input-group>
      </div>
      <div class="col-sm-12 col-md-4 justify-content-end center-container">
          <button class="btn btn-custom-success mt-3" (click)="controladdDetailModal(received_data)">
            <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
            Agregar detalle
          </button>
        <!-- <button class="btn btn-custom-secondary m-3" (click)="onDownloadReport()">Exportar</button> -->
      </div>
    </section>
  
    <section id="peu-dashboard-table" class="mt-3 div-table">
      <nz-table #basicTable [nzData]="historicSupportList | filter: filterTerm">
        <thead>
          <tr>
            <th class="text-center" id="peu-dashboard-table-header-01" nzWidth="16%">Nombre</th>
            <th class="text-center" id="peu-dashboard-table-header-02"div-table nzWidth="16%">Modalidad</th>
            <th class="text-center" id="peu-dashboard-table-header-03" nzWidth="13%">Monto</th>
            <th class="text-center" id="peu-dashboard-table-header-04" nzWidth="12%">Mujeres apoyadas</th>
            <th class="text-center" id="peu-dashboard-table-header-04" nzWidth="12%">Hombres apoyados</th>
            <th class="text-center" id="peu-dashboard-table-header-04" nzWidth="10%">Total Apoyos</th>
            <th class="text-center" id="peu-dashboard-table-header-06" nzWidth="8%">Detalle</th>
            <th class="text-center" id="peu-dashboard-table-header-07" nzWidth="9%">Exportar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td class="text-left">{{data.descripcion}}</td>
            <td class="text-center">{{data.programa.modalidad.nombre}}</td>
            <td class="text-center">{{data.monto | moneyMillion}}</td>
            <td class="text-center">
              <img class="img-beneficiary" src="../../../../../assets/images/iconos/peu/woman_stand.png" alt="" srcset="">
              {{data.totalBeneficiarios.mujeres}}</td>
            <td class="text-center">
              <img class="img-beneficiary" src="../../../../../assets/images/iconos/peu/man_stand.png" alt="" srcset="">
              {{data.totalBeneficiarios.hombres}}</td>
            <td class="text-center">{{data.totalBeneficiarios | addPeople}} apoyos</td>
            <td class="text-center">
              <button class="btn btn-custom-primary mx-3" (click)="showDetailModal(data)"><i nz-icon nzType="file-search" nzTheme="outline"></i></button>
            </td>
            <td class="text-center">
              <button class="btn btn-custom-secondary mx-3" (click)="exportData(data)"><i nz-icon nzType="file-excel" nzTheme="outline"></i></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </section>
  </div>
  
  <add-details [modality_data]="received_data" *ngIf="showAddDetailModal" (onCloseModalEvent)="controladdDetailModal($event)"></add-details>  
  <app-details-modal [inputDetailModal]="inputDetailModal" *ngIf="showDetailsModal" (onCloseModalEvent)="onCloseDetailModalEvent($event)"></app-details-modal> 
  
  <!-- Test Modal -->
  <nz-modal [(nzVisible)]="isVisibleDump" nzTitle="Detalles" (nzOnCancel)="handleCancelDump()" (nzOnOk)="handleCancelDump()">
    <ng-container *nzModalContent>
      <img style="max-width: 100%; max-height: 100%;" src="https://yourfreetemplates.com/wp-content/uploads/2019/02/Guanajuato-Map-with-Municipalities-e1550399710742.png" alt="test Guanajuato map">
    </ng-container>
  </nz-modal>
  