 <li class="sidebar-dropdown">
  <a class="submenu-principal" (click)="hideSubmenuOpt()">
    <i nz-icon nzType="{{showSubmenu ? 'minus-square' : 'plus-square'}}" nzTheme="outline" ></i>
    <span>{{title}}</span>
  </a>
  <div *ngIf="showSubmenu" class="sidebar-submenu">
    <ul>
      <li *ngFor="let opt of options; let i = index">
        <a class="submenu-opt submenu-opt-{{id}}" [ngClass]="{'active': initialSelectionOption(opt.href)}"
          (click)="selectSubmenuOption(i, opt.href)">

          <i nz-icon nzType="{{opt.icon}}" nzTheme="outline" ></i>{{opt.title}}
        </a>
      </li>
    </ul>
  </div>
</li>
