.h-uploads {
  height: 15rem;
}

ngx-dropzone {
  height: 7rem;
  background: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  
  ngx-dropzone-label {
    label em {
      color: #40a9ff;
      font-size: 48px;
    }
  }

  ngx-dropzone-preview {
    min-height: 80px !important;
    max-height: 80px !important;
  }
}
