  <div class="row mt-5">
    <div class="col-md-6 h-uploads">
      <div>
        <h2>Identificación <br> oficial</h2>
        <ngx-dropzone (change)="onSelect($event, 'curp')" accept="application/pdf">
          <ngx-dropzone-label>
            <label class="upload-drag-icon">
              <em nz-icon nzType="inbox"></em>
            </label>
            <br> Da click o arrastra tu archivo
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngIf="files.curp" [removable]="true" (removed)="onRemove('curp')">
            <ngx-dropzone-label>{{files.curp.name}}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
    <div class="col-md-6 h-uploads">
      <div>
        <h2>Comprobante de <br>Domicilio</h2>
        <ngx-dropzone (change)="onSelect($event, 'address')" accept="application/pdf">
          <ngx-dropzone-label>
            <label class="upload-drag-icon">
              <em nz-icon nzType="inbox"></em>
            </label>
            <br> Da click o arrastra tu archivo
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngIf="files.address" [removable]="true" (removed)="onRemove('address')">
            <ngx-dropzone-label>{{files.address.name}}</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </ngx-dropzone>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <button type="button" class="btn-custom-warning ms-2 me-2" (click)="previousStep()">Regresar un paso</button>
      <button type="button" class="btn-custom-success ms-2 me-2" (click)="nextStep()" [disabled]="isDisabled()">Continuar</button>
    </div>
  </div>