<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="80%"
  nzVisible="true"
  nzTitle="Modalidades"
  (nzOnCancel)="onCloseBtn()"
  (nzOnOk)="onCloseBtn()">
  <ng-container *nzModalContent>
    <article [formGroup]="formData">
      <h3 class="text-center">Modalidades</h3>
      <nz-collapse>
        <ng-container *ngFor="let modalidad of formDataArray.controls; let i = index">
          <nz-collapse-panel *ngIf="modalidad.get('status')?.value === 'Enabled'"
            formArrayName="modalidades"
            [nzHeader]="getPanelTitle(modalidad)"
            [nzActive]="modalidad.get('clave')?.value == ''"
            [nzDisabled]="!modalidad.get('habilitado')">
            <section [formGroupName]="i">
              <!-- BUTTONS -->
              <section *ngIf="isInProgram(modalidad)"
                class="text-end">
                <ng-container [ngTemplateOutlet]="PauseButton"
                  [ngTemplateOutletContext]="{ modalidad: modalidad, index: i }"></ng-container>
                <button type="button"
                  class="btn-custom-radio-big-danger mx-3 w-btn"
                  nzTooltipTitle="Eliminar modalidad"
                  nz-tooltip
                  (click)="onDelete(i)">
                  <span nz-icon
                    nzType="delete"
                    nzTheme="outline"></span>
                </button>
              </section>
              <!--  -->
              <section *ngIf="!isInProgram(modalidad)"
                class="text-end">
                <button type="button"
                  class="btn-custom-radio-big-danger mx-3 w-btn"
                  nzTooltipTitle="Cancelar nueva modalidad"
                  nz-tooltip
                  (click)="onDelete(i, true)">
                  <span nz-icon
                    nzType="close"
                    nzTheme="outline"></span>
                </button>
              </section>

              <!-- Clave -->
              <section class="modal-modalidad-section">
                <nz-form-label nzRequired>
                  <h4>Clave</h4>
                </nz-form-label>
                <nz-form-item class="form-group my-3">
                  <nz-form-control nzErrorTip="Por favor, ingrese una clave válida">
                    <nz-input-group nzPrefixIcon="edit">
                      <input type="text"
                        nz-input
                        placeholder="Clave de la modalidad"
                        formControlName="clave"
                        readonly />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </section>
              <!-- Title -->
              <section class="modal-modalidad-section">
                <nz-form-label nzRequired>
                  <h4>Nombre</h4>
                </nz-form-label>
                <nz-form-item class="form-group my-3">
                  <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
                    <nz-input-group nzPrefixIcon="edit">
                      <input type="text"
                        nz-input
                        placeholder="Nombre de la modalidad"
                        formControlName="nombre" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </section>
              <!-- Objetivo General -->
              <section class="modal-modalidad-section bg-contraste-blanco">
                <nz-form-label nzRequired>
                  <h4>Objetivo Especifico</h4>
                </nz-form-label>
                <textarea nz-input
                  style="height: 120px;"
                  placeholder="Objetivo Especifico"
                  formControlName="objetivoEspecifico"></textarea>
              </section>
              <!-- Necesita Cedula -->
              <section class="modal-modalidad-section">
                <nz-form-label nzRequired>
                  <h4>¿Necesita Cédula?</h4>
                </nz-form-label>
                <nz-form-item class="form-group my-3">
                  <div class="d-flex align-items-center">
                    <label class="mx-3 tiny-text">No</label>
                    <nz-switch nzSize="default"
                      formControlName="cedula"></nz-switch>
                    <label class="mx-3 tiny-text">Sí</label>
                  </div>
                </nz-form-item>
              </section>
              <!-- Tipo -->
              <section class="modal-modalidad-section bg-contraste-blanco">
                <nz-form-label nzRequired>
                  <h4>Tipo de modalidad</h4>
                </nz-form-label>
                <nz-radio-group nzSize="large"
                  class="form-group my-3 d-flex"
                  formControlName="tipo">
                  <label nzValue="VIM"
                    nz-radio-button> VIM </label>
                  <label nzValue="PEU"
                    nz-radio-button> PEU </label>
                  <label nzValue="PEUESPECIAL"
                    nz-radio-button> PEU con solicitud </label>
                </nz-radio-group>
              </section>

              <!-- Anexos -->
              <section class="modal-modalidad-section">
                <h4>Anexos</h4>
                <app-document-admin type="document"
                  [documents]="modalidad.get('anexos')?.value"
                  (onChanges)="onDocumentChange($event, i)"></app-document-admin>
              </section>

              <!-- Etiquetas -->
              <section class="modal-modalidad-section">
                <h4>Etiquetas</h4>
                <nz-select class="w-100"
                  formControlName="etiquetas"
                  nzMode="tags"
                  nzPlaceHolder="Etiquetas">
                  <nz-option *ngFor="let option of program.modalidad?.etiquetas"
                    [nzLabel]="option"
                    [nzValue]="option"></nz-option>
                </nz-select>
              </section>

              <!-- Criterios -->
              <section class="modal-modalidad-section">
                <h4>Criterios</h4>
                <app-document-admin type="criteria"
                  [criterios]="(modalidad.get('elegibilidad')?.value)?.criterios"
                  (onChanges)="onDocumentChange($event, i)"></app-document-admin>
              </section>
              <!-- Datos Adicionales -->
              <!-- TODO: Agregar Pablo -->

              <!------------------ GUARDAR ---------------->

              <section class="text-end">
                <button class="btn btn-custom-success ms-5 me-2 w-btn"
                  (click)="onSave(i)">Guardar</button>
              </section>

              <!------------------ APOYOS ---------------->

              <hr>
              <section class="text-center">
                <button type="button"
                  class="btn-custom-info ms-2 me-2 w-btn"
                  (click)="onShowApoyos(false, i);"
                  [disabled]="!isInProgram(modalidad)">
                  Ver Apoyos
                </button>
                <div *ngIf="!isInProgram(modalidad)"
                  class="alert alert-secondary mt-3"
                  role="alert">
                  Para ver los apoyos es necesario guardar la modalidad
                </div>
              </section>
            </section>
          </nz-collapse-panel>
        </ng-container>
      </nz-collapse>

      <button type="button"
        class="btn-custom-radio-big-success my-3 mx-auto w-btn"
        (click)="onAdd()">
        <span nz-icon
          nzType="plus"
          nzTheme="outline"></span>
      </button>
    </article>
  </ng-container>
  <div *nzModalFooter>
    <button type="button"
      class="btn-custom-secondary my-3 mx-auto w-btn"
      (click)="onCloseBtn()">
      Cerrar
    </button>
  </div>
</nz-modal>

<app-apoyos-modal *ngIf="showApoyoModal"
  [program]="program"
  [modalidadIndex]="modalidadIndex"
  (onCloseModal)="onShowApoyos(true)"></app-apoyos-modal>

<app-yes-no-modal *ngIf="showConfirmModal"
  [title]="confirmModalTitle"
  [content]="confirmModalMsg"
  (isAccept)="onModalAccept($event)"></app-yes-no-modal>

<ng-template #PauseButton
  let-modalidad="modalidad"
  let-index="index">
  <button *ngIf="modalidad.get('habilitado').value"
    type="button"
    class="btn-custom-radio-big-secondary mx-3 w-btn"
    nzTooltipTitle="Pausar modalidad"
    nz-tooltip
    (click)="onPause(index)">
    <span nz-icon
      nzType="pause"
      nzTheme="outline"></span>
  </button>
  <!--  -->
  <button *ngIf="!modalidad.get('habilitado').value"
    type="button"
    class="btn-custom-radio-big-success x-3 w-btn"
    nzTooltipTitle="Habilitar modalidad"
    nz-tooltip
    (click)="onPause(index)">
    <span nz-icon
      nzType="caret-right"
      nzTheme="outline"></span>
  </button>
</ng-template>