<section class="my-5">
  <app-sections-header [title]="'Administrar Roles'" [showDependency]="false"></app-sections-header>

  <section *ngIf="rolList.length>0 " class="my-3">
    <nz-card class="contentTab" nzTitle="Administración de Roles" nzSize="small"  [nzExtra]="extraTemplate">
      <nz-tabset nzSize="small"  nzTabPosition="left" (nzSelectedIndex)="0" >
        <nz-tab  *ngFor="let rol of rolList"  [nzTitle]="rol.name"  [nzDisabled]="rol.disabled">
          <app-rol-tab-content [rol]="rol" [actionList]="rol.actionList" (onEdit)="onEdit(rol)">   
          </app-rol-tab-content>
        </nz-tab>
      </nz-tabset>
    </nz-card>
    <ng-template #extraTemplate>
      <button class="btn btn-sm btn-outline-info" (click)="onEditActionTree()">Modificar arbol de acciones</button>
      <button class="btn btn-sm btn-custom-extra" (click)="onCreateRol()">Nuevo Rol</button>
    </ng-template>
  </section>

  <app-rol-new-modal *ngIf="showNewRolModal" [title]="'Nuevo Rol'" [rol]="selectedRol" (onCloseModal)="onCloseModal($event)">
  </app-rol-new-modal>

  <app-action-tree-modal *ngIf="showActionTreeModal" [title]="'Modificar arbol de acciones'" [actionList]="actionList" (onCloseModal)="onCloseModal($event)">
  </app-action-tree-modal>
