<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="60%" nzVisible="true" nzTitle="Editar Usuario" (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">
  <section *nzModalContent class="px-5" class="card-body">
    <section class="row mb-5">
      <ng-container *ngIf="isEditUserData; then EditUserData else ShowUserData"></ng-container>
      <hr>
    </section>

    <nz-tabset nzTabPosition="left" >
      <nz-tab *ngFor="let role of roleList" [nzTitle]="role.name" (nzSelect)="onTabSelect(role)">
        <section class="text-center">
          <nz-tabset nzTabPosition="top" nzType="editable-card" (nzAdd)="addRoleTab(role)" [nzHideAdd]="RolesArrHasNewRole(role)">
          <nz-tab *ngFor="let roleElement of rolesViewArr[role._id] " [nzTitle]="roleElement.tabDescription" (nzSelect)="onTabSelect(role)">
            <section class="text-center px-5">
              <h3>{{ role.name }}</h3>
              <ng-container *ngTemplateOutlet="roleElement.editRoleData? EditRoleData:ShowRoleData;context: {role: roleElement}" ></ng-container>
            </section>
          </nz-tab>
        </nz-tabset>

        </section>
      </nz-tab>
    </nz-tabset>
  </section>
</nz-modal>

<ng-template #ShowUserData>
  <div class="col-sm-12 col-md-10">
    <h2>{{ user.fullName }}</h2>
    <h5><strong>{{ user.email }} </strong></h5>
    <h5>{{ user.dependencia.nombre }}</h5>
  </div>
  <div class="col-sm-12 col-md-2">
    <button class="btn btn-custom-info" nzTooltipTitle="Editar datos de usuario" (click)="onEditUserData()" nz-tooltip>
      <em nz-icon nzType="edit" nzTheme="outline"></em>
    </button>
  </div>
</ng-template>

<ng-template #EditUserData>
  <div class="col-sm-12 col-md-10">
    <form [formGroup]="formData">
      <div class="m-3">
        <nz-form-item class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>
            <h5>Nombre Completo</h5>
          </nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
            <nz-input-group nzPrefixIcon="idcard">
              <input type="tel" nz-input placeholder="Nombre completo del usuario" formControlName="name" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="m-3">
        <nz-form-item class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>
            <h5>Correo Electrónico</h5>
          </nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese un correo válido">
            <nz-input-group nzPrefixIcon="mail">
              <input type="tel" nz-input placeholder="Correo electrónico del usuario" formControlName="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="my-3 mx-3">
        <nz-form-item class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>
            <h5>Dependencia de Usuario</h5>
          </nz-form-label>
          <nz-form-control nzErrorTip="Por favor, selecciona una dependencia válida">
            <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="dependencia"
              nzPlaceHolder="Dependencia de Usuario" nzSize="small">
              <nz-option *ngFor="let item of dependencyList" nzValue="{{ item._id }}"
                nzLabel="{{ item.siglas }}: {{ item.nombre }}"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="my-3 mx-3">
        <nz-form-item class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>
            <h5>Oficina</h5>
          </nz-form-label>
          <nz-form-control nzErrorTip="Por favor, selecciona una oficina válida">
            <!-- <h6 class="text-muted">{{ selectedDependency.length ? '' : 'Por favor, selecciona una dependencia' }}</h6> -->
            <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="oficina"
              nzPlaceHolder="Oficina de Usuario" nzSize="small">
              <ng-container *ngFor="let item of ventanillaList">
                <nz-option-group [nzLabel]="item.clave">
                  <nz-option [nzValue]="item._id+'|'+item.clave" [nzLabel]="item.descripcion"></nz-option>
                </nz-option-group>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
  <div class="col-sm-12 col-md-2">
    <button class="btn btn-custom-success" nzTooltipTitle="Guardar datos de usuario" (click)="onSaveUserData()"
      nz-tooltip>
      <em nz-icon nzType="save" nzTheme="outline"></em>
    </button>
  </div>
</ng-template>

<ng-template #ShowRoleData let-role="role">
  <ng-container *ngIf="roleShowData">
    <ng-container *ngTemplateOutlet="ShowRequirements;context: {requirementsData: roleShowData.requirements}">
    </ng-container>
    <section>
      <!-- Editar -->
      <button class="btn btn-custom-info" nzTooltipTitle="Editar Rol" (click)="onEditRoleData(role)" nz-tooltip>
        <em nz-icon nzType="edit" nzTheme="outline"></em>
      </button>
  
      <button *ngIf="roleShowData.isEnabled" class="btn btn-custom-secondary"
        nzTooltipTitle="Pausar Privilegios del Rol" (click)="onChangeRoleStatus(role,'pending')"  nz-tooltip>
        <em nz-icon nzType="pause-circle" nzTheme="outline"></em>
      </button>
  
      <!-- Reactivar -->
      <button *ngIf="!roleShowData.isEnabled" class="btn btn-custom-primary"
        nzTooltipTitle="Reactivar Privilegios del Rol" (click)="onChangeRoleStatus(role,'enabled')" nz-tooltip>
        <em nz-icon nzType="play-circle" nzTheme="outline"></em>
      </button>
  
      <!-- delete -->
      <button class="btn btn-custom-danger" nzTooltipTitle="Eliminar Rol" (click)="onChangeRoleStatus(role,'deleted')" nz-tooltip>
        <em nz-icon nzType="close-circle" nzTheme="outline"></em>
      </button>
    </section>
  </ng-container>
  
  <ng-container *ngIf="!roleShowData">
    <!-- Agregar rol -->
    <button class="btn btn-custom-info mt-5" nzTooltipTitle="Agregar Rol" (click)="onEditRoleData(role)" nz-tooltip>
      Agregar Rol
    </button>
  </ng-container>
</ng-template>

<ng-template #EditRoleData let-role="role">
  <form class="my-5" [formGroup]="formRequirements[role.roleData.arrId]">
    <div *ngFor="let config of formConfigurationArray[role.roleData.arrId]" class="my-3 mx-3">
      <nz-form-item class="form-group my-3 mx-auto">
        <nz-form-label nzRequired>
          <h5>{{ config.inputName | titlecase }}</h5>
        </nz-form-label>
        <nz-form-control nzErrorTip="Por favor, selecciona una opción válida">
          <nz-select nzShowSearch nzAllowClear class="w-100" [formControlName]="config.formControl"
            nzPlaceHolder="{{ config.placeholder | titlecase }} de Usuario" nzSize="small"
            [nzMode]="config.isMultiple ? 'multiple' : 'default'" [nzMaxMultipleCount]="config.isMultiple ? 1000 : 1">
            <ng-container *ngFor="let requirement of config.options; let i = index">
              <nz-option-group [nzLabel]="config.groupLabelFunc(requirement, i)">
                <nz-option [nzValue]="config.optionValueFunc(requirement)"
                  [nzLabel]="config.optionLabelFunc(requirement)"></nz-option>
              </nz-option-group>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <button class="btn btn-custom-success mt-5" (click)="onSaveRoleData(role)" [disabled]="formRequirements[role.roleData.arrId].invalid">Guardar</button>
    <button class="btn btn-custom-danger mt-5" (click)="onCancelRoleData(role)">Cancelar</button>
  </form>
  <ng-container *ngIf="role.ShowRoleNoEditableData">
    <nz-divider  nzText="Información no modificable" nzOrientation="left"></nz-divider>
    <ng-container *ngTemplateOutlet="ShowRequirements;context: {requirementsData: roleNoEditableData}">
    </ng-container>
  </ng-container>
  
</ng-template>

<ng-template #ShowRequirements let-requirementsData="requirementsData">
  <section class="mt-3 text-start">
    <ng-container *ngFor="let data of requirementsData | keyvalue">
      <h5><strong>{{ $any(data).key | titlecase }}</strong></h5>
      <ng-container *ngFor="let item of $any(data).value">
        <ng-container *ngFor="let desc of $any(item) | keyvalue">
          <h6><strong>{{ $any(desc).key | titlecase }}</strong>: {{ $any(desc.value) | titlecase }}</h6>
        </ng-container>
        <br>
      </ng-container>
      <hr>
    </ng-container>
  </section>
</ng-template>