<header id="contenedor">
    <section class="upper-line"></section>

    <section class="row center-line" style="height: 100px;">
      <div class="col image-container logo-container ">
        <img class="logo d-none d-md-block" src="../../../../assets/images/identidad/logo-gto.png" alt="Logo Gobierno del Estado de Guanajuato">
        <img class="logo d-block d-md-none" src="../../../../assets/images/identidad/logo-gto-sm.png" alt="Logo Gobierno del Estado de Guanajuato">
      </div>
      <div class="col image-container text-end py-2 px-4">

        <ul class="navbar-nav d-inline-flex flex-row flex-wrap ms-md-auto">
          <li class="nav-item py-1 col-12 col-lg-auto">
            <select id="activeYearSelect" [(ngModel)]="activeYear" (ngModelChange)="onChangeViewgingDate($event)">
              <option *ngFor="let optYear of arrYears" [value]="optYear">
                {{optYear}}
              </option>
            </select>
          </li>
          <li class="nav-item py-1 col-12 col-lg-auto">
            <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
            <hr class="d-lg-none text-white-50">
          </li>
          <li class="nav-item py-1 col-12 col-lg-auto">
            <a href="/#/ayuda/videos">
              <img class="icono" src="../../../../assets/images/iconos/menu/information.png" alt="Menú de Ayuda">
            </a>
          </li>
        </ul>

      </div>
    </section>

    <section class="bottom-line"> </section>
</header>
