@import '../../../../assets/styles/functions.scss';

$hover-config: height 0.3s ease-in-out;

#contenedor {
  background-color: #0e263a;

  .upper-line {
    height: 7px;
    background: linear-gradient(90deg,
        #17269e 20%,
        rgba(35, 102, 137, 1) 57%,
        rgba(57, 152, 202, 1) 100%);
  }

  .center-line {
    height: 100px;
    .logo-container{
      background:#dce3f3;
      padding-left:40px!important;
      margin-left: 0!important; //Activo en la primera versión
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      max-width: 350px;
    }
    .image-container {

      margin-left: 4.5rem; //Activo en la primera versión
      padding: 18px 0; // AGREGADO POR VEDA

      .logo {
        // max-height: 100px; QUITADO TPO VEDA
        max-height: 62px;
        max-width: 100%;
      }
      .icono {
        height: 2rem;
        cursor: pointer;
        &:hover {
          transition: $hover-config;
          height: 2.2rem;
        }
      }
    }

  }

  .bottom-line {
    height: 7px;
    background: linear-gradient(90deg,
        #4b85e7 20%,
        rgba(68, 85, 172, 1) 57%,
        rgba(122, 66, 158, 1) 100%);
  }

  .center-container .logo {
    position: relative;
    max-height: 100px;
    max-width: 100%;
  }
}


/*-------------------Select-ActiveYear-------------------*/
#activeYearSelect {
  cursor: pointer;
  background: #0e263a!important;
  border-color: #254c91;
  border-radius: 0.6rem!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: center;
  max-width: 238px;
  min-width: 238px;
  color:#FFF;
}

#activeYearSelect option {
  cursor: pointer;
  color:#b8bfce!important;
}

#activeYearSelect:focus, #activeYearSelect:focus{
  outline: none;
}
