<article>
  <section class="row m-0 p-3 bg-contraste-blanco">
    <div class="col-sm-12 col-md-6">
      <h5>¿En términos de delincuencia, considera que vivir en su colonia o localidad es...?</h5>
    </div>
    <div class="col-sm-12 col-md-6 counter-form-container">
      <label class="me-2">Inseguro</label>
      <nz-switch [(ngModel)]="perception"></nz-switch>
      <label class="ms-2">Seguro</label>
    </div>
  </section>

  <section class="my-4 text-end">
    <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
  </section>
</article>