<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" nzVisible="true" [nzTitle]="tituloModalOficina" (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">

  <section *nzModalContent class="px-5" [formGroup]="formData">
    <!--  Nombre -->
    <div class="row mx-auto">
      <nz-form-item class="form-group my-3 w-50 mx-auto">
        <nz-form-label nzRequired>Nombre de la Oficina</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
          <nz-input-group nzPrefixIcon="idcard">
            <input type="tel" nz-input formControlName="descripcion" placeholder="Nombre de la Oficina" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!--  Datos Ventanilla -->
    <div class="row mx-auto">
      <div class="col-sm-12 col-md-6 mt-3">
        <nz-form-item formGroupName="contacto" class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>Número de Teléfono</nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
            <nz-input-group nzPrefixIcon="phone">
              <input type="tel" nz-input formControlName="telefono" placeholder="Número de Contacto"  maxlength="10"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-sm-12 col-md-6 mt-3">
        <nz-form-item class="form-group my-3 mx-auto">
          <nz-form-label nzRequired>Clave de ventanilla</nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese una clave de ventanilla válida">
            <nz-input-group nzPrefixIcon="key">
              <input type="text" nz-input formControlName="clave" placeholder="Clave de ventanilla"  />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <hr>
    <article formGroupName="domicilio">
      <!--  CP -->
      <div class="row mx-auto">
        <nz-form-item class="form-group my-3 w-50 mx-auto">
          <nz-form-label nzRequired>CP</nz-form-label>
          <nz-form-control nzErrorTip="Por favor, ingrese una CP válido">
            <nz-input-group nzPrefixIcon="edit">
              <nz-spin *ngIf="isLoadingCpData" nzSimple></nz-spin>
              <input nz-input formControlName="cp" placeholder="CP" maxlength="5" (input)="onGetCpData($event)" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="row">
        <!-- entidadFederativa -->
        <div class="col-sm-12 col-md-6 mt-3">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Estado</nz-form-label>
            <nz-input-group nzPrefixIcon="environment">
              <input nz-input formControlName="entidadFederativa" placeholder="Estado" />
            </nz-input-group>
          </nz-form-item>
        </div>

        <!-- nombreMunicipio -->
        <div class="col-sm-12 col-md-6 mt-3">
          <nz-form-item class="form-group my-3">
            <nz-form-label nzRequired>Municipio</nz-form-label>
            <nz-input-group nzPrefixIcon="environment">
              <input nz-input formControlName="nombreMunicipio" placeholder="Municipio" />
            </nz-input-group>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <!-- Colonia -->
        <div class="cols-sm-12 col-md-6 mt-3">
          <nz-form-item class="">
            <nz-form-label nzRequired>Colonia</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, selecciona una colonia">
              <nz-input-group nzPrefixIcon="environment">
                <nz-select nzTooltipTrigger="focus" nzShowSearch nzAllowClear nzPlaceHolder="Colonias"
                  formControlName="colonia">
                  <nz-option *ngFor="let item of neighborhoodsList" nzValue="{{ item }}" nzLabel="{{ item }}">
                  </nz-option>
                </nz-select>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Calle -->
        <div class="cols-sm-12 col-md-6 mt-3">
          <nz-form-item class="">
            <nz-form-label nzRequired>Calle</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese la calle">
              <nz-input-group nzPrefixIcon="environment">
                <input nz-input formControlName="calle" placeholder="Calle" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <!-- Num exterior -->
        <div class="cols-sm-12 col-md-6 mt-3">
          <nz-form-item class="">
            <nz-form-label nzRequired># Exterior</nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
              <nz-input-group nzPrefixIcon="tag">
                <input nz-input formControlName="numeroExt" placeholder="Exterior" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- Num Interior -->
        <div class="cols-sm-12 col-md-6 mt-3">
          <nz-form-item class="">
            <nz-form-label># Interior</nz-form-label>
            <nz-input-group nzPrefixIcon="tag">
              <input nz-input formControlName="numeroInt" placeholder="Interior" />
            </nz-input-group>
          </nz-form-item>
        </div>
      </div>
    </article>

    <section class="row tex-end">
      <button type="button" class="btn-custom-success ms-2" [disabled]="!formData.valid ||disableGuardarButton"
      (click)="onSaveData()">Guardar</button>
    </section>
  </section>

  <div *nzModalFooter class="text-end">
    <button class="btn btn-custom-secondary me-3" (click)="onClose()">Cerrar</button>
  </div>

</nz-modal>
