  <form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
  <section class="row m-0 p-3 bg-contraste-blanco">
    <div class="col-sm-12 col-md-6">
      <h5>Actualmente, ¿Usted asiste a la escuela?</h5>
    </div>
    <div class="col-sm-12 col-md-6 counter-form-container">
      <label class="me-2">No</label>
      <nz-switch formControlName="estudiante"></nz-switch>
      <label class="ms-2">Sí</label>
    </div>
  </section>

  <section class="row m-0 p-3">
    <div class="col-sm-12 col-md-5">
      <h5>¿Cuál es el último nivel y grado que aprobó?</h5>
    </div>
    <div class="col-sm-12 col-md-5 counter-form-container">
      <nz-form-item class="w-100">
        <nz-form-label>Nivel</nz-form-label>
        <nz-form-control formGroupName="ultimoNivel" nzErrorTip="Por favor, selecciona una opción">
          <nz-select formControlName="codigo" class="w-100"  nzShowSearch nzAllowClear nzPlaceHolder="Nivel y grado">
            <nz-option *ngFor="let item of educationLevelList" [nzValue]="item.codigo" nzLabel="{{ item.descripcion }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-sm-12 col-md-2 counter-form-container">
      <nz-form-item class="w-100">
        <nz-form-label>Grado</nz-form-label>
        <nz-form-control formGroupName="grado" nzErrorTip="Por favor, selecciona una opción">
          <nz-select formControlName="codigo" class="w-100"  nzShowSearch nzAllowClear nzPlaceHolder="Años">
            <nz-option *ngFor="let item of educationYearsList" [nzValue]="item.codigo" nzLabel="{{ item.descripcion }}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </section>

  <section class="my-4 text-end">
    <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
  </section>
</form>