<section class="my-5">

  <section class="text-center">
    <h1>Padrón Estatal Unificado</h1>
  </section>

  <section>
    <div class="row mt-5">
      <div class="col-sm-12 col-md-8">
        <h5>{{ token.dependencyName }}</h5>
        <select *ngIf="showSelect" class="custom-select" (change)="updateSelectedQ($event)">
          <option *ngFor="let q of sessionQlist" [value]="q.clave">
            {{q.clave}} {{q.name}}
          </option>
        </select>
      </div>
    </div>
  </section>

  <section>
    <div class="row mt-5">
      <section *ngIf="notData">
        <div class="row mt-5">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="row">
              <div class="d-flex justify-content-center">
                <img class="no-data-icon" src="../../../../../assets/images/iconos/no-data.png" alt="no_data_found">
              </div>
              <h3 class="text-center">No se encontró información</h3>
            </div>
          </div>
        </div>
      </section>
      <div class="col-lg-4 d-flex justify-content-center" *ngFor="let type of types_of_support">
        <card-q [q_data]="type" (onSelectCard)="onSelectCard($event)"></card-q>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-4 pt-2">
        <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
          [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords">
        </nz-pagination>
      </div>
    </div>
  </section>

</section>