@import '../../../../../assets/styles/functions.scss';

@keyframes alert-animation {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.alert.alert-danger {
  animation: alert-animation 2s ease 0s 1 normal forwards;

  a {
    color: black;
  }
}

.title-text {
  font-size: 2.5rem;
}

.p-text {
  font-size: 1.6rem;
  color: getColorTexto('negro');
}

.span-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: getColorTexto('azul-principal');
}

.sex-icon {
  width: 3rem;
}

.icono-nacionality {
  width: 3rem;
}

.borde-centenido {
  border-radius: 0.6rem;
  padding: 0.5rem 0.5rem;
  margin: 0.1rem 0.1rem;
  word-break: break-word;
}
