<div *ngIf="!isValid"
  class="alert alert-danger w-100"
  role="alert">
  Lo sentimos, dado que ya ha sido beneficiado con este programa no es posible generar una nueva solicitud.<br>
  Puede comunicarse a la <a href="https://smaot.guanajuato.gob.mx/sitio/"
    target="_blank"
    rel="noopener noreferrer">Secretaría de Medio Ambiente y Ordenamiento Territorial (SMAOT)</a> con el <strong>folio:
    {{smaotFolio}}</strong> para cualquier aclaración.
</div>

<div [formGroup]="formData"
  class="content-data-curp">
  <div class="row mt-3">
    <div class="col-md-12 borde-centenido text-center">
      <p class="p-text"><span class="span-text">Nombre: </span> {{curpData.nombre}} {{curpData.primerApellido}}
        {{curpData.segundoApellido}} </p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-3 mt-3">
      <div class="borde-centenido bg-contraste-blanco text-center">
        <p class="p-text"><span class="span-text">Sexo: </span><br>{{curpData.genero}}</p>
        <img *ngIf="curpData.genero == 'MASCULINO'"
          class="sex-icon"
          src="../../../../../assets/images/iconos/sexo/sexo-hombre.png"
          alt=""
          srcset="">
        <img *ngIf="curpData.genero == 'FEMENINO'"
          class="sex-icon"
          src="../../../../../assets/images/iconos/sexo/sexo-mujer.png"
          alt=""
          srcset="">
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="borde-centenido bg-contraste-blanco text-center">
        <p class="p-text"><span class="span-text">Fecha de nacimiento: </span><br>{{ curpData.fechaNacimientoTexto }}
        </p>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="borde-centenido bg-contraste-blanco text-center">
        <p class="p-text"><span class="span-text">Entidad de nacimiento: </span><br>{{curpData.entidadNacimiento}}</p>
      </div>
    </div>
    <div class="col-md-3 mt-3">
      <div class="borde-centenido bg-contraste-blanco text-center">
        <p class="p-text"><span class="span-text">Nacionalidad: </span><br>{{curpData.nacionalidad}}</p>
        <img class="icono-nacionality"
          src="../../../../../assets/images/iconos/banderas/MEX.png"
          alt=""
          srcset=""
          *ngIf="curpData.nacionalidad == 'MEX' || curpData.nacionalidad == 'MEXICANA'">
      </div>
    </div>
  </div>

  <!------------ RFC ------------------->
  <section *ngIf="stepConfig.show.rfc"
    class="borde-centenido">
    <div class="row mt-4">
      <div class="col-md-12 d-flex justify-content-center">
        <h3>RFC</h3>
        <em class="ms-3 text-secondary pointer"
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          nzTooltipTitle="Con o sin homoclave"
          nzTooltipPlacement="right"
          nz-tooltip></em>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <nz-form-item class="form-group my-3">
          <nz-form-control nzErrorTip="Por favor, ingrese un RFC válido y consistente con sus datos">
            <nz-input-group nzPrefixIcon="idcard">
              <input formControlName="rfc"
                nz-input
                placeholder="RFC del Solicitante"
                [value]="formData.get('rfc')?.value.toUpperCase()">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </section>

  <!------------ NECESITA UN TUTOR ------------------->
  <section *ngIf="stepConfig.show.needTutor && !(isEdit && isCuneros)"
    class="borde-centenido bg-contraste-blanco">
    <div class="row mt-4">
      <div class="col-md-12 d-flex justify-content-center">
        <h3>¿Se requieren datos del padre, madre, tutor(a) o acompañante?</h3>
        <em class="ms-3 text-secondary pointer"
          nz-icon
          nzType="question-circle"
          nzTheme="outline"
          nzTooltipTitle="¿El solicitante requiere un tutor por motivos de discapacidad o limitación para continuar con el proceso?"
          nzTooltipPlacement="right"
          nz-tooltip></em>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="d-flex align-items-center">
          <p class="ms-3 me-3 small-text text-black">No</p>
          <nz-switch nzSize="default"
            formControlName="needTutor"></nz-switch>
          <p class="ms-3 me-3 small-text text-black">Sí</p>
        </div>
      </div>
    </div>
  </section>

  <!------------ NECESIDAD ------------------->
  <div class="row mt-4 borde-centenido">
    <div *ngIf="stepConfig.show.descripcion"
      class="col">
      <h3><label class="text-danger">*</label>Descripción de la necesidad de la persona solicitante</h3>
      <nz-form-control nzErrorTip="Por favor, ingrese la necesidad de la persona solicitante">
        <textarea formControlName="descripcion"
          nz-input
          placeholder="Descripción de la necesidad de la persona solicitante"
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
      </nz-form-control>
    </div>
    <div *ngIf="stepConfig.show.costoAproximado"
      class="col">
      <h3>Costo estimado para atender la necesidad (opcional y solo números)</h3>
      <nz-form-item class="form-group my-3">
        <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
          <nz-input-group nzPrefixIcon="dollar">
            <input formControlName="costoAproximado"
              nz-input
              placeholder="Costo estimado"
              type="text">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!--  -->
  <div class="row">
    <div class="col-md-12 mt-3">
      <div class="borde-centenido bg-contraste-blanco">
        <h3><label class="text-danger"></label>Comentario</h3>
        <nz-form-control nzErrorTip="Por favor, ingrese un comentario">
          <textarea formControlName="comentarioSolicitud"
            nz-input
            placeholder="Escribe un comentario..."
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
        </nz-form-control>
      </div>
    </div>
  </div>
</div>

<!------------ FECHA CAPTURA ------------------->
<div *ngIf="programData.programa.escogeFecha || diferentVigencia"
  class="row row-cols-1 px-5 mt-4 text-center borde-centenido bg-contraste-blanco">
  <nz-form-label class="text-center"
    nzRequired>
    <h3 class="text-center">Fecha de Captura de la Solicitud</h3>
  </nz-form-label>
  <nz-date-picker class="w-25 mx-auto my-3"
    [(ngModel)]="fechaCaptura"
    nzValue="small"></nz-date-picker>
</div>

<div *ngIf="!isEdit"
  class="mt-4 text-end">
  <button type="button"
    class="btn-custom-warning me-2 mb-3"
    (click)="previousStep()">Datos Incorrectos</button>
  <button type="button"
    class="btn-custom-success me-2"
    (click)="onNext()">Datos Correctos</button>
</div>

<div class="mt-4 text-end"><button *ngIf="isEdit"
    type="button"
    class="btn-custom-success me-2"
    (click)="onNext()">Siguiente</button></div>


<app-yes-no-modal *ngIf="showInfanteModal"
  [title]="'Atención'"
  [content]="modalMsg"
  (isAccept)="showInfanteModal = false"></app-yes-no-modal>