<form class="mt-5" [formGroup]="formData">
  <nz-form-item class="form-group my-3 mx-auto">
    <nz-form-label nzRequired>
      <h5>{{ inputName | titlecase }}</h5>
    </nz-form-label>
    <nz-form-control nzErrorTip="Por favor, selecciona una opción válida">
      <nz-select nzShowSearch nzAllowClear class="w-100" [formControlName]="formControl"
        nzPlaceHolder="{{ placeholder | titlecase }} de Usuario" nzSize="small"
        [nzMode]="isMultiple ? 'multiple' : 'default'" [nzMaxMultipleCount]="isMultiple ? 1000 : 1">
        <ng-container *ngFor="let opt of options; let i = index">
          <nz-option-group [nzLabel]="groupLabelFunc(opt, i)">
            <nz-option [nzValue]="optionValueFunc(opt)" [nzLabel]="optionLabelFunc(opt)">
            </nz-option>
          </nz-option-group>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>