<section class="div-card">
  <section class="row card-info-row">
    <section class="col-4 card-photo-col pt-3 h-100">
      <div class="photo-badger-container">
        <img
          src="{{ '../../../../../assets/images/iconos/sexo/tracking_' + (cardData.ciudadano.genero == 'FEMENINO' || cardData.ciudadano.genero == 'Mujer' ? 'woman' : 'man') + '.png' }}"
          alt="" srcset="">
        <div class="text-center mx-auto">
          <span [outerHTML]="cardData.estatusActual.descripcion | statusBadge"></span>
        </div>
      </div>
    </section>

    <section class="col-8 card-info-col ps-4 py-3">
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Programa: </label>
        {{cardData?.programa | showModalityName}}
      </section>
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Tipo de apoyo: </label>
        {{cardData?.programa.modalidad.tipoApoyo?.nombre}}
      </section>
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Nombre: </label>
        {{cardData?.ciudadano.nombreCompleto}}
      </section>
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Municipio: </label>
        {{cardData?.ciudadano.domicilio.municipio?.nombre}}
      </section>
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Captura: </label>
        {{cardData?.fechaCaptura.fecha | date: 'mediumDate'}}
      </section>
      <section class="overflow-label">
        <label class="div-card-contenido-info-span-list">Folio: </label>
        {{cardData?.folio}}
      </section>
      <section class="overflow-label" *ngIf="cardData?.usuarioCampo">
        <label class="div-card-contenido-info-span-list">Usuario campo: </label>
        {{cardData?.usuarioCampo.nombre}}
      </section>
    </section>
  </section>

  <section class="row card-actions-row pt-2">
    <section class="col-4" style="display: grid; padding: 0;">
    
      <div class="text-center btn-custom-primary show-details-button" (click)="onDetailsClick(cardData)">
        Ver más
      </div>

    </section>
    <section class="col-8" style="display: grid; justify-items: end;">
      <div *ngIf="permissions.n4_btneditsolicitud_1d1ddb145ba8 && cardData.estatusActual.descripcion === 'Pendiente'" class="row text-center btn-custom-secondary edit-button" (click)="onEditClick()">
        Editar
      </div>
    </section>
  </section>
</section>
