@import '../../../../assets/styles/functions.scss';

.div-card {
  border-radius: 0.6rem;
  height: 13.8rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  &-header {
    height: 2rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background: getBgColor('primary');

    &-texto {
      color: getColorTexto('blanco');
      font-size: 1.2rem;
    }
  }

  &-contenido {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    &-perfil {
      width: 30%;
    }

    &-info {
      &-span-list {
        font-size: 1rem;
        font-weight: 500;
        color: getColor('primary');
      }
    }
  }

  &-footer {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;

    &-btn {
      margin-right: 0.5rem;
      border: solid 0.1rem getColor('warning');
      border-radius: 0.6rem;
      padding: 0.2rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: getBgColor('blanco');
      box-shadow: 6px 6px 20px -1px rgba(238, 175, 175, 0.15), -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
    }

    &-btn:hover {
      border: none;
      box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15), inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
    }
  }

  .card-info-row {
    margin: 0;
    height: 80%;

    .card-photo-col {
      border-radius: 0.6rem 0 0 0.6rem;

      .photo-badger-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        img {
          height: 5rem;
          width: 5rem;
        }
      }
    }

    .card-info-col {
      .overflow-label {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
      }
    }
  }

  .card-actions-row {
    margin: 0;
    height: 20.5%;

    .show-details-button {
      border-radius: 0 0.6rem 0 0.6rem;
      margin: 0;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.3rem;
    }

    .edit-button {
      width: 35%;
      border-radius: 0.6rem 0 0.6rem 0;
      cursor: pointer;
      font-size: 1.1rem;
      font-weight: 400;
      padding: 0.3rem;
    }
  }
}

.ver {
  color: getColorTexto('warning');
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.cerrar {
  color: getColorTexto('exito');
  font-size: 1.2rem;
}



/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: getColor('primary') getColor('blanco');
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: getColor('blanco');
}

*::-webkit-scrollbar-thumb {
  background-color: getColor('primary');
  border-radius: 0.6rem;
  border: 3px solid getColor('blanco');
}