<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>
<!-- Main modal -->
<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="80%" [nzVisible]="true" [nzTitle]="modal_title" (nzOnCancel)="onHideModalClick()" (nzOnOk)="onHideModalClick()">

  <ng-container *nzModalContent>

    <div class="row modal-container" id="dictamine-modal">
      <!-- history  -->
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-12">
          <nz-table #basicTable [nzData]="historical_data" [nzFrontPagination]="false">
            <thead>
              <tr>
                <th class="tiny-text text-center">Descripción</th>
                <th class="tiny-text text-center">Fecha</th>
                <th class="tiny-text text-center">Usuario que capturó</th>
                <th class="tiny-text text-center">Evidencia</th>
                <th class="tiny-text text-center">Comentario</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tiny-text" *ngFor="let data of status_log_list.slice(startSlice, endSlice)">
                <td class="text-center"><span [outerHTML]="data.description | statusBadge"></span></td>
                <td class="text-center">{{data.date | date: 'mediumDate'}}</td>
                <td>{{data.usr}} <br> {{data.email}}</td>
                <td class="text-center evidence" *ngIf="data.evidence" (click)="downloadFile(data.evidence)">
                    <i nz-icon nzType="cloud-download" class="icon-download-action" nzTheme="outline" ></i>
                    <br>
                    <p class="txt-download">
                      Descargar evidencia
                    </p>
                </td>
                <td class="text-center" *ngIf="!data.evidence"><p>No tiene evidencia</p></td>
                <td class="text-center"><p>{{data.comment}}</p></td>
              </tr>
            </tbody>
          </nz-table>
          <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center">
              <nz-pagination (nzPageIndexChange)='Paginate($event)' [nzPageSize]=5 [nzPageIndex]="1" nzTotal={{status_log_list.length}}>
              </nz-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-custom-primary ms-3" (click)="downloadZip(allDocuments)">Descargar expediente</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center" *ngFor="let document of allDocuments">
        <img src="../../../../../assets/images/docs/documentos.png" alt="" srcset="" class="doc-image pointer" (click)="downloadFileItem(document)">
        <br>
        <p class="mx-2 my-2">{{document.nombre}}</p>
        <!-- <p *ngFor="let document of allDocuments" class="download-row" (click)="downloadFile(document)">
          <span class="text-info bw-text">
            <i nz-icon nzType="cloud-download" class="icon-download-action" nzTheme="outline"></i>
          </span>
          {{document.nombre}}
        </p> -->
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter class="">
    <button class="btn btn-vim-outline me-3" (click)="onHideModalClick()">Cerrar modal</button>
   </div>

</nz-modal>