@import '../../../../../assets/styles/functions.scss';

.evidence{
    cursor: pointer;
}

.icon-download-action{
    font-size: 1.3rem;
    color: getColor('azul-principal');
}

.txt-download{
    font-size: 0.8rem;
}

.tiny-text{
    font-size: 1rem !important;
}


.doc-image{
    width: 15%;
    margin: 0;
    padding: 0;
}