<ngx-spinner bdColor="rgba(0,0,0,0.80)"
  size="large"
  color="#fff"
  type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>
<!-- Main modal -->
<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="80%"
  [nzVisible]="true"
  [nzTitle]="modal_title"
  (nzOnCancel)="onHideModalClick()"
  (nzOnOk)="onHideModalClick()">

  <ng-container *nzModalContent>

    <div class="row modal-container"
      id="dictamine-modal">
      <!-- Fullscreen  -->
      <div class="row">
        <div class="col-md-12 text-center">
          <button class="btn-full-screen"
            (click)="fullscreen()">
            <p class="btn-text">Ver en pantalla grande</p>
          </button>
        </div>
      </div>

      <!-- Personal data  -->
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-12 d-flex justify-content-center">
          <p class="title-text"><span>{{modalData.programa.q}}:</span> {{modalData.programa | showModalityName}}</p>
        </div>
      </div>
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-4 personal-data">
          <p class="title-text"><span class="span-txt">CURP: </span>{{modalData.ciudadano.curp}}</p>
          <p class="title-text"><span class="span-txt">Genero: </span>{{modalData.ciudadano.genero}}</p>
          <p class="title-text"><span class="span-txt">Estado civil: </span>{{modalData.ciudadano.estadoCivil}}</p>
          <p class="title-text"><span class="span-txt">Comunidad indigena:
            </span>{{modalData.ciudadano.comunidadIndigena.descripcion}}</p>
          <p class="title-text"><span class="span-txt">Migrante: </span>{{modalData.ciudadano.migrante.descripcion}}
          </p>
        </div>
        <div class="col-md-4 personal-data">
          <p class="title-text"><span class="span-txt">Nombre: </span>{{modalData.ciudadano.nombreCompleto}}</p>
          <p class="title-text"><span class="span-txt">Nacionalidad: </span>{{modalData.ciudadano.nacionalidad}}</p>
          <p class="title-text"><span class="span-txt">Teléfono:
            </span>{{modalData.ciudadano.datosContacto.telefonos[0].descripcion}}</p>
          <p class="title-text"><span class="span-txt">Dialecto:
            </span>{{modalData.ciudadano.hablaDialecto.descripcion}}</p>
        </div>
        <div class="col-md-4 personal-data">
          <p class="title-text"><span class="span-txt">Nacimiento: </span>{{modalData.ciudadano.fechaNacimientoTexto}}
          </p>
          <p class="title-text"><span class="span-txt">Edad: </span>{{modalData.ciudadano.edad}} Años</p>
          <p class="title-text"><span class="span-txt">Parentesco con el jefa(e) del hogar:
            </span>{{modalData.ciudadano.parentescoJefeHogar.descripcion}}</p>
          <p class="title-text"
            *ngIf="modalData.ciudadano.afroMexicano === true"><span class="span-modal-text">Afromexicano: </span> <i
              nz-icon
              nzType="check"
              nzTheme="outline"
              class="text-success"></i></p>
          <p class="title-text"
            *ngIf="modalData.ciudadano.afroMexicano === false"><span class="span-modal-text">Afromexicano: </span> <i
              nz-icon
              nzType="close"
              nzTheme="outline"
              class="text-danger"></i></p>
        </div>
      </div>

      <!-- map and weighing  -->
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-6 div-mapa">
          <p class="text-center title-text">{{living_place}}</p>
          <div id="map"></div>
        </div>
        <div class="col-md-6"
          *ngIf="hasCedula === true">

          <p class="text-center title-text">Vulnerabilidad: <span [outerHTML]="total_weigh | badgeWeighing"></span></p>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Rubro</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weigh of weighing_list">
                <th scope="row">{{weigh.title}}</th>
                <td>{{weigh.number}} puntos</td>
              </tr>
              <tr>
                <th scope="row">Total</th>
                <td>{{total_weigh}} puntos</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6 d-flex justify-content-center"
          *ngIf="hasCedula === false">
          <p class="title-text">No cuenta con cédula</p>
        </div>
      </div>

      <!-- documents -->

      <!-- history  -->
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="d-flex col-md-6 justify-content-center"
          *ngFor="let kpi of kpiList">
          <!-- <app-mini-kpi [kpiData]="kpi" (typeOutput)="onKpiSelect($event)"></app-mini-kpi> -->
        </div>
      </div>
      <div class="row mt-2 mb-2 ms-2 me-2 pt-3 ps-3 pe-3 pb-3">
        <div class="col-md-12">
          <nz-table #basicTable
            [nzData]="historical_data"
            [nzFrontPagination]="false">
            <thead>
              <tr>
                <th class="tiny-text">Q</th>
                <th class="tiny-text">Programa</th>
                <th class="tiny-text">Ventanilla captura</th>
                <th class="tiny-text">Fecha</th>
                <th class="tiny-text">Edad</th>
                <th class="tiny-text">Estatus</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tiny-text"
                *ngFor="let data of historical_data">
                <td>{{data.programa.q}}</td>
                <td>{{data.programa | showModalityName}}</td>
                <td>{{data.ventanillaCaptura.siglas}} - {{data.ventanillaCaptura.nombre}}</td>
                <td>{{data.fechaCaptura.diaMes}} {{data.fechaCaptura.anio}}</td>
                <td>{{data.ciudadano.edad}} años</td>
                <td>
                  <span [outerHTML]="data.estatusActual.descripcion| statusBadge"></span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
        <div class="col-md-12 d-flex justify-content-center my-5">
          <nz-pagination (nzPageIndexChange)="onIndexChange($event)"
            [nzPageSize]="paginator.pagination.pageSize"
            [nzPageIndex]="paginator.pagination.pageIndex"
            [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12 mt-2">
        <h2 class="text-center">Subir archivo de evidencia</h2>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <nz-radio-group [(ngModel)]="selectedOptionValue"
              nzButtonStyle="solid"
              class="form-group my-3 d-flex">
              <label nz-radio-button
                nzValue="file"
                class="multiline-5-radio-button"
                (click)="onSelectOption('archivo')">Cargar archivo</label>
              <label nz-radio-button
                nzValue="false"
                class="multiline-5-radio-button"
                (click)="onSelectOption('url')">Pegar URL del archivo</label>
            </nz-radio-group>
          </div>
        </div>
        <div class="row"
          *ngIf="controlOptionValue">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="dropzone">
              <ngx-dropzone class="text-center"
                (change)="onSelect($event)"
                accept="image/jpeg, image/jpg,image/png, application/pdf">
                <ngx-dropzone-label>
                  <label class="upload-drag-icon">
                    <i nz-icon
                      nzType="inbox"></i>
                  </label>
                  <br> Da click o arrastra tu archivo
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngIf="file_object_to_save"
                  [removable]="true"
                  (removed)="onRemove(file_object_to_save.name)">
                  <ngx-dropzone-label>{{ file_object_to_save.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </div>
        </div>
        <div class="row"
          *ngIf="!controlOptionValue">
          <div class="col-md-12 mt-3 d-flex justify-content-center">
            <textarea [(ngModel)]="fileUrl"
              nz-input
              placeholder="URL del archivo"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3 d-flex justify-content-center">
            <textarea [(ngModel)]="comments"
              nz-input
              placeholder="Comentarios"
              [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div *nzModalFooter
    class="">
    <!-- Start flow config -->
    <button class="btn btn-custom-primary ms-3"
      (click)="changeActualApplicationStatus()"
      *ngIf="nextStepsConfig.aproved && session.permissionsList.n6_aprobarBtn_f05502778d86">Aprobar solicitud</button>
    <button class="btn btn-custom-primary ms-3"
      (click)="changeActualApplicationStatus()"
      *ngIf="nextStepsConfig.entered && session.permissionsList.n6_entregarBtn_89fa0706e3e0">Entregar solicitud</button>
    <!-- End flow config -->
    <button class="btn btn-custom-warning me-3"
      (click)="interactCancelModal()"
      *ngIf="session.permissionsList.n6_cancelarBtn_564964fdd0">Cancelar</button>
    <button class="btn btn-custom-danger me-3"
      (click)="interactRejectModal()"
      *ngIf="session.permissionsList.n6_rechazarBtn_2fac30a52d41">Rechazar</button>
    <button class="btn btn-vim-outline me-3"
      (click)="onHideModalClick()">Cerrar modal</button>
  </div>

</nz-modal>

<!-- Modal for rejecting application -->
<modal-reject-request [isOpenModal]="show_reject_modal"
  [modalData]="modalData"
  (closeModalEvent)="onApplicationUpdate($event)"></modal-reject-request>
<!-- Modal for cancel application -->
<modal-cancel-request [isOpenModal]="showCancelModal"
  [modalData]="modalData"
  (closeModalEvent)="onApplicationUpdate($event)"></modal-cancel-request>