<nz-modal [nzVisible]="true" nzTitle="Actualizar Documentos" nzWidth="75%" (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">
  <ng-container *nzModalContent>
    <div class="container">
      <article>
        <section class="row py-3">
          <div class="col-sm-12 col-md-6">
            <h3><strong>Folio</strong></h3>
            <h4>{{cardData.folio}}</h4>
          </div>
          <div class="col-sm-12 col-md-6">
            <h3><strong>CURP</strong></h3>
            <h4>{{cardData.ciudadano?.curp}}</h4>
          </div>
        </section>

        <section class="row mb-4">
          <div class="col-sm-12 col-md-6">
            <h3><strong>Programa</strong></h3>
            <h4>{{program.programa.clave}}: {{program.programa.nombre}}</h4>
          </div>
          <div class="col-sm-12 col-md-6">
            <h3><strong>Dependencia</strong></h3>
            <h4>{{program.dependencia?.nombre}}</h4>
          </div>
        </section>
      </article>

      <hr class="my-5">

      <ng-container *ngIf="showSuccess; then successUpload else uploadDocuments"></ng-container>
    </div>
  </ng-container>

  <ng-container *nzModalFooter>
    <button class="btn btn-custom-primary me-3" (click)="onClose()">Cerrar</button>
  </ng-container>
</nz-modal>

<ng-template #successUpload>
  <div class="row row-cols-1 mb-5 text-center">
    <i class="text-success mb-3" nz-icon nzType="check-circle" nzTheme="outline" style="font-size: 6rem;"></i>
    <h2>Los documentos de han actualizado correctamente</h2>
    <h4>La solicitud volverá a revisón</h4>
  </div>
</ng-template>

<ng-template #uploadDocuments>
  <app-document-upload [programData]="program" [isUpdate]="true" (changeContent)="onChangeFiles($event)">
  </app-document-upload>
</ng-template>
