<nz-modal [nzTitle]="title_modal" [(nzVisible)]="isVisible" [nzFooter]="null" [nzStyle]="{ top: '20px' }" nzWidth="80%"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <div class="row mt-4 mb-4">
      <div class="col-md-12 d-flex justify-content-around">
        <h1>{{program_data.q}}</h1>
        <h2>{{program_data.modalidad.nombre}}</h2>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-md-6">
        <h3>{{lugar_data.result.nombre}}</h3>
        <h3>{{lugar_data.result.completo}}</h3>
      </div>
      <div class="col-md-6 div-mapa">
        <div id="map"></div>
      </div>
    </div>
    <div id="peu-kpi-card-container" class="row mt-4 mb-4">
      <div class="col-md-3"></div>
      <!-- kpi women  -->
      <div class="col-sm-12 col-md-6 col-lg-3 my-2">
        <div class="card peu-kpi-card kpi-card-color-pink">
          <div class="card-content">
            <div class="media d-flex">
              <div class="col-5 text-center p-2 image-container">
                <img src="../../../../../assets/images/iconos/peu/woman.png" alt="woman.png" />
              </div>
              <div class="col-7 text-center kpi-data-container">
                <h4><strong>{{ total_women | number : '2.0-0' : 'en-US'}}</strong></h4>
                Mujeres Apoyadas
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- kpi men  -->
      <div class="col-sm-12 col-md-6 col-lg-3 my-2">
        <div class="card peu-kpi-card kpi-card-color-blue">
          <div class="card-content">
            <div class="media d-flex">
              <div class="col-5 text-center p-2 image-container">
                <img src="../../../../../assets/images/iconos/peu/man.png" alt="man.png" />
              </div>
              <div class="col-7 text-center kpi-data-container">
                <h4><strong>{{ total_men | number : '2.0-0' : 'en-US'}}</strong></h4>
                Hombres Apoyados
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-md-6 d-flex justify-content-center class-col-curp">
        <div>
          <h2 class="text-center">Mujeres</h2>
          <p class="text-center" *ngFor="let woman of array_benefesary_women">{{woman.curp}}</p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center class-col-curp">
        <div>
          <h2 class="text-center">Hombres</h2>
          <p class="text-center" *ngFor="let men of array_benefesary_men">{{men.curp}}</p>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>