<ngx-spinner 
bdColor="rgba(0,0,0,0.80)" 
size="large" 
color="#fff" 
type="ball-clip-rotate-multiple" 
[fullScreen]="true">
<p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
</ngx-spinner>

<ng-template #uploadFiles>
  <app-document-upload [programData]="programData" [fechaCaptura]="fechaCaptura" [editFolio]="editFolio" (changeContent)="onChangeFiles($event)"></app-document-upload>
</ng-template>

<ng-template #uploadAcuse>
  <app-acuse-upload [folio]="folio" (changeContent)="onChangeFiles($event)"></app-acuse-upload>
</ng-template>

<div class="row">
  <div class="col-md-12">
    <h1>{{ templateStepList[currentStep].title }}</h1>
  </div>
</div>
<ng-container [ngTemplateOutlet]="templateStepList[currentStep].template"></ng-container>
