<form nz-form [formGroup]="formData" [nzLayout]="'vertical'">
  <div class="row p-3 bg-contraste-blanco">
    <div class="col-sm-12 col-md-6">
      <nz-form-item class="">
        <nz-form-label nzRequired>Estado civil</nz-form-label>
        <nz-form-control nzErrorTip="Por favor, selecciona una opción">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Estado civil" formControlName="estadoCivil">
            <nz-option *ngFor="let item of civilStateCatalog" nzValue="{{item}}" nzLabel="{{item}}"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-sm-12 col-md-6">
      <nz-form-item>
        <nz-form-label>Parentesco con Jefa(e) del hogar</nz-form-label>
        <nz-form-control formGroupName="parentescoJefeHogar" nzErrorTip="Por favor, selecciona una opción">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Parentesco con Jefa(e) del hogar"
            formControlName="codigo">
            <nz-option *ngFor="let item of relationshipCatalog" [nzValue]="item.codigo"
              nzLabel="{{ item.descripcion }}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="row mt-3 h-div">
    <div class="col-sm-12 col-md-6 d-flex align-items-center">
      <div class="col-sm-12 col-md-8">
        <h5 class="text-justify">¿Usted tiene hijas o hijos?</h5>
        <span *ngIf="!isValidHijos" class="text-danger">
          Ingrese un número de hijos válido
        </span>
      </div>
      <div class="col-sm-12 col-md-4 d-flex justify-content-center" formGroupName="tieneHijos">
        <div class="d-flex justify-content-center mt-2">
          <label class="me-2 tiny-text">No</label>
          <nz-switch formControlName="respuesta"></nz-switch>
          <label class="ms-2 tiny-text">Sí</label>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 d-flex align-items-center">
      <nz-form-item class="" *ngIf="formData.get('tieneHijos.respuesta')?.value">
        <nz-form-label class="w-100" nzRequired>¿Cuántas hijas tiene usted?</nz-form-label>
        <nz-form-control nzErrorTip="">
          <app-contador-numero [inputValue]="formData.get('tieneHijos.descripcion.mujeres')?.value"
            (ContadorEvento)="formData.get('tieneHijos.descripcion.mujeres')?.setValue($event)"></app-contador-numero>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="col-sm-12 col-md-3 d-flex align-items-center">
      <nz-form-item class="" *ngIf="formData.get('tieneHijos.respuesta')?.value">
        <nz-form-label class="w-100" nzRequired>¿Cuántos hijos tiene usted?</nz-form-label>
        <nz-form-control nzErrorTip="">
          <app-contador-numero [inputValue]="formData.get('tieneHijos.descripcion.hombres')?.value"
            (ContadorEvento)="formData.get('tieneHijos.descripcion.hombres')?.setValue($event)"></app-contador-numero>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="row mt-3 h-div bg-contraste-blanco">
    <div class="col-md-6 d-flex align-items-center">
      <div class="col-md-8">
        <h5 class="text-justify">De acuerdo con su cultura, ¿Usted pertenece a algún pueblo o comunidad indígena?</h5>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="d-flex justify-content-center mt-2" formGroupName="comunidadIndigena">
          <label class="me-2 tiny-text">No</label>
          <nz-switch formControlName="respuesta"></nz-switch>
          <label class="ms-2 tiny-text">Sí</label>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <nz-form-item *ngIf="formData.get('comunidadIndigena.respuesta')?.value">
        <nz-form-label class="w-100" nzRequired>Ingrese su comunidad</nz-form-label>
        <nz-form-control formGroupName="comunidadIndigena">
          <nz-input-group nzPrefixIcon="user">
            <input nz-input formControlName="descripcion" placeholder="Ingrese su comunidad" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="row mt-3 h-div">
    <div class="col-md-6 d-flex align-items-center">
      <div class="col-md-8">
        <h5 class="text-justify">¿Usted habla alguna lengua indígena o dialecto?</h5>
      </div>
      <div class="col-md-4 d-flex justify-content-center" formGroupName="hablaDialecto">
        <div class="d-flex justify-content-center mt-2">
          <label class="me-2 tiny-text">No</label>
          <nz-switch formControlName="respuesta"></nz-switch>
          <label class="ms-2 tiny-text">Sí</label>
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <nz-form-item *ngIf="formData.get('hablaDialecto.respuesta')?.value">
        <nz-form-label class="w-100" nzRequired>¿Cuál?</nz-form-label>
        <nz-form-control formGroupName="hablaDialecto">
          <nz-input-group nzPrefixIcon="user">
            <input nz-input formControlName="descripcion" placeholder="Ingrese su dialecto" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="row mt-3 h-div bg-contraste-blanco">
    <div class="col-sm-12 col-md-6 d-flex align-items-center">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <h5 class="text-justify">Por sus antepasados y de acuerdo con sus costumbres y tradiciones, ¿Se considera
            afromexicano(a) o afrodescendiente?</h5>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center">
          <div class="d-flex justify-content-center mt-2">
            <label class="me-2 tiny-text">No</label>
            <nz-switch formControlName="afroMexicano"></nz-switch>
            <label class="ms-2 tiny-text">Sí</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 h-div">
    <div class="col-sm-12 col-md-6">
      <h5 class="text-start">Por su situación actual, usted se considera...</h5>
    </div>
    <div class="col-sm-12 col-md-6">
      <nz-form-item class="">
        <nz-form-label class="w-100" nzRequired>Por su situación actual, usted se considera</nz-form-label>
        <nz-form-control formGroupName="migrante" nzErrorTip="Por favor, selecciona una opción">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Por su situación actual, usted se considera"
            formControlName="codigo">
            <nz-option *ngFor="let item of migrantCatalog" [nzValue]="item.codigo" nzLabel="{{ item.descripcion }}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

</form>
<div class="row mt-3">
  <div class="col-md-12">
    <button type="button" class="btn-custom-warning ms-2" (click)="previousStep()">Regresar un paso</button>
    <button type="button" class="btn-custom-success me-2 mt-3" (click)="nextStep()">Continuar</button>
  </div>
</div>
