<article class="my-5">
  <section class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Formatos</h1>
      <h5>{{ token.dependencyName }} {{ token.programName ? ': ' + token.programName : ''}}</h5>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </section>

  <ng-container [ngTemplateOutlet]="currentTemplate"></ng-container>

</article>

<ng-template #firmaAcuse>
  <section class="row mb-3  text-center" [formGroup]="formData">
    <h2 class="my-3">Formato de Firma y Acuse Prefoliado</h2>
    <div class="col-sm-12 col-md-4 mt-3 mb-3 mx-auto">
      <nz-form-item class="">
        <nz-form-label nzRequired>
          <h5>Modalidad de Prefoliado</h5>
        </nz-form-label>
        <nz-form-control nzErrorTip="Este campo es requerido">
          <nz-select class="w-100" nzShowSearch nzPlaceHolder="Modalidad Prefoliado" nzSize="small"
            formControlName="modalidad">
            <ng-container *ngFor="let item of userModalidadesList">
              <nz-option [nzValue]="item" nzLabel="{{ item }}"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-sm-12 col-md-4 mt-3 mb-3 mx-auto">
      <nz-form-item class="">
        <nz-form-label nzRequired>
          <h5>Número de Formatos</h5>
        </nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese un número entre 1 y 1000">
          <nz-input-group nzPrefixIcon="search" id="search-request-input">
            <input class="w-100" nz-input placeholder="Número de Formatos" formControlName="quantity" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-sm-12 col-md-4 mt-3 mb-3 mx-auto">
      <button class="btn btn-custom-primary w-50  mx-auto btn-lg" (click)="onGenerate()"
        [disabled]="!formData.valid">Generar Formato</button>
    </div>
  </section>
</ng-template>

<ng-template #reimpresionFirmaAcuse>
  <section *ngIf="permissions.n2_reimpresion_73536caf5bce" class="row mb-3  text-center" [formGroup]="formDataReprint">
    <h2 class="my-3">Reimpresión de Formato de Firma y Acuse</h2>
    <div class="col-sm-12 col-md-4 mt-3 mb-3 mx-auto">
      <nz-form-item class="">
        <nz-form-label nzRequired>
          <h5>Folio</h5>
        </nz-form-label>
        <nz-form-control nzErrorTip="Ingrese un folio valido">
          <nz-input-group nzPrefixIcon="search" id="search-request-input">
            <input class="w-100" nz-input placeholder="Folio del Formato" formControlName="folio" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="col-sm-12 col-md-4 mt-3 mb-3 mx-auto">
      <button class="btn btn-custom-primary w-50  mx-auto btn-lg" (click)="onReprint()">Reimprimir Formato</button>
    </div>
  </section>
</ng-template>

<ng-template #solicitudCedulaBlanco>
  <section class="row mb-3 my-5 text-center">
    <h2>Formatos en Blanco</h2>
    <div class="col-sm-12 col-md-6 mt-3 mb-5 mx-auto">
      <button class="btn btn-custom-primary w-50  mx-auto btn-lg" (click)="onDownloadFormat()">
        <i class="me-3" nz-icon nzType="cloud-download" nzTheme="outline" style="font-size: 2rem;"></i>
        Formato Solicitud</button>
    </div>

    <div class="col-sm-12 col-md-6 mt-3 mb-5 mx-auto">
      <button class="btn btn-custom-primary w-50  mx-auto btn-lg" (click)="onDownloadFormat(true)">
        <i class="me-3" nz-icon nzType="cloud-download" nzTheme="outline" style="font-size: 2rem;"></i>
        Formato Cédula</button>
    </div>
  </section>
</ng-template>

<ng-template #solicitudBlanco>
  <section class="row mb-3 my-5 text-center">
    <h2>Formatos en Blanco</h2>
    <div class="col-sm-12 col-md-6 mt-3 mb-5 mx-auto">
      <button class="btn btn-custom-primary w-50  mx-auto btn-lg" (click)="onDownload2023Format()">
        <em class="me-3" nz-icon nzType="cloud-download" nzTheme="outline" style="font-size: 2rem;"></em>
        Formato Solicitud</button>
    </div>
  </section>
</ng-template>