<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" nzVisible="true" nzTitle="Crear Ventanilla" (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">

  <section *nzModalContent class="px-5" [formGroup]="formData">
    <!--  Dependencia -->
    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Dependencia de Ventanilla</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, selecciona una dependencia válida">
        <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="dependencia"
          nzPlaceHolder="Dependencia de Ventanilla" nzSize="small">
          <ng-container *ngFor="let item of dependencyList">
            <nz-option-group nzLabel="{{ item.siglas }}: {{ item.nombre }}">
              <nz-option nzValue="{{ item._id }}" nzLabel="{{ item.nombre }}"></nz-option>
            </nz-option-group>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- Clave de Ventanilla -->
    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Clave de Ventanilla</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, ingrese una clave válida. Ejemplo: {{ selectedSiglas }}-000">
        <h6 class="text-muted">{{ selectedDependency.length ? '' : 'Por favor, selecciona una dependencia' }}</h6>
        <nz-input-group nzPrefixIcon="key">
          <input type="text" nz-input formControlName="clave" placeholder="Clave de la Ventanilla"
            [value]="(formData.get('clave')?.value ?? ' ') .toUpperCase()" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!--  Contacto -->
    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Número de Teléfono</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
        <nz-input-group nzPrefixIcon="phone">
          <input type="tel" nz-input formControlName="telefono" placeholder="Número de Contacto" maxlength="10" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- CP -->
    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Código Postal</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, ingresa un cp válido">
        <nz-input-group nzPrefixIcon="schedule">
          <input type="number" nz-input formControlName="cp" placeholder="Código Postal" maxlength="5" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!--  Oficina -->
    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Oficina de Ventanilla</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, selecciona una oficina válida">
        <h6 class="text-muted">{{ selectedDependency.length ? '' : 'Por favor, selecciona una dependencia' }}</h6>
        <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="oficina"
          nzPlaceHolder="Oficina de Ventanilla" nzSize="small">
          <ng-container *ngFor="let item of officeList">
            <nz-option-group nzLabel="{{ item.clave }}: {{ item.descripcion }}">
              <nz-option nzValue="{{ item._id }}" nzLabel="{{ item.descripcion }}"></nz-option>
            </nz-option-group>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </section>

  <div *nzModalFooter class="text-end">
    <button type="button" class="btn btn-custom-success w-25" [disabled]="!formData.valid" (click)="onSave()">Guardar</button>
    <button class="btn btn-custom-secondary me-3" (click)="onClose()">Cerrar</button>
  </div>
</nz-modal>
