<div class="div-card row mx-2">

  <section class="card-info-col col-4 pt-3 h-100">
    <div class="photo-badger-container">
      <img class="div-card-contenido-perfil-img" *ngIf="cardData.ciudadano.genero == 'MASCULINO'" class="sex-icon" src="../../../../../assets/images/iconos/sexo/tracking_man.png" alt="" srcset="">
      <img class="div-card-contenido-perfil-img" *ngIf="cardData.ciudadano.genero == 'FEMENINO' || cardData.ciudadano.genero == 'Mujer'" class="sex-icon" src="../../../../../assets/images/iconos/sexo/tracking_woman.png" alt="" srcset="">

      <div class="text-center mx-auto">
        <span [outerHTML]="cardData.estatusActual.descripcion | statusBadge"></span>
      </div>
    </div>
    <div class="row text-center py-2 btn-custom-primary show-details-button" (click)="onDetailsClick(cardData)">
      <p class="show-details-button-p">Documentos</p>
    </div>
  </section>

  <section id="div-card-contenido-info" class="col-8 ps-4 py-3">
    <section class="div-programa">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Programa: </label>
        {{cardData?.programa | showModalityName}}
      </p>
    </section>
    <section class="div-programa">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Tipo de apoyo: </label>
        {{cardData?.programa.modalidad.tipoApoyo?.nombre}}
      </p>
    </section>
    <section class="div-nombre">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Nombre: </label>
        {{cardData?.ciudadano.nombreCompleto}}
      </p>
    </section>
    <section class="div-nombre">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Municipio: </label>
        {{cardData?.ciudadano.domicilio.municipio?.nombre}}
      </p>
    </section>
    <section class="div-nombre">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Captura: </label>
        {{cardData?.fechaCaptura.fecha | date: 'mediumDate'}}
      </p>
    </section>
    <section class="div-nombre">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Folio: </label>
        {{cardData?.folio}}
      </p>
    </section>

    <section class="div-nombre" *ngIf="cardData?.usuarioCampo">
      <p class="p-list">
        <label class="div-card-contenido-info-span-list">Usuario campo: </label>
        {{cardData?.usuarioCampo.nombre}}
      </p>
    </section>

    <section class="d-flex justify-content-end">
    </section>
  </section>
</div>
