@import '../../../../assets/styles/functions.scss';

.div-card {
  border-radius: 0.6rem;
  height: 13.7rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  &-header {
    height: 2rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background: getBgColor('azul-principal');

    &-texto {
      color: getColorTexto('blanco');
      font-size: 1.2rem;
    }
  }

  &-contenido {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    &-perfil {
      width: 30%;
    }

    &-info {
      &-span-list {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  &-footer {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;

    &-btn {
      margin-right: 0.5rem;
      border: solid 0.1rem getColor('warning');
      border-radius: 0.6rem;
      padding: 0.2rem 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: getBgColor('blanco');
      box-shadow: 6px 6px 20px -1px rgba(238, 175, 175, 0.15), -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
    }

    &-btn:hover {
      border: none;
      box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15), inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
    }
  }

  .card-info-col {
    border-radius: 0.6rem 0 0 0.6rem;

    .photo-badger-container {
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;

      .div-card-contenido-perfil-img {
        height: 3.5rem;
        width: 3.5rem;
      }
    }

    .show-details-button {
      height: 20%;
      border-radius: 0 0.6rem 0 0.6rem;
      cursor: pointer;
    }

    .show-details-button-p {
      font-size: 0.95rem !important;
      color: #FFF !important;
      font-weight: bold !important;
      margin: 0;
      padding: 0;
    }

  }
}

.p-list {
  margin-bottom: 0.3rem;
}

.ver {
  color: getColorTexto('warning');
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.cerrar {
  color: getColorTexto('exito');
  font-size: 1.2rem;
}

.div-programa {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.div-nombre {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: getColor('azul-principal') getColor('blanco');
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: getColor('blanco');
}

*::-webkit-scrollbar-thumb {
  background-color: getColor('azul-principal');
  border-radius: 0.6rem;
  border: 3px solid getColor('blanco');
}
