<article class="my-5">
  <section class="row">
    <div class="col-sm-12 col-md-8">
      <h1>Panel de Programas</h1>
      <h5>{{ token.dependencyName }} {{ token.programName ? ': ' + token.programName : ''}}</h5>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </section>

  <section class="row mb-3">
    <div class="col-md-12 text-end">
      <!-- ////////////// TODO: FIX THIS -->
      <!-- <h5>Filtrar por estatus</h5> -->
      <!-- <nz-radio-group nzButtonStyle="solid"
        class="form-group my-3 d-flex"
        [(ngModel)]="isProgramEnabled"
        (ngModelChange)="onSelectedStatusChange()">
        <label nz-radio-button
          nzValue="null"
          class="multiline-5-radio-button">Todos</label>
        <label nz-radio-button
          nzValue="true"
          class="multiline-5-radio-button">Habilitado</label>
        <label nz-radio-button
          nzValue="false"
          class="multiline-5-radio-button">Deshabilitado</label>
      </nz-radio-group> -->
      <!-- n3_btnAgregarPrograma_442992352291 -->
      <button *ngIf="permissions.n3_btnAgregarPrograma_442992352291" class="btn btn-custom-info"
        nzTooltipTitle="Editar Programa"
        nz-tooltip
        (click)="onCreate()">
        <em nz-icon nzType="plus" nzTheme="outline"></em>
      </button>
    </div>
  </section>

  <article class="row my-3">
    <div class="col-md-12">
      <nz-table #rowSelectionTable
        [nzData]="programList"
        [nzFrontPagination]="false"
        [nzLoading]="isTableLoading"
        [nzLoadingDelay]="5">
        <thead>
          <tr>
            <th id="request-program-list-table-header-01"
              class="text-center"
              nz-th
              [nzWidth]="'10%'">Q</th>
            <th id="request-program-list-table-header-01"
              class="text-center"
              nz-th
              [nzWidth]="'35%'">Nombre</th>
            <th id="request-program-list-table-header-02"
              class="text-center"
              nz-th
              [nzWidth]="'15%'">Dependencia</th>
            <th id="request-program-list-table-header-03"
              class="text-center"
              nz-th
              [nzWidth]="'15%'">Estatus</th>
            <th id="request-program-list-table-header-04"
              class="text-center"
              nz-th
              [nzWidth]="'25%'">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of rowSelectionTable.data">
            <td>
              <h5>{{ program.programa.clave }} </h5>
            </td>

            <td>
              <h6>{{ program.programa.nombre }}</h6>
            </td>

            <td class="text-center">
              {{ program | notEmptyText: 'dependencia' : 'siglas' }}
            </td>

            <!-- Status Badge -->
            <td class="text-center">
              <span [outerHTML]="getProgramStatus(program.programa.habilitado) | statusBadge"></span>
            </td>

            <!-- Activate / Deactivate -->
            <td>
              <ng-container *ngTemplateOutlet="ActionsButton; context: { program: program }">
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="col-md-12 d-flex justify-content-center my-5">
        <nz-pagination (nzPageIndexChange)="onIndexChange($event)"
          [nzPageSize]="paginator.pagination.pageSize"
          [nzPageIndex]="paginator.pagination.pageIndex"
          [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
      </div>
    </div>
  </article>
</article>

<app-yes-no-modal *ngIf="showConfirmModal"
  [title]="confirmModalTitle"
  [content]="confirmModalMsg"
  (isAccept)="onModalAccept($event)"></app-yes-no-modal>

<app-program-modal *ngIf="showProgramModal"
  [id]="selectedProgram.programId"
  (onCloseModal)="onProgramEdit($event)"></app-program-modal>

<ng-template #ActionsButton
  let-program="program">
  <ng-container
    *ngTemplateOutlet="program.programa.habilitado == false ? EnableButton : DisableButton; context: { program: program }"></ng-container>
  <button class="btn btn-custom-info"
    nzTooltipTitle="Editar Programa"
    nz-tooltip
    (click)="onEdit(program)"
    [disabled]="!program.programa.habilitado">
    <em nz-icon
      nzType="edit"
      nzTheme="outline">
    </em>
  </button>
  <!--  -->
  <button class="btn btn-custom-danger"
    nzTooltipTitle="Eliminar Programa"
    nz-tooltip
    (click)="onDelete(program)">
    <em nz-icon
      nzType="delete"
      nzTheme="outline">
    </em>
  </button>
</ng-template>

<ng-template #EnableButton
  let-program="program">
  <button *ngIf="!program.programa.habilitado"
    class="btn btn-custom-primary"
    nzTooltipTitle="Reactivar Programa"
    nz-tooltip
    (click)="onUpdateStatus(program._id, program.programa.clave, true)">
    <em nz-icon
      nzType="play-circle"
      nzTheme="outline">
    </em>
  </button>
</ng-template>

<ng-template #DisableButton
  let-program="program">
  <button *ngIf="program.programa.habilitado"
    class="btn btn-custom-secondary"
    nzTooltipTitle="Deshabilitar Programa"
    nz-tooltip
    (click)="onUpdateStatus(program._id, program.programa.clave, false)">
    <em nz-icon
      nzType="pause-circle"
      nzTheme="outline"></em>
  </button>
</ng-template>