<div class="pt-5 pb-5">
  <ngx-spinner bdColor="rgba(0,0,0,0.80)"
    size="large"
    color="#fff"
    type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="font-size: 2rem; color: white !important; margin-top:1rem">Procesando...</p>
  </ngx-spinner>
  <app-sections-header [title]="'Administrar Solicitudes'"></app-sections-header>
  
  <app-apoyos-select (emitSelected)="updateSelectedApoyo($event)"></app-apoyos-select>

  <section class="row mt-2">
    <div class="col-md-2 col-sm-4"
      *ngFor="let kpi of kpiList | keyvalue:onCompare">
      <app-mini-kpi [kpiData]="kpi.value"
        (typeOutput)="onKpiSelect($event)"></app-mini-kpi>
    </div>
  </section>

  <!-- Filter section  -->
  <section class="pt-5">
    <div class="row">
      <div class="col-md-3">
        <h5>Filtrar Por Municipio</h5>
        <div class="d-flex">
          <nz-select class="w-100"
            (ngModelChange)="updateSelectedMunicipio($event)"
            [(ngModel)]="selectedMunicipio"
            nzShowSearch
            nzAllowClear>
            <nz-option nzValue="-"
              nzLabel="Selecciona un municipio"></nz-option>
            <nz-option *ngFor="let item of municipioList"
              [nzValue]="item.id_municipio"
              nzLabel="{{ item.nombre_municipio }}"></nz-option>
            <nz-option nzValue="externo"
              nzLabel="Fuera de Guanajuato"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="col-md-2 pt-4 pb-2">
        <button *ngIf="selectedMunicipio !== ''"
          class="btn btn-custom-info h-100"
          (click)="onClearMunicipioFilter()">Limpiar</button>
      </div>
      <div class="col-md-3">
        <h5>Filtrar Palabras Clave</h5>
        <div class="d-flex">
          <nz-input-group nzPrefixIcon="search"
            id="search-request-input">
            <input nz-input
              type="text"
              name="filterWord"
              [(ngModel)]="filterWord"
              placeholder="Palabras clave" />
          </nz-input-group>
        </div>
      </div>
      <div class="col-md-1 pt-4 pb-2">
        <button class="btn btn-custom-primary h-100"
          (click)="onSolicitudFilter()"
          [disabled]="filterWord.length === 0">Buscar</button>
      </div>
      <div class="col-md-1 pt-4 pb-2">
        <button *ngIf="isFiltered"
          class="btn btn-custom-info h-100"
          (click)="onClearFilter()">Limpiar</button>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
      <section *ngIf="notData"
        class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row">
            <div class="d-flex justify-content-center">
              <img class="no-data-icon"
                src="../../../../../assets/images/iconos/no-data.png"
                alt="no_data_found">
            </div>
            <h3 class="text-center">No se encontró información</h3>
          </div>
        </div>
      </section>
      <ng-container *ngIf="!notData">
        <section class="col-sm-12 col-md-6 col-lg-4 mt-4"
          *ngFor="let card of cardList">
          <app-applicant-card [cardData]="card"
            (detailsButtonClickEvent)="onApplicantCardClick($event)"></app-applicant-card>
        </section>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center mt-4 pt-2">
        <nz-pagination (nzPageIndexChange)="onIndexChange($event)"
          [nzPageSize]="paginator.pagination.pageSize"
          [nzPageIndex]="paginator.pagination.pageIndex"
          [nzTotal]="paginator.pagination.totalRecords"></nz-pagination>
      </div>
    </div>
  </section>
</div>

<!--  -->
<pending-modal *ngIf="citizen_modal"
  [modalData]="modalData"
  [selectedKpi]="selectedKpi"
  [configSelected]="configSelected"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></pending-modal>
<!--  -->
<modal-validate-applicant *ngIf="show_validate_modal"
  [modalData]="modalData"
  [selectedKpi]="selectedKpi"
  [configSelected]="configSelected"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></modal-validate-applicant>
<!--  -->
<modal-dictaminate-applicant *ngIf="show_dictamine_modal"
  [modalData]="modalData"
  [selectedKpi]="selectedKpi"
  [configSelected]="configSelected"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></modal-dictaminate-applicant>
<!--  -->
<modal-approved *ngIf="show_approved_modal"
  [modalData]="modalData"
  [selectedKpi]="selectedKpi"
  [configSelected]="configSelected"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></modal-approved>
<!--  -->
<modal-delivered-applicant *ngIf="show_deliver_modal"
  [modalData]="modalData"
  [selectedKpi]="selectedKpi"
  [configSelected]="configSelected"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></modal-delivered-applicant>
<!--  -->
<modal-validate-change *ngIf="show_validate_change_modal"
  [current_status]="selectedStatus"
  [base_list_folios]="base_list_folios"
  [entered_list_folios]="entered_list_folios"
  (applicationUpdateEvent)="onApplicationUpdate($event)"
  (closeModalEvent)="onHideModalClick($event)"></modal-validate-change>
<!--  -->
<modal-rejected-list *ngIf="show_rejected_list_modal"
  [modalData]="modalData"
  (closeModalEvent)="onHideModalClick($event)"></modal-rejected-list>
<!--  -->