.ant-radio-group-large .ant-radio-button-wrapper {
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

// Div that holds all data 
.div-kpi{
  position: relative;

  // div that contains the button and content 
  &-divv-none{
    display: none !important;
    // visibility: hidden !important;
  }

  &-divv{
    position: absolute;
    bottom: -57pt;
    width: 13.5rem;
    border-radius: 0.6rem;
    animation-name: slideInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  // ******************************
  // V A L I D A D A 
  // ******************************
  // content 
  &-validada{
    font-size: 1.5rem;
    background: #eee;
    padding: 0.5rem 0.5rem;
  }
  // badge content 
  &-validada nz-badge{
    position: absolute;
    top: 0pt;
    right: 0pt;
    font-size: 1rem !important;
    color: #FFF !important;
  }
  &-btn-validada{
    // background: #037171;
    background: #DBA159;
    width: 100%;
    border: none;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    text-align: center;
    color: #FFF !important;
  }
  // ******************************
  // D I C T A M I N A C I O N 
  // ******************************
  // content 
  &-en-dictaminacion{
    font-size: 1.5rem;
    background: #eee;
    padding: 0.5rem 0.5rem;
  }
  // badge content 
  &-en-dictaminacion nz-badge{
    position: absolute;
    top: 0pt;
    right: 0pt;
    font-size: 1rem !important;
    color: #FFF !important;
  }
  &-btn-en-dictaminacion{
    // background: #DBA159;
    background: #03312E;
    width: 100%;
    border: none;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    text-align: center;
    color: #FFF !important;
  }
  // ******************************
  // A P R O B A D A 
  // ******************************
  &-aprobada{
    font-size: 1.5rem;
    background: #eee;
    padding: 0.5rem 0.5rem;
  }
  // badge content 
  &-aprobada nz-badge{
    position: absolute;
    top: 0pt;
    right: 0pt;
    font-size: 1rem !important;
    color: #FFF !important;
  }
  &-btn-aprobada{
    // background: #03312E;
    background: #9BD093;
    width: 100%;
    border: none;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    text-align: center;
    color: #FFF !important;
  }

  @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
}

.ant-badge-count, .ant-badge-dot{
  color: #FFFFFF !important;
}

.section-folios{
  margin-top: 8rem;
}

nz-select {
  width: 100% !important;
  height: auto !important;
}

.btn-action-validada{
  background: #DBA159;
  text-align: center;
  color: #FFF !important;
  border: none;
  border-radius: 0.6rem 0.6rem 0 0.6rem !important;
  width: 8rem;
}
.btn-action-dictaminacion{
  background: #03312E;
  text-align: center;
  color: #FFF !important;
  border: none;
  border-radius: 0.6rem 0.6rem 0 0.6rem !important;
  width: 8rem;
}
.btn-action-aprobada{
  background: #9BD093;
  text-align: center;
  color: #FFF !important;
  border: none;
  border-radius: 0.6rem 0.6rem 0 0.6rem !important;
  width: 8rem;
}

.btn-hide {
  display: none;
}
// NEW CODE 
.custom-select{
  border: solid 1px #d0d8c0 !important;
  border-radius: 0.6rem;
  padding: 0.6rem 0.8rem;
  background: #FFF;
}

.no-data-icon{
  width: 5rem;
}