<nz-list>
  <nz-list-item *ngFor="let item of list; let i = index"
    [ngClass]="{ 'bg-contraste-blanco': i % 2 }">
    <!-- Delete document -->
    <button class="btn btn-custom-radio-danger me-3" (click)="onRemove('document', i)">
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
    <!-- document name -->
    <span class="me-5 list-first-column">{{ getItemName(item) }}</span>
    <!-- document examples -->
    <nz-list *ngIf="type === 'document'" class="ms-5">
      <nz-list-item *ngFor="let documento of getTypeList(item); let j = index">
        <button class="btn btn-custom-radio-danger me-3" (click)="onRemove('type', i, j)">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
        {{ documento }}
      </nz-list-item>
      <nz-list-item>
        <input nz-input class="list-second-colum-input"
          placeholder="Agregar ejemplo (presiona enter para agregar)" (keyup.enter)="onAdd($event, 'type', i)"
          nzBorderless />
      </nz-list-item>
    </nz-list>
    <!--  -->
  </nz-list-item>
  <!-- Document input -->
  <nz-list-item>
    <input nz-input class="list-first-column-input"
      placeholder="Agregar elemento (presiona enter para agregar)" (keyup.enter)="onAdd($event, 'document')"
      nzBorderless />
  </nz-list-item>
</nz-list>