@import './functions.scss';

$types: getTypes();

@each $type in $types {
  .bg-color-#{$type} {
    background-color: getBgColor($type) !important;
  }
}

/*
  TODO: delete this styles
*/
.bg-contraste-blanco {
  background: getBgColor('contraste-blanco');
}