@import './functions.scss';

.border-color-success {
  border-color: getBgColor('success') !important;
}

.border-color-warning {
  border-color: getBgColor('warning') !important;
}

.border-color-danger {
  border-color: getBgColor('error') !important;
}

.border-color-primary {
  border-color: getBgColor('azul-principal') !important;
}