$bg-colors: ('pink': #f6e2f2,
  'dark-pink': #f3a4e3,
  'blue': #bcd6ee,
  'dark-blue': #81b8eb,
  'yellow': #fcb467,
  'dark-yellow': #f8a042,
  'green': #bbe0ad,
  'dark-green': #71c751);

$types: ('pink',
  'blue',
  'yellow',
  'green',
  'dark-blue'
);

@mixin card-color($type) {
  background-color: map-get($bg-colors, $type) !important;

  h4 {
    color: map-get($bg-colors, 'dark-'+ $type) !important;
  }

  &:hover {
    background-color: map-get($bg-colors, 'dark-'+ $type) !important;
    color: #FFF !important;

    h4 {
      color: #FFF !important;
    }
  }
}

#peu-kpi-card-container {
  @each $type in $types {
    .kpi-card-color-#{$type} {
      @include card-color($type);

      &.active {
        @include card-color($type);
      }
    }
  }

  .peu-kpi-card {
    border: none;
    box-shadow: 0px 0px 10px 5px rgb(0 0 0 / 15%);
    cursor: pointer;



    &:hover {
      .kpi-data-container {
        background: none !important;
        color: #FFF !important;
      }
    }

    .image-container img {
      height: 55pt !important;
    }

    .kpi-data-container {
      border-radius: 0rem 0.6rem 0.6rem 0;
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

    }
  }
}


.img-beneficiary {
  height: 2.5rem !important;
}
