@use 'sass:math';
@import './functions.scss';

// *************
// *** MODAL ***
// *************
.ant-modal-header {
  background: getBgColor('primary') !important;
}

// Texto del modal 
.ant-modal-header .ng-star-inserted {
  color: getColorTexto('blanco') !important;
  font-size: 1.5rem !important;
}

.ant-modal-close:focus,
.ant-modal-close {
  color: getColorTexto('blanco') !important;
}

// ******************
// *** PAGINATION ***
// ******************
.ant-pagination-item {
  border-radius: 0.6rem !important;

  &:hover {
    border-color: getBgColor('info') !important;
  }

  a {
    text-decoration: none;
  }
}

// Borde del inidicador de la pagina actual
.ant-pagination-item-active {
  border-color: getBgColor('primary') !important;
  background: getBgColor('primary') !important;
  color: getColorTexto('blanco') !important;

  &:hover {
    border-color: getBgColor('dark-primary') !important;
  }

  a {
    color: getColorTexto('blanco') !important;
    text-decoration: none;
  }
}

.ant-pagination-item-link {
  border-radius: 0.6rem !important;
  &:hover {
    border-color: getBgColor('info') !important;
  }
}

// ****************
// *** COLLAPSE ***
// ****************
.ant-collapse {
  border: none !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  background: getBgColor('primary') !important;
  color: getColorTexto('blanco') !important;
  font-size: 1.2rem !important;
  border-radius: 0.6rem !important;
}

nz-select-top-control {
  min-height: 3.1rem !important;
  font-size: 1rem !important;
  padding: 10px !important;
}

// ***************************
// *** TOP SELECT CONTROL  ***
// ***************************
// .ant-select:not(.ant-select-customize-input) .ant-select-selector{
//   min-height: 5.5rem !important;
//   width: 100% !important;
//   overflow: scroll !important;
//   border-radius: 0.6rem 0.6rem !important;
//   padding: 1rem;
// }

// **************
// *** INPUTS ***
// **************
.ant-input-affix-wrapper {
  // border: solid 0.1rem getBgColor('gris-icono') !important;
  border-radius: 0.6rem !important;
}

::placeholder {
  color: getColorTexto('gris-icono') !important;
  opacity: 1 !important;
}

option:not(:first-of-type) {
  color: black !important;
}

// ***************
// *** SELECTS ***
// ***************
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: solid 0.1rem getBgColor('light-gay') !important;
  border-radius: 0.6rem !important;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 0.6rem 0 0 0.6rem !important;
}

.ant-radio-button-wrapper:last-child {
  border-radius: 0 0.6rem 0.6rem 0 !important;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #fff;
  background: getBgColor('primary');
  border-color: getBgColor('primary');
}


// *******************
// *** DATE PICKER ***
// *******************
.ant-picker {
  // border: solid 0.1rem getBgColor('gris-icono') !important;
  border-radius: 0.6rem !important;
  width: 100% !important;
}

// **********************************
// *** LABEL FOR INPUTS / SELECTS ***
// **********************************
.ant-form-item-label {
  width: 100% !important;
  text-align: left;
}

// **************
// *** BUTTONS ***
// **************
.ant-btn-primary {
  background: getBgColor('primary');
  border-color: getBgColor('primary');
}

// **************
// *** TABLE ***
// **************
.ant-table-thead>tr>th {
  background: #014162;
  color: white;
  font-size: medium;
}

.ant-table .ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-body>table>tbody>tr>td>.ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td>.ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-header>table>tbody>tr>td>.ant-table-expanded-row-fixed,
.ant-table.ant-table-bordered>.ant-table-container>.ant-table-summary>table>tbody>tr>td>.ant-table-expanded-row-fixed {
  width: 100% !important;
}

.ant-table-wrapper {
  box-shadow: 0 0 20px rgb(0 0 0 / 15%) !important;
}

// **************
// *** STEPS ****
// **************
.steps-content {
  text-align: center;
  padding: 1rem 3rem;
}

// **************
// *** LIST ****
// **************
.ant-list-item {
  justify-content: flex-start;
}

// ***************************
// *** RADIO BUTTON MULTI ****
// ***************************
.ant-radio-button-wrapper {
  height: auto !important;
}

@mixin multilineRadioButton($numButn) {
  width: math.div(90, $numButn) * 1%;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 576px) {
  .multiline-radio-button-container {
    .multiline-3-radio-button {
      @include multilineRadioButton(1);
    }

    .multiline-5-radio-button {
      @include multilineRadioButton(1);
    }

    .multiline-6-radio-button {
      @include multilineRadioButton(1);
    }

    .multiline-7-radio-button {
      @include multilineRadioButton(1);
    }

    .multiline-8-radio-button {
      @include multilineRadioButton(1);
    }

    .multiline-10-radio-button {
      @include multilineRadioButton(1);
    }
  }
}

@media (min-width: 576px) {
  .multiline-radio-button-container {
    .multiline-3-radio-button {
      @include multilineRadioButton(3);
    }

    .multiline-5-radio-button {
      @include multilineRadioButton(3);
    }

    .multiline-6-radio-button {
      @include multilineRadioButton(3);
    }

    .multiline-7-radio-button {
      @include multilineRadioButton(4);
    }

    .multiline-8-radio-button {
      @include multilineRadioButton(4);
    }

    .multiline-10-radio-button {
      @include multilineRadioButton(5);
    }
  }
}

@media (min-width: 992px) {
  .multiline-radio-button-container {
    .multiline-3-radio-button {
      @include multilineRadioButton(3);
    }

    .multiline-5-radio-button {
      @include multilineRadioButton(5);
    }

    .multiline-6-radio-button {
      @include multilineRadioButton(6);
    }

    .multiline-7-radio-button {
      @include multilineRadioButton(7);
    }

    .multiline-8-radio-button {
      @include multilineRadioButton(8);
    }

    .multiline-10-radio-button {
      @include multilineRadioButton(10);
    }
  }
}

