@import './functions.scss';

$types: getTypes();

// ##################################################################### 
//                  FONT & WEIGHT TEXT
// ##################################################################### 
.bw-text {
  font-weight: getFontWeightText('bold') !important;
}

.tiny-text {
  font-size: getFontSizeText('tiny') !important;
}

.small-text {
  font-size: getFontSizeText('small') !important;
}

.medium-text {
  font-size: getFontSizeText('medium') !important;
}

.big-text {
  font-size: getFontSizeText('big') !important;
}

.bigger-text {
  font-size: getFontSizeText('bigger') !important;
}

.text-center {
  text-align: center !important;
}

// ##################################################################### 
//                  COLORS
// #####################################################################

@each $type in $types {
  .text-#{$type} {
    color: getColor($type);
  }
}

.txt-blanco {
  color: getColorTexto('blanco') !important;
}

.txt-black {
  color: getColorTexto('negro') !important;
}

.color-azul-principal {
  color: getColorTexto('azul-principal') !important;
}

.text-white {
  color: getColorTexto('blanco') !important;
  background: getBgColor('azul-principal');
  border-color: getBgColor('azul-principal');
}

.text-success{
  color: getColorTexto('success') !important;
}

// ##################################################################### 
//                  MODAL MULTIUSES STYLES
// #####################################################################
.title-modal-text{
  font-size: 2.5rem;
}

.span-modal-text{
  font-weight: bold;
  font-size: 1.8rem;
}

.p-modal-text{
  font-size: 1.7rem !important;
}

.icon-modal{
  font-size: 2rem !important;
  margin: 0.3rem 0.3rem !important;
}

.icon-cloud-modal{
  color: getColorTexto('azul-detalle') !important;
  cursor: pointer !important;
  box-shadow: 0 0 0 0 rgba(159, 174, 211, 0.7);
  animation: peffect 2s infinite
  cubic-bezier(0.66,0,0,1);
  border-radius: 50%;
}
@keyframes peffect{
  to{
      box-shadow: 0 0 0 30px rgba(255,249,230,0);
  }
}

.icon-check-modal{
  color: getColorTexto('success') !important;
}