$bg-colors:(
  azul-principal: #014162,
  azul-secundario: #61CDE9,
  azul-detalle: #259cbf,
  error: #F25230,
  contraste-blanco: #f3f3f3,
  blanco: #FFFFFF,
  gris-icono: #5e5c5c,
  light-gay:"#dfdfdf",
  negro: #000000,
  //
  primary: #014162,
  dark-primary: #002538,
  secondary: #989b9f,
  dark-secondary: #58595a,
  danger: #F25230,
  dark-danger: #a73a22,
  warning:#FFB63E,
  dark-warning: #da8a09,
  success: #9BD093,
  dark-success: #4f7a49,
  info: #15bed9,
  dark-info: #065864,
  extra: #223843,
  dark-extra: #324087,
  white: #FFFFFF,
  validate-status: #037171, 
  dictamination-status: #DBA159,
  aproved-status: #03312E,
  observed-status: #15BED9,
  canceled-status: #ffd83e
);

$solid-colors:(azul-principal: #014162,
  azul-secundario: #61CDE9,
  azul-detalle: #259cbf,
  error: #F25230,
  contraste-blanco: #f3f3f3,
  blanco: #FFFFFF,
  gris-icono: #5e5c5c,
  negro: #000000,
  //
  primary: #014162,
  dark-primary: #002538,
  secondary: #989b9f,
  dark-secondary: #58595a,
  danger: #F25230,
  dark-danger: #a73a22,
  warning:#FFB63E,
  dark-warning: #da8a09,
  success: #9BD093,
  dark-success: #4f7a49,
  info: #15bed9,
  dark-info: #065864,
  extra: #223843,
  dark-extra: #324087,
  white: #FFFFFF,
  light-pink: #f6e2f2,
  light-blue: #bcd6ee,
  light-yellow: #fcb467,
  light-gree: #bbe0ad,
  validate-status: #037171, 
  dictamination-status: #DBA159,
  aproved-status: #03312E,
  observed-status: #15BED9,
  canceled-status: #ffd83e
);

$text-colors:(azul-principal: #014162,
  azul-secundario: #61CDE9,
  azul-detalle: #259cbf,
  exito: #9BD093,
  error: #F25230,
  contraste-blanco: #f3f3f3,
  blanco: #FFFFFF,
  icono-ver:#ff9d3f,
  naranja: #ff8f00,
  gris-icono: #5e5c5c,
  negro: #000000,
  //
  primary: #014162,
  dark-primary: #002538,
  secondary: #989b9f,
  dark-secondary: #58595a,
  danger: #F25230,
  dark-danger: #a73a22,
  warning:#FFB63E,
  dark-warning: #da8a09,
  success: #9BD093,
  dark-success: #4f7a49,
  info: #15bed9,
  dark-info: #065864,
  extra: #223843,
  dark-extra: #324087,
  white: #FFFFFF,
  light-pink: #f6e2f2,
  light-blue: #bcd6ee,
  light-yellow: #fcb467,
  light-gree: #bbe0ad,
  validate-status: #037171,
  dark-validate-status: #163d3d,
  dictamination-status: #DBA159,
  aproved-status: #03312E,
  observed-status: #15BED9,
  canceled-status: #ffd83e
);

$fonts-weights:("light": 200,
  "medium": 400,
  "bold": bold,
);

$fonts-size: ("tiny": 1.3rem,
  "small": 1.5rem,
  "medium": 2rem,
  "big": 2.5rem,
  "bigger": 3rem);

$types: ('primary',
  'secondary',
  'danger',
  'warning',
  'dark-warning',
  'success',
  'info',
  'extra',
  'validate-status',
  'dictamination-status',
  'aproved-status',
  'observed-status',
  'canceled-status'
);
