<nz-modal [nzStyle]="{top: '1rem'}"
  nzWidth="90%"
  nzVisible="true"
  nzTitle="{{program.programa.nombre | titlecase }}"
  (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">
  <ng-container *nzModalContent>
    <!-- Headers -->
    <section class="row mb-4 py-3">
      <ng-container *ngTemplateOutlet="id === '' ? CreateProgram : EditProgram"></ng-container>
    </section>





    <article class="row my-4 py-3">
      <!------------------------- DOCUMENTOS ----------------------->
      <section class="col-12">
        <h4>Documentos</h4>
        <app-document-admin [documents]="program.documentos"
          (onChanges)="onDocumentChange($event)"></app-document-admin>
      </section>

      <section class="text-end">
        <button type="button"
          class="btn-custom-success ms-2 me-2 w-btn"
          (click)="onSave()"
          [disabled]="!hasChanges">Guardar</button>
      </section>
    </article>

    <!------------------------- MODALIDADES ----------------------->
    <hr>
    <section class="text-center">
      <button type="button"
        class="btn-custom-info ms-2 me-2 w-btn"
        (click)="onShowModalidades()"
        [disabled]="isShowModalidadesDisabled"> Ver
        Modalidades</button>

      <div *ngIf="isShowModalidadesDisabled"
        class="alert alert-secondary mt-3"
        role="alert">
        Para ver las modalidades es necesario guardar el programa
      </div>
    </section>
  </ng-container>
  <div *nzModalFooter>
    <section class="text-end">
      <button type="button"
        class="btn-custom-secondary ms-2 me-2 w-btn"
        (click)="onClose()"> Cerrar </button>
    </section>
  </div>
</nz-modal>


<ng-template #EditProgram>
  <div class="col-sm-12 col-md-6">
    <h4>Programa</h4>
    <span class="bw-text">{{ program.programa.clave }}: {{ program.programa.nombre | titlecase }}</span>
  </div>
  <div class="col-sm-12 col-md-6">
    <h4>Dependencia</h4>
    <span class="bw-text">{{ program.dependencia.nombre | titlecase }} </span>
  </div>
</ng-template>

<ng-template #CreateProgram>
  <section [formGroup]="formData"
    class="row mb-4 py-3">
    <div class="col-sm-12 col-md-6">
      <nz-form-label nzRequired>
        <h4>Programa</h4>
      </nz-form-label>
      <nz-form-item class="form-group my-3">
        <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
          <nz-input-group nzPrefixIcon="edit">
            <input type="text"
              formControlName="nombre"
              nz-input
              placeholder="Nombre del programa" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div class="col-sm-12 col-md-6">
      <nz-form-item class="form-group my-3">
        <nz-form-label nzRequired>
          <h4>Clave de programa</h4>
        </nz-form-label>
        <nz-form-control nzErrorTip="Por favor, ingrese una clave válida">
          <nz-input-group nzPrefixIcon="edit">
            <input type="text"
              formControlName="clave"
              nz-input
              placeholder="Clave del programa" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <nz-form-item class="form-group my-3 mx-auto">
      <nz-form-label nzRequired>
        <h5>Dependencia</h5>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, selecciona una dependencia válida">
        <nz-select nzShowSearch
          nzAllowClear
          class="w-100"
          formControlName="dependencia"
          nzPlaceHolder="Dependencia de Usuario"
          nzSize="small">
          <nz-option *ngFor="let item of dependencyList"
            nzValue="{{ item._id }}"
            nzLabel="{{ item.siglas }}: {{ item.nombre }}"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="form-group my-3">
      <nz-form-label nzRequired>
        <h4>Objetivo General</h4>
      </nz-form-label>
      <nz-form-control nzErrorTip="Por favor, ingrese un texto válido">
        <textarea formControlName="objetivoGeneral"
          nz-input
          placeholder="Objetivo General"
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
      </nz-form-control>
    </nz-form-item>
  </section>
</ng-template>


<app-modalidad-modal *ngIf="showModalidadModal"
  [program]="program"
  (onClose)="onShowModalidades()"
  (onChange)="onChangeModal()"></app-modalidad-modal>