<div class="row row-cols-sm-1 row-cols-md-2">
  <div *ngFor="let item of standardDocuments" class="col my-5">
    <ngx-dropzone (change)="onSelect($event, 'estandar', item)" accept="application/pdf">
      <ngx-dropzone-label>
        <label class="upload-drag-icon">
          <em nz-icon nzType="inbox"></em>
        </label>
        <br> Da click o arrastra tu archivo
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="files.estandar[item]" [removable]="true" (removed)="onRemove('estandar', item)">
        <ngx-dropzone-label>{{ files.estandar[item] | notEmptyText: 'file' : 'name' }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <h4 class="mt-3">{{ item }}</h4>
    <div *ngIf="files.estandar[item]" class="row row-cols-1 px-5">
      <nz-form-label nzRequired><strong class="mt-3"> Fecha de Vencimiento</strong></nz-form-label>
      <nz-date-picker nzMode="month" [(ngModel)]="files.estandar[item].fechaVigencia" nzValue="small"></nz-date-picker>
    </div>
  </div>
</div>

<hr>

<div class="row row-cols-sm-1 row-cols-md-3">
  <div *ngFor="let item of programDocuments" class="col my-5">
    <ngx-dropzone (change)="onSelect($event, 'especifico', item.documento)" accept="application/pdf">
      <ngx-dropzone-label>
        <label class="upload-drag-icon">
          <em nz-icon nzType="inbox"></em>
        </label>
        <br> Da click o arrastra tu archivo
      </ngx-dropzone-label>
      <ngx-dropzone-preview *ngIf="files.especifico[item.documento]" [removable]="true" (removed)="onRemove('especifico', item.documento)">
        
        <ngx-dropzone-label>{{ files.especifico[item.documento] | notEmptyText: 'file' : 'name' }}</ngx-dropzone-label>
      </ngx-dropzone-preview>
    </ngx-dropzone>
    <h4 class="mt-3">{{ item.documento }}</h4>
    <div *ngIf="files.especifico[item.documento]" class="row row-cols-1 px-5">
      <nz-form-label nzRequired><strong class="mt-3"> Fecha de Vencimiento</strong></nz-form-label>
      <nz-date-picker nzMode="month" [(ngModel)]="files.especifico[item.documento].fechaVigencia" nzValue="small"></nz-date-picker>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <button type="button" class="btn-custom-warning ms-2 me-2" (click)="previousStep()">Regresar un paso</button>
    <button type="button" class="btn-custom-success ms-2 me-2" [disabled]="isDisabled()" (click)="nextStep()">Finalizar</button>
  </div>
</div>
