<div class="modal fade show"
  id="staticBackdropLive" data-backdrop="static" data-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLiveLabel"  aria-modal="true" role="dialog"
  style="display: block; padding-right: 14px; background-color: rgba(0, 0, 0, 0.75);">
  <div class="modal-dialog" style="max-width: 750px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLiveLabel">{{title}}</h5>
      </div>
      <div class="modal-body">
        <p [innerHTML]="content"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="onClick(true)">{{yes}}</button>
        <button *ngIf="no.length" type="button" class="btn btn-danger" (click)="onClick(false)">{{no}}</button>
      </div>
    </div>
  </div>
</div>