<article>
  <form nz-form [formGroup]="formData">
    <section class="row m-0 p-3 bg-contraste-blanco">
      <div class="col-12">
        <h5>Durante la semana pasada ¿usted …</h5>
      </div>
      <div formGroupName="situacionEmpleo" class="col-12 text-center multiline-radio-button-container">
        <nz-form-control nzErrorTip="Por favor, seleccione una opción">
          <nz-radio-group formControlName="codigo" nzButtonStyle="solid" nzSize="small" class="form-group my-3 d-flex">
              <label *ngFor="let opt of workSituationList" nz-radio-button [nzValue]="opt.codigo"
                class="multiline-6-radio-button">{{ opt.descripcion }}</label>
          </nz-radio-group>
        </nz-form-control>
      </div>
    </section>

    <section class="row m-0 p-3">
      <div class="col-12">
        <h5>
          ¿Alguien en su hogar le dieron las siguientes prestaciones por parte de su trabajo, aunque no las hayan
          utilizado?
        </h5>
      </div>
      <div class="col-12 text-center custom-colums-3" formArrayName="prestacionesTrabajo">
        <div *ngFor="let element of prestacionesTrabajo.controls; let i = index;">
          <div class="my-3 d-flex" [formGroupName]="i">
            <nz-switch formControlName="respuesta"></nz-switch>
            <label class="ms-3 text-start">{{ formData.get('prestacionesTrabajo')?.value[i].descripcion }}</label>
          </div>
        </div>
      </div>
    </section>

    <section class="row m-0 p-3 bg-contraste-blanco">
      <div class="col-sm-12 col-md-6">
        <h5>Durante el mes pasado, ¿Cuál fue el ingreso total de su hogar?</h5>
      </div>
      <div class="col-sm-12 col-md-6 counter-form-container">
        <nz-form-item class="form-group my-3">
          <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
            <nz-input-group nzPrefixIcon="dollar">
              <input formControlName="totalIngreso" nz-input placeholder="Ingreso Total del Hogar" type="text">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </section>

    <section class="row m-0 p-3">
      <div class="col-sm-12 col-md-6">
        <h5>
          ¿Cuál es la cantidad total mensual que recibe su hogar por pensión, jubilación o programas gubernamentales?
        </h5>
      </div>
      <div class="col-sm-12 col-md-6 counter-form-container">
        <nz-form-item class="form-group my-3">
          <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
            <nz-input-group nzPrefixIcon="dollar">
              <input formControlName="totalPension" nz-input placeholder="Ingreso Por Pensión" type="text">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </section>

    <section class="row m-0 p-3 bg-contraste-blanco">
      <div class="col-sm-12 col-md-6">
        <h5>
          ¿En su hogar cuánto dinero proveniente de otros países recibe mensualmente? (en dólares)
        </h5>
      </div>
      <div class="col-sm-12 col-md-6 counter-form-container">
        <nz-form-item class="form-group my-3">
          <nz-form-control nzErrorTip="Por favor, ingrese un número válido">
            <nz-input-group nzPrefixIcon="dollar">
              <input formControlName="totalRemesa" nz-input placeholder="Ingreso Proveniente de Otros Países" type="text">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </section>

    <section class="my-4 text-end">
      <button type="button" class="btn-custom-warning ms-2" (click)="onPreviousStepClick()">Regresar un paso</button>
      <button type="button" class="btn-custom-success ms-2" (click)="onNextStepClick()">Continuar</button>
    </section>
  </form>
</article>
