<section class="my-5">
  <app-sections-header [title]="'Administrar Usuarios'" [showDependency]="false"></app-sections-header>

  <article class="my-5">
    <app-status-filter-pills [title]="'Filtrar por Estatus'" [options]="statusList" [selectedOpt]="selectedStatus"
      (onSelectedOpt)="onSelectedStatusChange($event)">
    </app-status-filter-pills>
  </article>

  <article class="my-5">
    <app-debounce-filter-input [title]="'Filtrar por Correo'" (onFilterChange)="onUserFilter($event)">
    </app-debounce-filter-input>
  </article>


  <section class="row my-3">
    <div class="col-md-12 text-end">
      <button class="btn btn-custom-extra m-0" (click)="onCreateUser()" style="height: 3rem;">Agregar usuario</button>
    </div>
  </section>

  <!-- Table -->
  <article class="row my-3">
    <nz-table #rowSelectionTable [nzData]="userList" [nzLoading]="isLoading" [nzLoadingDelay]="2"
      [nzFrontPagination]="false">
      <tbody>
        <ng-container *ngFor="let user of rowSelectionTable.data">
          <tr>
            <!-- Dependencia -->
            <td>
              <h6>{{ getUserDependencyName(user.dependencia._id) }}</h6>
            </td>

            <!-- user data -->
            <td>
              <section class="row">
                <div class="col-auto">
                  <img style="height: 3rem;"
                    src="{{user.urlImage != '' ? user.urlImage : '../../../../../assets/images/iconos/users/user.jpg'}}"
                    onerror="this.onerror=null; this.src='../../../../../assets/images/iconos/users/user.jpg'"
                    alt="Foto de {{user.fullName}}">
                </div>

                <!-- User data -->
                <div class="col">
                  <h6>{{ user.fullName }}</h6>
                  <label class="text-secondary">{{ user.email }}</label>
                </div>
              </section>
            </td>

            <!-- Role select -->
            <td>
              <ng-container *ngFor="let rol of user.roles"> <nz-tag *ngIf="rol.isEnabled && getUserRoleName(rol.uid)!=''" [nzColor]="filterUserValidRoles(rol.uid)">{{ getUserRoleName(rol.uid) }}</nz-tag> </ng-container>
            </td>

            <!-- Actions -->
            <td>
              <ng-container *ngIf="user?.status== 'Enabled'">
                  <!-- Editar -->
                  <button class="btn btn-sm btn-custom-info" nzTooltipTitle="Editar Usuario" (click)="onEditUser(user)" nz-tooltip>
                    <em nz-icon nzType="edit" nzTheme="outline"></em>
                  </button>
                  <!-- delete -->
                  <button class="btn btn-sm btn-danger" nzTooltipTitle="Desactivar Usuario" (click)="onDisableUser(user._id)" nz-tooltip>
                    <em nz-icon nzType="stop" nzTheme="outline"></em>
                  </button>
              </ng-container>
              <ng-container *ngIf="user?.status== 'Disabled'">
                  <!-- Enable -->
                  <button class="btn btn-sm btn-success" nzTooltipTitle="Activar Usuario" (click)="onEnableUser(user._id)" nz-tooltip>
                    <em nz-icon nzType="play-circle" nzTheme="outline"></em>
                  </button>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </article>

  <div class="col-md-12 d-flex justify-content-center my-5">
    <nz-pagination (nzPageIndexChange)="onIndexChange($event)" [nzPageSize]="paginator.pagination.pageSize"
      [nzPageIndex]="paginator.pagination.pageIndex" [nzTotal]="paginator.pagination.totalRecords">
    </nz-pagination>
  </div>
</section>

<app-create-user-modal *ngIf="showAddUserModal" (onCloseModal)="onCloseModal($event)"></app-create-user-modal>
<app-edit-user-modal *ngIf="showEditUserModal" [user]="selectedUser" (onCloseModal)="onCloseModal($event)"></app-edit-user-modal>
<app-yes-no-modal *ngIf="showYesNoModal" [title]="confirmModalTitle" [content]="confirmModalMsg" (isAccept)="onModalAccept($event)"></app-yes-no-modal>