.ant-radio-group-large .ant-radio-button-wrapper {
  height: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
}

.ant-select,
nz-select,
nz-select-top-control {
  width: 75% !important;
}

button {
  em {
    font-size: 1.5rem;
  }
}

.btn-custom-radio {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  em {
    font-size: 1rem !important;
  }
}