<nz-card style="width: 100%;" >
    <nz-tabset nzSize="small" nzType="card" nzCentered >
      <nz-tab nzTitle="Permisos">
        <nz-card  nzSize="small" [nzExtra]="extraTemplate" [nzBordered]="false" [nzBodyStyle]="{padding:'0'}">
          <div *ngIf="actionList">
            <app-action-list-item [actionList]="actionList" [rol]="rol"></app-action-list-item>
          </div>
        </nz-card>
      </nz-tab>
      <nz-tab nzTitle="Datos del Rol">
        <div class="text-end pb-3">
          <button class="btn btn-sm btn-primary" (click)="onEditEmiter(rol)" >
            Editar
          </button>
        </div>
        <nz-descriptions  nzBordered nzSize="small">
          <nz-descriptions-item nzTitle="Ruta principal">{{rol.mainRoute}}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Clave" [nzSpan]="2">{{rol.key}}</nz-descriptions-item>
        </nz-descriptions> 
        <hr>
        <nz-table *ngIf="rol?.requirements?.length>0" class="requirementTable" [nzData]="rol?.requirements" nzSize="small" nzBordered>
          <thead >
            <tr>
              <th >Nombre</th>
              <th >Descripción</th>
              <th >Multiple</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let requirement of rol?.requirements">
              <td>{{ requirement.name }}</td>
              <td>{{ requirement.description }}</td>
              <td nzAlign="center"><i nz-icon [nzType]="requirement.isMultiple?'check-circle':'close-circle'" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="requirement.isMultiple?'#52c41a':'#dc3545'"></i></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
</nz-card>


<ng-template #extraTemplate>
  <div class="btn-group">
    <button class="btn btn-sm btn-outline-primary" (click)="collapseAll(false)">
      Expandir
    </button>
    <button class="btn btn-sm btn-outline-primary" (click)="collapseAll(true)">
      Contraer
    </button>
  </div>
</ng-template>