<nz-modal [nzStyle]="{top: '1rem'}" nzWidth="50%" nzVisible="true" nzTitle="Crear Usuario" (nzOnCancel)="onClose()"
  (nzOnOk)="onClose()">
  <ng-container *nzModalContent class="px-5">
    <div class="card-body">
      <form [formGroup]="formData">
        <div class="m-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>Nombre Completo</h5>
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un nombre válido">
              <nz-input-group nzPrefixIcon="idcard">
                <input type="tel" nz-input placeholder="Nombre completo del usuario" formControlName="name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="m-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>Correo Electrónico</h5>
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor, ingrese un correo válido">
              <nz-input-group nzPrefixIcon="mail">
                <input type="tel" nz-input placeholder="Correo electrónico del usuario" formControlName="email" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="my-3 mx-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>Dependencia de Usuario</h5>
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor, selecciona una dependencia válida">
              <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="dependency" nzPlaceHolder="Dependencia de Usuario"
                nzSize="small">
                <nz-option *ngFor="let item of dependencyList" nzValue="{{ item._id }}" nzLabel="{{ item.siglas }}: {{ item.nombre }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="my-3 mx-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>Oficina</h5>
            </nz-form-label>
            <nz-form-control
              nzErrorTip="Por favor, selecciona una oficina válida">
              <h6 class="text-muted">{{ selectedDependency.length ? '' : 'Por favor, selecciona una dependencia' }}</h6>
              <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="office"
                nzPlaceHolder="Oficina de Usuario" nzSize="small" [nzDisabled]="selectedDependency.length ? false : true">
                <ng-container *ngFor="let item of ventanillaList">
                  <nz-option-group [nzLabel]="item.clave">
                    <nz-option [nzValue]="item._id+'|'+item.clave" [nzLabel]="item.descripcion"></nz-option>
                  </nz-option-group>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div class="my-3 mx-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>Rol</h5>
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor, selecciona una oficina válida">
              <nz-select nzShowSearch nzAllowClear class="w-100" formControlName="role" nzPlaceHolder="Rol de Usuario"
                nzSize="small">
                <nz-option *ngFor="let item of roleList" nzValue="{{ item._id }}" nzLabel="{{ item.name }}"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>

      <hr class="my-5">

      <form [formGroup]="formRequirements">
        <div *ngFor="let config of formConfigurationArray" class="my-3 mx-3">
          <nz-form-item class="form-group my-3 mx-auto">
            <nz-form-label nzRequired>
              <h5>{{ config.inputName | titlecase }}</h5>
            </nz-form-label>
            <nz-form-control nzErrorTip="Por favor, selecciona una opción válida">
              <nz-select nzShowSearch nzAllowClear class="w-100" [formControlName]="config.formControl"
                nzPlaceHolder="{{ config.placeholder | titlecase }} de Usuario" nzSize="small"
                [nzMode]="config.isMultiple ? 'multiple' : 'default'"
                [nzMaxMultipleCount]="config.isMultiple ? 1000 : 1">
                <ng-container *ngFor="let requirement of config.options; let i = index">
                  <nz-option-group [nzLabel]="config.groupLabelFunc(requirement, i)">
                    <nz-option [nzValue]="config.optionValueFunc(requirement)"
                      [nzLabel]="config.optionLabelFunc(requirement)"></nz-option>
                  </nz-option-group>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </form>
    </div>
  </ng-container>
  <div *nzModalFooter class="">
    <button class="btn btn-custom-warning me-3" (click)="onClose()">Cancelar</button>
    <button class="btn btn-custom-success ms-3" (click)="onSaveUser()" [disabled]="!formData.valid">Guardar</button>
  </div>
</nz-modal>