<article class="kpi-control-card kpi-color-{{ kpiData | notEmptyText: 'class'}}"
  [ngClass]="selectedClass()"
  (click)="onStatusClick()">
  <section class="kpi-control-card-count"
    nz-tooltip
    [nzTooltipTitle]="(kpiData | notEmptyText: 'count') | formatIndicatorKpiNumber : 'tooltip'"
    [nzTooltipColor]="(kpiData | notEmptyText: 'color')">
    {{(kpiData | notEmptyText: 'count') | formatIndicatorKpiNumber : 'indicator'}}
  </section>
  <section class="kpi-control-card-title color-{{ kpiData | notEmptyText: 'class'}}">
    {{ kpiData | notEmptyText: 'title'}}
  </section>
</article>