<section id="login-form-container" class="py-5 mx-auto">
  <h2>Ventanilla</h2>
  <h1 class="mb-5"><strong>IMPULSO</strong></h1>
  <button class="mat-raised-button" (click)="loginWithGoogle()">
    <p>Entrar con Google</p>
  </button>
</section>

<app-auth-modal *ngIf="showUserModal" [googleToken]="googleToken" (onCloseModal)="onCloseModal()"></app-auth-modal>

<app-yes-no-modal
  *ngIf="showAvisoPrivacidadModal"
  [title]="'Términos y condiciones de uso de la Plataforma Digital '"
  [content]="avisoMsg"
  [yes]="'Acepto'"
  [no]="''"
  (isAccept)="acceptAvisoPrivacidad($event)"
>
</app-yes-no-modal>
