#login-form-container {
  // width: 300px;
  .google-button-container {
    width: 400px;
    // font-size: 10px;
  }

  iframe {
    width: 500px !important;
  }
}

.ant-input-affix-wrapper {
  border: solid 2px #cecdcd !important;
}


.mat-raised-button{
  height: 2rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1A73E8;

  p{
    color: #FFF !important;
  }
}